Repository gitpod-io/gitpod, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gitpod-io/engineering-leadership, @gitpod-io/team-experience, @gitpod-io/team-enterprise, @gitpod-io/engineering-staff-engineers, @gitpod-io/team-engine

Branch Protection Monitor Workflow (#20386)
  .github/workflows/Monitor Branch Protection Changes.yml
Owners: none

[workspace] Bump docker-compose to v2.30.3-gitpod.0
  WORKSPACE.yaml
Owners: none

[preview] update to gen117 image
  dev/preview/infrastructure/modules/gce/variables.tf
  dev/preview/infrastructure/variables.tf
Owners: none

[tests] show dotfile installing failure reason
  test/tests/components/ws-manager/dotfiles_test.go
Owners: none

[server] increase `getToken` bucket size
  components/gitpod-cli/cmd/credential-helper.go
  components/server/src/auth/rate-limiter.ts
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

[server] increase `getToken` bucket size (#20398)
  components/gitpod-cli/cmd/credential-helper.go
  components/server/src/auth/rate-limiter.ts
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

[preview] update to gen117 image (#20395)
  dev/preview/infrastructure/modules/gce/variables.tf
  dev/preview/infrastructure/variables.tf
Owners: none

Clean up `repositoryFinderSearch`feature flag
  components/dashboard/src/data/featureflag-query.ts
  components/dashboard/src/data/git-providers/search-repositories-query.ts
  components/server/src/bitbucket-server/bitbucket-server-repository-provider.ts
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

Fix `test_getUserRepos_ok` test
  components/server/src/bitbucket-server/bitbucket-server-repository-provider.spec.ts
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

Clean up `repositoryFinderSearch` feature flag (#20399)
  components/dashboard/src/data/featureflag-query.ts
  components/dashboard/src/data/git-providers/search-repositories-query.ts
  components/server/src/bitbucket-server/bitbucket-server-repository-provider.spec.ts
  components/server/src/bitbucket-server/bitbucket-server-repository-provider.ts
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

Don't be so chatty when `hasReadAccess` throws
  components/server/src/bitbucket/bitbucket-repository-provider.ts
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

Don't be so chatty when `hasReadAccess` throws (#20400)
  components/server/src/bitbucket/bitbucket-repository-provider.ts
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

Fix dotfile tests
  test/tests/components/ws-manager/dotfiles_test.go
Owners: none

Add docs
  test/tests/components/ws-manager/dotfiles_test.go
Owners: none

[tests] show dotfile installing failure reason (#20397)
  test/tests/components/ws-manager/dotfiles_test.go
Owners: none

[server] fix more revealing BB error logs
  components/server/src/bitbucket-server/bitbucket-server-context-parser.ts
  components/server/src/bitbucket/bitbucket-context-parser.ts
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

MOORe
  components/server/src/bitbucket/bitbucket-file-provider.ts
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

Update leeway.Dockerfile
  components/server/leeway.Dockerfile
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

Niiii
  components/server/src/auth/jwt.ts
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

[ws-daemon] mount nfs in workspace network
  components/ws-daemon/pkg/iws/iws.go
Owners: @gitpod-io/team-engine, @gitpod-io/team-enterprise

Update proto
  components/public-api/gitpod/experimental/v1/workspaces.proto
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

proto gen
  components/public-api/go/experimental/v1/workspaces.pb.go
  components/public-api/java/src/main/java/io/gitpod/publicapi/experimental/v1/Workspaces.java
  components/public-api/typescript/src/gitpod/experimental/v1/workspaces_pb.ts
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

protocol update
  components/gitpod-protocol/go/gitpod-service.go
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

convert ide config
  components/public-api-server/pkg/apiv1/workspace.go
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

[ws-daemon] mount nfs in workspace network (#20404)
  components/ws-daemon/pkg/iws/iws.go
Owners: @gitpod-io/team-engine, @gitpod-io/team-enterprise

proto def +1
  components/public-api/gitpod/experimental/v1/workspaces.proto
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

proto gen +1
  components/public-api/go/experimental/v1/workspaces.pb.go
  components/public-api/java/src/main/java/io/gitpod/publicapi/experimental/v1/Workspaces.java
  components/public-api/typescript/src/gitpod/experimental/v1/workspaces_pb.ts
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

papi impl +1
  components/public-api-server/pkg/apiv1/workspace.go
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

impl + 2
  components/public-api-server/pkg/apiv1/workspace.go
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

Update components/public-api-server/pkg/apiv1/workspace.go
  components/public-api-server/pkg/apiv1/workspace.go
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

[papi] add editor info to experimental.v1 (#20405)
  components/gitpod-protocol/go/gitpod-service.go
  components/public-api-server/pkg/apiv1/workspace.go
  components/public-api/gitpod/experimental/v1/workspaces.proto
  components/public-api/go/experimental/v1/workspaces.pb.go
  components/public-api/java/src/main/java/io/gitpod/publicapi/experimental/v1/Workspaces.java
  components/public-api/typescript/src/gitpod/experimental/v1/workspaces_pb.ts
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

[papi] fix unit tests for workspaces service
  components/public-api-server/pkg/apiv1/workspace.go
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

[papi] fix unit tests for workspaces service (#20406)
  components/public-api-server/pkg/apiv1/workspace.go
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

[code] update code image layers
  install/installer/pkg/components/ide-service/ide-configmap.json
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

Introduce `BitbucketHttpError` to redact more effectively
  components/server/src/bitbucket-server/bitbucket-server-context-parser.ts
  components/server/src/bitbucket-server/utils.ts
  components/server/src/bitbucket/bitbucket-context-parser.ts
  components/server/src/bitbucket/bitbucket-file-provider.ts
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

[code] update code image layers (#20408)
  install/installer/pkg/components/ide-service/ide-configmap.json
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

Make it work?
  components/server/src/bitbucket-server/utils.ts
  components/server/src/bitbucket/bitbucket-repository-provider.ts
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

comment fix
  components/server/src/bitbucket-server/utils.ts
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

💶
  components/server/src/bitbucket/bitbucket-context-parser.ts
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

[server] fix more revealing BB error logs (#20402)
  components/server/src/bitbucket-server/bitbucket-server-context-parser.ts
  components/server/src/bitbucket-server/utils.ts
  components/server/src/bitbucket/bitbucket-context-parser.ts
  components/server/src/bitbucket/bitbucket-file-provider.ts
  components/server/src/bitbucket/bitbucket-repository-provider.ts
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

.github/CODEOWNERS:

#
# Changes to the CODEONWERS file have to get reviewed by Engineering Leadership.
#
/.github/CODEOWNERS @gitpod-io/engineering-leadership

/components/blobserve @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/common-go @gitpod-io/engineering-staff-engineers @gitpod-io/team-enterprise
/components/components/scrubber @gitpod-io/engineering-staff-engineers @gitpod-io/team-enterprise
/components/content-service-api @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/content-service @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/dashboard @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/docker-up @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/ee/agent-smith @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/gitpod-cli @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/gitpod-db @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/gitpod-protocol @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/gitpod-protocol/java @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/gitpod-protocol/src/typings/globals.ts @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/ide @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/ide-metrics @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/ide-metrics-api @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/ide-service @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/ide-service-api @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/ide-proxy @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/image-builder-api @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/image-builder-bob @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/image-builder-mk3 @gitpod-io/team-engine @gitpod-io/team-enterprise
/install @gitpod-io/team-engine @gitpod-io/team-enterprise
# By default anything in in /install/installer is shared.
/install/installer
/install/installer/pkg/components/agent-smith @gitpod-io/team-engine @gitpod-io/team-enterprise
/install/installer/pkg/components/blobserve @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/components-ide @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/components-webapp @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/components-workspace @gitpod-io/team-engine @gitpod-io/team-enterprise
/install/installer/pkg/components/content-service @gitpod-io/team-engine @gitpod-io/team-enterprise
/install/installer/pkg/components/dashboard @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/ide-metrics @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/ide-service @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/ide-proxy @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/image-builder-mk3 @gitpod-io/team-engine @gitpod-io/team-enterprise
/install/installer/pkg/components/image-builder-mk3-wsman @gitpod-io/team-engine @gitpod-io/team-enterprise
/install/installer/pkg/components/openvsx-proxy @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/proxy @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/registry-facade @gitpod-io/team-engine @gitpod-io/team-enterprise
/install/installer/pkg/components/spicedb @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/public-api-server @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/server @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/server/ide @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/usage @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/usage-api @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/workspace @gitpod-io/team-engine @gitpod-io/team-enterprise
/install/installer/pkg/components/workspace/ide @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/ws-daemon @gitpod-io/team-engine @gitpod-io/team-enterprise
/install/installer/pkg/components/ws-manager-mk2 @gitpod-io/team-engine @gitpod-io/team-enterprise
/install/installer/pkg/components/ws-manager-bridge @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/ws-proxy @gitpod-io/team-engine @gitpod-io/team-enterprise
/install/installer/pkg/config/versions @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/local-app-api @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/local-app @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/openvsx-proxy @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/proxy @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/public-api @gitpod-io/team-experience @gitpod-io/team-enterprise
# Any team can make changes to the experimental package
/components/public-api/gitpod/experimental @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/public-api-server @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/registry-facade-api @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/registry-facade @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/server @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/server/src/ide-service.* @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/service-waiter @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/supervisor-api/*.proto @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/supervisor @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/usage @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/usage-api @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/workspacekit @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/ws-daemon-api @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/ws-daemon @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/ws-manager-api @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/ws-manager-bridge-api @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/ws-manager-bridge @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/ws-manager-mk2 @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/ws-proxy @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/node-labeler @gitpod-io/team-engine @gitpod-io/team-enterprise
/install/installer/pkg/components/node-labeler @gitpod-io/team-engine @gitpod-io/team-enterprise
/dev/gpctl @gitpod-io/team-engine @gitpod-io/team-enterprise
/dev/gpctl/api/ @gitpod-io/team-experience @gitpod-io/team-enterprise
/dev/loadgen @gitpod-io/team-engine @gitpod-io/team-enterprise

# Preview is shared between all teams.
/dev/preview

# Operations is shared between all teams
/operations
/operations/observability/mixins/IDE @gitpod-io/team-experience @gitpod-io/team-enterprise
/operations/observability/mixins/meta @gitpod-io/team-experience @gitpod-io/team-enterprise
/operations/observability/mixins/workspace @gitpod-io/team-engine @gitpod-io/team-enterprise
# a single review should be enough
/operations/observability/mixins/cross-teams

.github/workflows/ide-*.yml @gitpod-io/team-experience @gitpod-io/team-enterprise
.github/workflows/jetbrains-*.yml @gitpod-io/team-experience @gitpod-io/team-enterprise
.github/workflows/code-nightly.yml @gitpod-io/team-experience @gitpod-io/team-enterprise
.github/workflows/workspace-*.yml @gitpod-io/team-engine @gitpod-io/team-enterprise

#
# Automation
# The following files are updated automatically so we don't want to have a specific code-owner
# A single review is enough. Usually the review will be done by RoboQuat but we don't want to add
# that user as an owner in case we need to manually approve changes
#
/CHANGELOG.md
/components/ide/jetbrains/backend-plugin/gradle-latest.properties
/components/ide/jetbrains/gateway-plugin/gradle-latest.properties

#
# Add so that teams assert we're not breaking each other's integration tests
/test/pkg/agent @gitpod-io/team-engine @gitpod-io/team-enterprise
/test/pkg/integration @gitpod-io/team-experience @gitpod-io/team-engine @gitpod-io/team-enterprise
/test/pkg/report @gitpod-io/team-engine @gitpod-io/team-enterprise
/test/tests/workspace @gitpod-io/team-engine @gitpod-io/team-enterprise
/test/tests/smoke-test @gitpod-io/team-experience @gitpod-io/team-engine @gitpod-io/team-enterprise
/test/tests/ide @gitpod-io/team-experience @gitpod-io/team-enterprise
/test/tests/components/content-service @gitpod-io/team-engine @gitpod-io/team-enterprise
/test/tests/components/database @gitpod-io/team-experience @gitpod-io/team-enterprise
/test/tests/components/image-builder @gitpod-io/team-engine @gitpod-io/team-enterprise
/test/tests/components/server @gitpod-io/team-experience @gitpod-io/team-enterprise
/test/tests/components/ws-daemon @gitpod-io/team-engine @gitpod-io/team-enterprise
