Repository gitpod-io/gitpod, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gitpod-io/engineering-leadership, @gitpod-io/team-experience, @gitpod-io/team-enterprise, @gitpod-io/engineering-staff-engineers, @gitpod-io/team-engine

.github/CODEOWNERS:

#
# Changes to the CODEONWERS file have to get reviewed by Engineering Leadership.
#
/.github/CODEOWNERS @gitpod-io/engineering-leadership

/components/blobserve @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/common-go @gitpod-io/engineering-staff-engineers @gitpod-io/team-enterprise
/components/components/scrubber @gitpod-io/engineering-staff-engineers @gitpod-io/team-enterprise
/components/content-service-api @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/content-service @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/dashboard @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/docker-up @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/ee/agent-smith @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/gitpod-cli @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/gitpod-db @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/gitpod-protocol @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/gitpod-protocol/java @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/gitpod-protocol/src/typings/globals.ts @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/ide @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/ide-metrics @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/ide-metrics-api @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/ide-service @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/ide-service-api @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/ide-proxy @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/image-builder-api @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/image-builder-bob @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/image-builder-mk3 @gitpod-io/team-engine @gitpod-io/team-enterprise
/install @gitpod-io/team-engine @gitpod-io/team-enterprise
# By default anything in in /install/installer is shared.
/install/installer
/install/installer/pkg/components/agent-smith @gitpod-io/team-engine @gitpod-io/team-enterprise
/install/installer/pkg/components/blobserve @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/components-ide @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/components-webapp @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/components-workspace @gitpod-io/team-engine @gitpod-io/team-enterprise
/install/installer/pkg/components/content-service @gitpod-io/team-engine @gitpod-io/team-enterprise
/install/installer/pkg/components/dashboard @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/ide-metrics @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/ide-service @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/ide-proxy @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/image-builder-mk3 @gitpod-io/team-engine @gitpod-io/team-enterprise
/install/installer/pkg/components/image-builder-mk3-wsman @gitpod-io/team-engine @gitpod-io/team-enterprise
/install/installer/pkg/components/openvsx-proxy @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/proxy @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/registry-facade @gitpod-io/team-engine @gitpod-io/team-enterprise
/install/installer/pkg/components/spicedb @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/public-api-server @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/server @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/server/ide @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/usage @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/usage-api @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/workspace @gitpod-io/team-engine @gitpod-io/team-enterprise
/install/installer/pkg/components/workspace/ide @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/ws-daemon @gitpod-io/team-engine @gitpod-io/team-enterprise
/install/installer/pkg/components/ws-manager-mk2 @gitpod-io/team-engine @gitpod-io/team-enterprise
/install/installer/pkg/components/ws-manager-bridge @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/ws-proxy @gitpod-io/team-engine @gitpod-io/team-enterprise
/install/installer/pkg/config/versions @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/local-app-api @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/local-app @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/openvsx-proxy @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/proxy @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/public-api @gitpod-io/team-experience @gitpod-io/team-enterprise
# Any team can make changes to the experimental package
/components/public-api/gitpod/experimental @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/public-api-server @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/registry-facade-api @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/registry-facade @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/server @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/server/src/ide-service.* @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/service-waiter @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/supervisor-api/*.proto @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/supervisor @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/usage @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/usage-api @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/workspacekit @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/ws-daemon-api @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/ws-daemon @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/ws-manager-api @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/ws-manager-bridge-api @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/ws-manager-bridge @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/ws-manager-mk2 @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/ws-proxy @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/node-labeler @gitpod-io/team-engine @gitpod-io/team-enterprise
/install/installer/pkg/components/node-labeler @gitpod-io/team-engine @gitpod-io/team-enterprise
/dev/gpctl @gitpod-io/team-engine @gitpod-io/team-enterprise
/dev/gpctl/api/ @gitpod-io/team-experience @gitpod-io/team-enterprise
/dev/loadgen @gitpod-io/team-engine @gitpod-io/team-enterprise

# Preview is shared between all teams.
/dev/preview

# Operations is shared between all teams
/operations
/operations/observability/mixins/IDE @gitpod-io/team-experience @gitpod-io/team-enterprise
/operations/observability/mixins/meta @gitpod-io/team-experience @gitpod-io/team-enterprise
/operations/observability/mixins/workspace @gitpod-io/team-engine @gitpod-io/team-enterprise
# a single review should be enough
/operations/observability/mixins/cross-teams

.github/workflows/ide-*.yml @gitpod-io/team-experience @gitpod-io/team-enterprise
.github/workflows/jetbrains-*.yml @gitpod-io/team-experience @gitpod-io/team-enterprise
.github/workflows/code-nightly.yml @gitpod-io/team-experience @gitpod-io/team-enterprise
.github/workflows/workspace-*.yml @gitpod-io/team-engine @gitpod-io/team-enterprise

#
# Automation
# The following files are updated automatically so we don't want to have a specific code-owner
# A single review is enough. Usually the review will be done by RoboQuat but we don't want to add
# that user as an owner in case we need to manually approve changes
#
/CHANGELOG.md
/components/ide/jetbrains/backend-plugin/gradle-latest.properties
/components/ide/jetbrains/gateway-plugin/gradle-latest.properties

#
# Add so that teams assert we're not breaking each other's integration tests
/test/pkg/agent @gitpod-io/team-engine @gitpod-io/team-enterprise
/test/pkg/integration @gitpod-io/team-experience @gitpod-io/team-engine @gitpod-io/team-enterprise
/test/pkg/report @gitpod-io/team-engine @gitpod-io/team-enterprise
/test/tests/workspace @gitpod-io/team-engine @gitpod-io/team-enterprise
/test/tests/smoke-test @gitpod-io/team-experience @gitpod-io/team-engine @gitpod-io/team-enterprise
/test/tests/ide @gitpod-io/team-experience @gitpod-io/team-enterprise
/test/tests/components/content-service @gitpod-io/team-engine @gitpod-io/team-enterprise
/test/tests/components/database @gitpod-io/team-experience @gitpod-io/team-enterprise
/test/tests/components/image-builder @gitpod-io/team-engine @gitpod-io/team-enterprise
/test/tests/components/server @gitpod-io/team-experience @gitpod-io/team-enterprise
/test/tests/components/ws-daemon @gitpod-io/team-engine @gitpod-io/team-enterprise

add comments
  .github/workflows/update-image-digest.yml
Owners: none

update index
  install/installer/pkg/components/redis/constants.go
Owners: none

update index (#20506)
  install/installer/pkg/components/redis/constants.go
Owners: none

Make it woooooooork
  components/gitpod-db/src/typeorm/entity/db-team-settings.ts
  components/gitpod-db/src/typeorm/migration/1736261239285-AddOrgOnboardingSettings.ts
  components/gitpod-db/src/typeorm/team-db-impl.ts
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

switch redis-exporter docker image (#20504)
  .github/workflows/update-image-digest.yml
  install/installer/pkg/components/redis/constants.go
  install/installer/pkg/components/redis/deployment.go
Owners: none

[ws-proxy] upgrade golang-crypto (#20499)
  components/local-app/go.mod
  components/local-app/go.sum
  components/supervisor/go.mod
  components/supervisor/go.sum
  components/ws-proxy/go.mod
  components/ws-proxy/go.sum
  dev/preview/previewctl/go.mod
  dev/preview/previewctl/go.sum
  install/installer/go.mod
  install/installer/go.sum
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise, @gitpod-io/team-engine

Enterprise workspace list overhaul
  components/dashboard/src/components/Modal.tsx
  components/dashboard/src/workspaces/EmptyWorkspacesContent.tsx
  components/dashboard/src/workspaces/Workspaces.tsx
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

Classier placeholder
  components/dashboard/src/teams/TeamOnboarding.tsx
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

Remove unneeded fragment
  components/dashboard/src/teams/TeamOnboarding.tsx
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

Introduce `enterprise_onboarding_enabled` flag
  components/dashboard/src/data/featureflag-query.ts
  components/dashboard/src/teams/OrgSettingsPage.tsx
  components/server/src/api/organization-service-api.ts
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

move things properly
  components/dashboard/src/teams/TeamPolicies.tsx
  components/dashboard/src/teams/policies/EditorOptions.tsx
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

add ipv6 localhost
  components/server/src/orgs/organization-service.ts
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

[ws-daemon] Introduce pod count controller
  components/node-labeler/cmd/root.go
  components/node-labeler/cmd/run.go
  components/ws-daemon/pkg/controller/workspace_controller.go
  components/ws-daemon/pkg/daemon/daemon.go
Owners: @gitpod-io/team-engine, @gitpod-io/team-enterprise

remove unnecessary variable
  components/node-labeler/cmd/run.go
Owners: @gitpod-io/team-engine, @gitpod-io/team-enterprise

Autofix: upgrade-nvm-tools
  .devcontainer/Dockerfile
  dev/image/Dockerfile
Owners: none

[dashboard] Insights page improvements (#20467)
  components/dashboard/.vscode/settings.json
  components/dashboard/src/Insights.tsx
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

move to `node-labeler`
  components/node-labeler/BUILD.yaml
  components/node-labeler/cmd/run.go
  components/node-labeler/go.mod
  components/node-labeler/go.sum
  components/ws-daemon/pkg/controller/suite_test.go
  components/ws-daemon/pkg/controller/workspace_controller.go
  components/ws-daemon/pkg/controller/workspace_controller_test.go
  components/ws-daemon/pkg/daemon/daemon.go
  install/installer/pkg/components/node-labeler/role.go
Owners: @gitpod-io/team-engine, @gitpod-io/team-enterprise

act on ws crds
  components/node-labeler/cmd/run.go
  components/node-labeler/cmd/run_test.go
  components/node-labeler/go.mod
  components/node-labeler/go.sum
  components/ws-daemon/pkg/controller/workspace_controller_test.go
  install/installer/pkg/components/node-labeler/role.go
Owners: @gitpod-io/team-engine, @gitpod-io/team-enterprise

Fix runtime not filled in yet
  components/node-labeler/cmd/run.go
Owners: @gitpod-io/team-engine, @gitpod-io/team-enterprise

[workspace] Update workspace dependencies: containerd 1.7.24, buildkit 0.12.5, runc 1.2.2
  components/blobserve/go.mod
  components/blobserve/go.sum
  components/common-go/go-update-wc-deps.sh
  components/ide-service/go.mod
  components/ide-service/go.sum
  components/image-builder-bob/go.mod
  components/image-builder-bob/go.sum
  components/image-builder-mk3/go.mod
  components/image-builder-mk3/go.sum
  components/registry-facade/go.mod
  components/registry-facade/go.sum
  components/ws-daemon/go.mod
  components/ws-daemon/go.sum
  components/ws-daemon/seccomp-profile-installer/go.mod
  components/ws-daemon/seccomp-profile-installer/go.sum
  install/installer/go.mod
  install/installer/go.sum
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise, @gitpod-io/engineering-staff-engineers, @gitpod-io/team-engine

Make tests pass!
  components/node-labeler/BUILD.yaml
  components/node-labeler/cmd/run.go
  components/node-labeler/cmd/run_test.go
  components/node-labeler/crd/workspace.gitpod.io_workspaces.yaml
Owners: @gitpod-io/team-engine, @gitpod-io/team-enterprise

Improve test file structure
  components/node-labeler/cmd/run_test.go
Owners: @gitpod-io/team-engine, @gitpod-io/team-enterprise

Fix `node-labeler:lib` build
  components/node-labeler/BUILD.yaml
Owners: @gitpod-io/team-engine, @gitpod-io/team-enterprise

Remove unnecessary changes
  components/ws-daemon/pkg/controller/suite_test.go
  components/ws-daemon/pkg/controller/workspace_controller_test.go
Owners: @gitpod-io/team-engine, @gitpod-io/team-enterprise

Conditionally show top sections
  components/dashboard/src/dedicated-setup/SetupCompleteStep.tsx
  components/dashboard/src/workspaces/Workspaces.tsx
  components/server/src/api/organization-service-api.ts
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

Refactor PillLabel component usage and improve workspace card layout
  components/dashboard/src/components/PillLabel.tsx
  components/dashboard/src/workspaces/Workspaces.tsx
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

[VS Code Browser] Build stable code `1.96.3`
  WORKSPACE.yaml
Owners: none

Address some review comments (thanks, kyle!)
  components/node-labeler/cmd/run.go
Owners: @gitpod-io/team-engine, @gitpod-io/team-enterprise

Reduce PR scope
  components/dashboard/src/workspaces/Workspaces.tsx
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

Behave nicely in dedicated emulated preview envs
  components/dashboard/src/workspaces/Workspaces.tsx
  components/dashboard/src/workspaces/WorkspacesSearchBar.tsx
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

Make Getting started dismissible
  components/dashboard/src/user-settings/Preferences.tsx
  components/dashboard/src/workspaces/Workspaces.tsx
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

Still show old empty ws page for PAYG
  components/dashboard/src/teams/EditorOptions.tsx
  components/dashboard/src/workspaces/EmptyWorkspacesContent.tsx
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

Use ff to display
  components/dashboard/src/teams/OrgSettingsPage.tsx
  components/dashboard/src/user-settings/Preferences.tsx
  components/dashboard/src/workspaces/Workspaces.tsx
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

Try caching?
  components/node-labeler/cmd/run.go
Owners: @gitpod-io/team-engine, @gitpod-io/team-enterprise

[VS Code Browser] Build stable code `1.96.3` (#20519)
  WORKSPACE.yaml
Owners: none

[VS Code Browser] Update stable code to `1.96.3`
  install/installer/pkg/components/ide-service/ide-configmap.json
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

update index
  components/blobserve/leeway.Dockerfile
  components/content-service/leeway.Dockerfile
  components/dashboard/leeway.Dockerfile
  components/ee/agent-smith/leeway.Dockerfile
  components/ide-metrics/leeway.Dockerfile
  components/ide-proxy/Dockerfile
  components/ide-service/leeway.Dockerfile
  components/ide/jetbrains/backend-plugin/leeway.Dockerfile
  components/ide/jetbrains/image/leeway.Dockerfile
  components/ide/jetbrains/launcher/leeway.Dockerfile
  components/image-builder-mk3/leeway.Dockerfile
  components/leeway.Dockerfile
  components/local-app/leeway.Dockerfile
  components/node-labeler/leeway.Dockerfile
  components/openvsx-proxy/leeway.Dockerfile
  components/proxy/Dockerfile
  components/public-api-server/leeway.Dockerfile
  components/registry-facade/leeway.Dockerfile
  components/service-waiter/leeway.Dockerfile
  components/usage/leeway.Dockerfile
  components/ws-daemon/leeway.Dockerfile
  components/ws-daemon/seccomp-profile-installer/leeway.Dockerfile
  components/ws-manager-mk2/leeway.Dockerfile
  components/ws-proxy/leeway.Dockerfile
  dev/changelog/leeway.Dockerfile
  install/installer/leeway.Dockerfile
  install/installer/pkg/components/redis/constants.go
  test/leeway.Dockerfile
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise, @gitpod-io/team-engine

Queue deleted nodes and periodically reconcile it all
  components/node-labeler/cmd/run.go
Owners: @gitpod-io/team-engine, @gitpod-io/team-enterprise

WCC cleanup function
  components/node-labeler/cmd/run.go
Owners: @gitpod-io/team-engine, @gitpod-io/team-enterprise

Fix tests
  components/node-labeler/cmd/run.go
  components/node-labeler/cmd/run_test.go
Owners: @gitpod-io/team-engine, @gitpod-io/team-enterprise
