Repository gitpod-io/gitpod, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gitpod-io/engineering-leadership, @gitpod-io/team-experience, @gitpod-io/team-enterprise, @gitpod-io/engineering-staff-engineers, @gitpod-io/team-engine

[dashboard] Org Insights page
  components/dashboard/package.json
  components/dashboard/src/Insights.tsx
  components/dashboard/src/app/AppRoutes.tsx
  components/dashboard/src/components/accordion/Accordion.tsx
  components/dashboard/src/data/insights/list-workspace-sessions-query.ts
  components/dashboard/src/insights/WorkspaceSession.tsx
  components/dashboard/src/insights/WorkspaceSessionGroup.tsx
  components/dashboard/src/usage/UsageEntry.tsx
  components/dashboard/src/usage/UsageView.tsx
  components/dashboard/tailwind.config.js
  yarn.lock
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

Post AWS re:Invent cleanup
  components/dashboard/src/AppNotifications.tsx
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

Post AWS re:Invent cleanup (#20429)
  components/dashboard/src/AppNotifications.tsx
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

[code] update code image layers
  install/installer/pkg/components/ide-service/ide-configmap.json
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

[JetBrains] Update IDE images to new build version
  WORKSPACE.yaml
  install/installer/pkg/components/ide-service/ide-configmap.json
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

[server, dashboard] Introduce "enable_multi_org" feature flag to allow admin-user to create organizations
  components/dashboard/src/data/featureflag-query.ts
  components/dashboard/src/menu/OrganizationSelector.tsx
  components/public-api/typescript-common/src/user-utils.ts
  components/server/src/orgs/organization-service.ts
  components/server/src/user/user-authentication.ts
  components/server/src/workspace/gitpod-server-impl.ts
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

debug whitelist JetBrains
  components/server/src/user/user-service.ts
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

WIP: upgrade to latest version
  components/ide/jetbrains/toolbox/README.md
  components/ide/jetbrains/toolbox/build.gradle.kts
  components/ide/jetbrains/toolbox/gradle/libs.versions.toml
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/auth/GitpodAuthManager.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/auth/GitpodLoginPage.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/components/AbstractUiPage.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/components/Icon.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/gateway/GitpodRemoteProvider.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/gateway/GitpodRemoteProviderEnvironment.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/gateway/GitpodSSHEnvironmentContentsView.kt
  components/ide/jetbrains/toolbox/src/main/resources/extension.json
  components/ide/jetbrains/toolbox/src/main/resources/icon-colored.svg
  components/ide/jetbrains/toolbox/src/main/resources/icon.svg
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

[JetBrains] try it out
  .idea/gradle.xml
  .idea/misc.xml
  components/ide/jetbrains/toolbox/.gitattributes
  components/ide/jetbrains/toolbox/.gitignore
  components/ide/jetbrains/toolbox/README.md
  components/ide/jetbrains/toolbox/build.gradle.kts
  components/ide/jetbrains/toolbox/gradle.properties
  components/ide/jetbrains/toolbox/gradle/libs.versions.toml
  components/ide/jetbrains/toolbox/gradle/wrapper/gradle-wrapper.jar
  components/ide/jetbrains/toolbox/gradle/wrapper/gradle-wrapper.properties
  components/ide/jetbrains/toolbox/gradlew
  components/ide/jetbrains/toolbox/gradlew.bat
  components/ide/jetbrains/toolbox/settings.gradle.kts
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/auth/GitpodAuthManager.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/auth/GitpodLoginPage.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/components/AbstractUiPage.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/components/Button.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/components/Icon.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/gateway/GitpodGatewayExtension.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/gateway/GitpodRemoteProvider.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/gateway/GitpodRemoteProviderEnvironment.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/gateway/GitpodSSHEnvironmentContentsView.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/gateway/GitpodSettings.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/gateway/GitpodUriHandler.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/service/DataManager.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/service/GitpodConnectionProvider.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/service/GitpodPublicApiManager.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/service/GitpodWebSocketTunnelServer.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/service/Utils.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/utils/GitpodLogger.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/utils/await.kt
  components/ide/jetbrains/toolbox/src/main/resources/META-INF/services/com.jetbrains.toolbox.gateway.GatewayExtension
  components/ide/jetbrains/toolbox/src/main/resources/dependencies.json
  components/ide/jetbrains/toolbox/src/main/resources/extension.json
  components/ide/jetbrains/toolbox/src/main/resources/icon.svg
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

Upgrade Kotlin to 2
  components/ide/jetbrains/toolbox/build.gradle.kts
  components/ide/jetbrains/toolbox/gradle/libs.versions.toml
  components/public-api/java/build.gradle.kts
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

Reuse the same tunnel for an environment
  components/ide/jetbrains/toolbox/gradle/wrapper/gradle-wrapper.properties
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/auth/GitpodAuthManager.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/components/AbstractUiPage.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/gateway/GitpodRemoteEnvironment.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/gateway/GitpodRemoteEnvironmentContentsView.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/gateway/GitpodRemoteProvider.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/gateway/GitpodSSHEnvironmentContentsView.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/service/DataManager.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/service/GitpodConnectionProvider.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/service/GitpodPublicApiManager.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/service/GitpodWebSocketTunnelServer.kt
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

Add TODO
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/gateway/GitpodRemoteProviderEnvironment.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/gateway/GitpodSSHEnvironmentContentsView.kt
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

Improve workspace phase state rendering
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/gateway/GitpodRemoteEnvironment.kt
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

wip
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/gateway/GitpodRemoteEnvironment.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/service/Utils.kt
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

Migrate to `2.6.0.35616`
  components/ide/jetbrains/toolbox/build.gradle.kts
  components/ide/jetbrains/toolbox/gradle/libs.versions.toml
  components/ide/jetbrains/toolbox/gradle/wrapper/gradle-wrapper.properties
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/auth/GitpodAuthManager.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/auth/GitpodLoginPage.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/components/AbstractUiPage.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/components/Button.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/components/Icon.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/gateway/GitpodGatewayExtension.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/gateway/GitpodRemoteEnvironment.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/gateway/GitpodRemoteEnvironmentContentsView.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/gateway/GitpodRemoteProvider.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/gateway/GitpodUriHandler.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/service/Data.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/service/GitpodConnectionProvider.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/service/GitpodPublicApiManager.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/service/GitpodWebSocketTunnelServer.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/service/Utils.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/utils/GitpodLogger.kt
  components/ide/jetbrains/toolbox/src/main/resources/META-INF/services/com.jetbrains.toolbox.api.remoteDev.RemoteDevExtension
  components/ide/jetbrains/toolbox/src/main/resources/extension.json
  components/ide/jetbrains/toolbox/src/main/resources/icon-colored.svg
  components/ide/jetbrains/toolbox/src/main/resources/icon-gray.svg
  components/ide/jetbrains/toolbox/src/main/resources/icon.svg
  components/public-api/java/build.gradle.kts
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

Make it build with leeway
  components/ide/jetbrains/toolbox/BUILD.yaml
  components/ide/jetbrains/toolbox/build.gradle.kts
  components/ide/jetbrains/toolbox/build.sh
  components/ide/jetbrains/toolbox/gradle.properties
  components/ide/jetbrains/toolbox/settings.gradle.kts
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

[dashboard] introduce "/?orgSlug=", which allows to pre-select an org in a "create workspace" URL (e.g. "/?orgSlug=org1#github.com/my/repo")
  components/dashboard/src/data/organizations/orgs-query.ts
  components/dashboard/src/login/SSOLoginForm.tsx
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

Prefer existing DB values for metrics
  components/ws-manager-bridge/src/bridge.ts
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

Autofix: upgrade-nvm-tools
  .devcontainer/Dockerfile
  dev/image/Dockerfile
Owners: none

Migrate to `2.6.0.35616`
  components/ide/jetbrains/toolbox/BUILD.yaml
  components/ide/jetbrains/toolbox/build.gradle.kts
  components/ide/jetbrains/toolbox/build.sh
  components/ide/jetbrains/toolbox/gradle.properties
  components/ide/jetbrains/toolbox/gradle/libs.versions.toml
  components/ide/jetbrains/toolbox/gradle/wrapper/gradle-wrapper.properties
  components/ide/jetbrains/toolbox/settings.gradle.kts
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/auth/GitpodAuthManager.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/auth/GitpodLoginPage.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/components/AbstractUiPage.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/components/Button.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/components/Icon.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/gateway/GitpodGatewayExtension.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/gateway/GitpodRemoteEnvironment.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/gateway/GitpodRemoteEnvironmentContentsView.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/gateway/GitpodRemoteProvider.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/gateway/GitpodUriHandler.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/service/Data.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/service/GitpodConnectionProvider.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/service/GitpodPublicApiManager.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/service/GitpodWebSocketTunnelServer.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/service/Utils.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/utils/GitpodLogger.kt
  components/ide/jetbrains/toolbox/src/main/resources/META-INF/services/com.jetbrains.toolbox.api.remoteDev.RemoteDevExtension
  components/ide/jetbrains/toolbox/src/main/resources/extension.json
  components/ide/jetbrains/toolbox/src/main/resources/icon-colored.svg
  components/ide/jetbrains/toolbox/src/main/resources/icon-gray.svg
  components/ide/jetbrains/toolbox/src/main/resources/icon.svg
  components/public-api/java/build.gradle.kts
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

[db] Auto-delete container "test-mysql" if it's already present
  components/gitpod-db/BUILD.yaml
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

fix tests
  components/server/src/orgs/organization-service.spec.ts
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

[dashboard] Check if localStorage is available before using it
  components/dashboard/src/login/SSOLoginForm.tsx
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

Copy proto comments over to protocol type
  components/gitpod-protocol/src/workspace-instance.ts
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

[dashboard] SSOLogin: fix orgSlug source precedence to: path/search/localStorage
  components/dashboard/src/login/SSOLoginForm.tsx
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

Add WS image metrics to workspace instances (#20426)
  components/gitpod-db/src/typeorm/entity/db-workspace-instance.ts
  components/gitpod-db/src/typeorm/migration/1733397172273-AddWorkspaceInstanceMetrics.ts
  components/gitpod-protocol/src/workspace-instance.ts
  components/public-api/gitpod/v1/workspace.proto
  components/public-api/go/v1/workspace.pb.go
  components/public-api/java/src/main/java/io/gitpod/publicapi/v1/WorkspaceOuterClass.java
  components/public-api/typescript-common/fixtures/toWorkspaceSession_1.golden
  components/public-api/typescript-common/fixtures/toWorkspaceSession_1.json
  components/public-api/typescript-common/fixtures/toWorkspaceSession_2.golden
  components/public-api/typescript-common/fixtures/toWorkspaceSession_2.json
  components/public-api/typescript-common/fixtures/toWorkspaceSession_3.golden
  components/public-api/typescript-common/fixtures/toWorkspaceSession_3.json
  components/public-api/typescript-common/fixtures/toWorkspaceSession_4.golden
  components/public-api/typescript-common/src/public-api-converter.ts
  components/public-api/typescript/src/gitpod/v1/workspace_pb.ts
  components/ws-manager-api/core.proto
  components/ws-manager-api/go/core.pb.go
  components/ws-manager-api/go/core_grpc.pb.go
  components/ws-manager-api/go/mock/mock.go
  components/ws-manager-api/typescript/src/core_grpc_pb.d.ts
  components/ws-manager-api/typescript/src/core_grpc_pb.js
  components/ws-manager-api/typescript/src/core_pb.d.ts
  components/ws-manager-api/typescript/src/core_pb.js
  components/ws-manager-bridge/src/bridge.ts
  components/ws-manager-mk2/service/manager.go
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise, @gitpod-io/team-engine

[server] Deny "joinOrganization" for org-owned users
  components/server/src/orgs/organization-service.ts
  components/server/src/workspace/gitpod-server-impl.ts
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

fix tests for real
  components/server/src/orgs/organization-service.spec.ts
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

Update Platform Version of JetBrains Backend Plugin (EAP) to
  components/ide/jetbrains/backend-plugin/gradle-latest.properties
Owners: none

Update Platform Version of JetBrains Gateway Plugin (EAP) to
  components/ide/jetbrains/gateway-plugin/gradle-latest.properties
Owners: none

Pagination, date filters and downloads
  components/dashboard/src/Insights.tsx
  components/dashboard/src/data/insights/list-workspace-sessions-query.ts
  components/dashboard/src/insights/WorkspaceSessionGroup.tsx
  components/dashboard/src/insights/download/DownloadInsights.tsx
  components/dashboard/src/insights/download/download-sessions.ts
  components/dashboard/src/usage/download/DownloadUsage.tsx
  components/dashboard/src/usage/download/download-usage-csv.ts
  components/gitpod-db/src/typeorm/workspace-db-impl.ts
  components/public-api/typescript-common/src/public-api-converter.spec.ts
  components/server/src/api/workspace-service-api.ts
  components/server/src/workspace/workspace-service.ts
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

[server] Create OrgService.createOrgOwnedUser, and use that across tests to fix the "can't join org" permission issues
  components/server/src/iam/iam-session-app.spec.ts
  components/server/src/iam/iam-session-app.ts
  components/server/src/orgs/organization-service.spec.db.ts
  components/server/src/orgs/organization-service.ts
  components/server/src/user/env-var-service.spec.db.ts
  components/server/src/user/gitpod-token-service.spec.db.ts
  components/server/src/user/sshkey-service.spec.db.ts
  components/server/src/user/token-service.spec.db.ts
  components/server/src/user/user-service.spec.db.ts
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

Update components/server/src/orgs/organization-service.ts
  components/server/src/orgs/organization-service.ts
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

Gpl/970-multi-org-tests (#20436)
  components/server/src/iam/iam-session-app.spec.ts
  components/server/src/iam/iam-session-app.ts
  components/server/src/orgs/organization-service.spec.db.ts
  components/server/src/orgs/organization-service.spec.ts
  components/server/src/orgs/organization-service.ts
  components/server/src/user/env-var-service.spec.db.ts
  components/server/src/user/gitpod-token-service.spec.db.ts
  components/server/src/user/sshkey-service.spec.db.ts
  components/server/src/user/token-service.spec.db.ts
  components/server/src/user/user-service.spec.db.ts
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

Safety limits for pagination and prettier icons
  components/dashboard/src/Insights.tsx
  components/dashboard/src/insights/download/download-sessions.ts
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

UI improvements
  components/dashboard/src/Insights.tsx
  components/dashboard/src/insights/WorkspaceSessionGroup.tsx
  components/dashboard/src/insights/download/download-sessions.ts
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

[code] update code image layers
  install/installer/pkg/components/ide-service/ide-configmap.json
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

[JetBrains] Update IDE images to new build version
  WORKSPACE.yaml
  install/installer/pkg/components/ide-service/ide-configmap.json
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

Enhance `from` date to capture whole day
  components/dashboard/src/Insights.tsx
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

Update Platform Version of JetBrains Backend Plugin (EAP) to
  components/ide/jetbrains/backend-plugin/gradle-latest.properties
Owners: none

.github/CODEOWNERS:

#
# Changes to the CODEONWERS file have to get reviewed by Engineering Leadership.
#
/.github/CODEOWNERS @gitpod-io/engineering-leadership

/components/blobserve @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/common-go @gitpod-io/engineering-staff-engineers @gitpod-io/team-enterprise
/components/components/scrubber @gitpod-io/engineering-staff-engineers @gitpod-io/team-enterprise
/components/content-service-api @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/content-service @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/dashboard @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/docker-up @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/ee/agent-smith @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/gitpod-cli @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/gitpod-db @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/gitpod-protocol @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/gitpod-protocol/java @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/gitpod-protocol/src/typings/globals.ts @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/ide @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/ide-metrics @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/ide-metrics-api @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/ide-service @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/ide-service-api @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/ide-proxy @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/image-builder-api @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/image-builder-bob @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/image-builder-mk3 @gitpod-io/team-engine @gitpod-io/team-enterprise
/install @gitpod-io/team-engine @gitpod-io/team-enterprise
# By default anything in in /install/installer is shared.
/install/installer
/install/installer/pkg/components/agent-smith @gitpod-io/team-engine @gitpod-io/team-enterprise
/install/installer/pkg/components/blobserve @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/components-ide @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/components-webapp @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/components-workspace @gitpod-io/team-engine @gitpod-io/team-enterprise
/install/installer/pkg/components/content-service @gitpod-io/team-engine @gitpod-io/team-enterprise
/install/installer/pkg/components/dashboard @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/ide-metrics @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/ide-service @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/ide-proxy @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/image-builder-mk3 @gitpod-io/team-engine @gitpod-io/team-enterprise
/install/installer/pkg/components/image-builder-mk3-wsman @gitpod-io/team-engine @gitpod-io/team-enterprise
/install/installer/pkg/components/openvsx-proxy @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/proxy @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/registry-facade @gitpod-io/team-engine @gitpod-io/team-enterprise
/install/installer/pkg/components/spicedb @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/public-api-server @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/server @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/server/ide @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/usage @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/usage-api @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/workspace @gitpod-io/team-engine @gitpod-io/team-enterprise
/install/installer/pkg/components/workspace/ide @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/ws-daemon @gitpod-io/team-engine @gitpod-io/team-enterprise
/install/installer/pkg/components/ws-manager-mk2 @gitpod-io/team-engine @gitpod-io/team-enterprise
/install/installer/pkg/components/ws-manager-bridge @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/ws-proxy @gitpod-io/team-engine @gitpod-io/team-enterprise
/install/installer/pkg/config/versions @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/local-app-api @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/local-app @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/openvsx-proxy @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/proxy @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/public-api @gitpod-io/team-experience @gitpod-io/team-enterprise
# Any team can make changes to the experimental package
/components/public-api/gitpod/experimental @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/public-api-server @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/registry-facade-api @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/registry-facade @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/server @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/server/src/ide-service.* @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/service-waiter @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/supervisor-api/*.proto @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/supervisor @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/usage @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/usage-api @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/workspacekit @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/ws-daemon-api @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/ws-daemon @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/ws-manager-api @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/ws-manager-bridge-api @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/ws-manager-bridge @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/ws-manager-mk2 @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/ws-proxy @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/node-labeler @gitpod-io/team-engine @gitpod-io/team-enterprise
/install/installer/pkg/components/node-labeler @gitpod-io/team-engine @gitpod-io/team-enterprise
/dev/gpctl @gitpod-io/team-engine @gitpod-io/team-enterprise
/dev/gpctl/api/ @gitpod-io/team-experience @gitpod-io/team-enterprise
/dev/loadgen @gitpod-io/team-engine @gitpod-io/team-enterprise

# Preview is shared between all teams.
/dev/preview

# Operations is shared between all teams
/operations
/operations/observability/mixins/IDE @gitpod-io/team-experience @gitpod-io/team-enterprise
/operations/observability/mixins/meta @gitpod-io/team-experience @gitpod-io/team-enterprise
/operations/observability/mixins/workspace @gitpod-io/team-engine @gitpod-io/team-enterprise
# a single review should be enough
/operations/observability/mixins/cross-teams

.github/workflows/ide-*.yml @gitpod-io/team-experience @gitpod-io/team-enterprise
.github/workflows/jetbrains-*.yml @gitpod-io/team-experience @gitpod-io/team-enterprise
.github/workflows/code-nightly.yml @gitpod-io/team-experience @gitpod-io/team-enterprise
.github/workflows/workspace-*.yml @gitpod-io/team-engine @gitpod-io/team-enterprise

#
# Automation
# The following files are updated automatically so we don't want to have a specific code-owner
# A single review is enough. Usually the review will be done by RoboQuat but we don't want to add
# that user as an owner in case we need to manually approve changes
#
/CHANGELOG.md
/components/ide/jetbrains/backend-plugin/gradle-latest.properties
/components/ide/jetbrains/gateway-plugin/gradle-latest.properties

#
# Add so that teams assert we're not breaking each other's integration tests
/test/pkg/agent @gitpod-io/team-engine @gitpod-io/team-enterprise
/test/pkg/integration @gitpod-io/team-experience @gitpod-io/team-engine @gitpod-io/team-enterprise
/test/pkg/report @gitpod-io/team-engine @gitpod-io/team-enterprise
/test/tests/workspace @gitpod-io/team-engine @gitpod-io/team-enterprise
/test/tests/smoke-test @gitpod-io/team-experience @gitpod-io/team-engine @gitpod-io/team-enterprise
/test/tests/ide @gitpod-io/team-experience @gitpod-io/team-enterprise
/test/tests/components/content-service @gitpod-io/team-engine @gitpod-io/team-enterprise
/test/tests/components/database @gitpod-io/team-experience @gitpod-io/team-enterprise
/test/tests/components/image-builder @gitpod-io/team-engine @gitpod-io/team-enterprise
/test/tests/components/server @gitpod-io/team-experience @gitpod-io/team-enterprise
/test/tests/components/ws-daemon @gitpod-io/team-engine @gitpod-io/team-enterprise
