Repository gitpod-io/gitpod, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gitpod-io/engineering-leadership, @gitpod-io/team-experience, @gitpod-io/team-enterprise, @gitpod-io/engineering-staff-engineers, @gitpod-io/team-engine

1
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/gateway/GitpodRemoteEnvironment.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/gateway/GitpodRemoteProvider.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/service/GitpodPublicApiManager.kt
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

Reuse the same tunnel for an environment
  components/ide/jetbrains/toolbox/gradle/wrapper/gradle-wrapper.properties
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/auth/GitpodAuthManager.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/components/AbstractUiPage.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/gateway/GitpodRemoteEnvironment.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/gateway/GitpodRemoteEnvironmentContentsView.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/gateway/GitpodRemoteProvider.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/gateway/GitpodSSHEnvironmentContentsView.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/service/DataManager.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/service/GitpodConnectionProvider.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/service/GitpodPublicApiManager.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/service/GitpodWebSocketTunnelServer.kt
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

Add TODO
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/gateway/GitpodRemoteProviderEnvironment.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/gateway/GitpodSSHEnvironmentContentsView.kt
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

[JetBrains] try it out
  .idea/gradle.xml
  .idea/misc.xml
  components/ide/jetbrains/toolbox/.gitattributes
  components/ide/jetbrains/toolbox/.gitignore
  components/ide/jetbrains/toolbox/README.md
  components/ide/jetbrains/toolbox/build.gradle.kts
  components/ide/jetbrains/toolbox/gradle.properties
  components/ide/jetbrains/toolbox/gradle/libs.versions.toml
  components/ide/jetbrains/toolbox/gradle/wrapper/gradle-wrapper.jar
  components/ide/jetbrains/toolbox/gradle/wrapper/gradle-wrapper.properties
  components/ide/jetbrains/toolbox/gradlew
  components/ide/jetbrains/toolbox/gradlew.bat
  components/ide/jetbrains/toolbox/settings.gradle.kts
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/auth/GitpodAuthManager.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/auth/GitpodLoginPage.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/components/AbstractUiPage.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/components/Button.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/components/Icon.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/gateway/GitpodGatewayExtension.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/gateway/GitpodRemoteProvider.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/gateway/GitpodRemoteProviderEnvironment.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/gateway/GitpodSSHEnvironmentContentsView.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/gateway/GitpodSettings.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/gateway/GitpodUriHandler.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/service/DataManager.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/service/GitpodConnectionProvider.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/service/GitpodPublicApiManager.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/service/GitpodWebSocketTunnelServer.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/service/Utils.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/utils/GitpodLogger.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/utils/await.kt
  components/ide/jetbrains/toolbox/src/main/resources/META-INF/services/com.jetbrains.toolbox.gateway.GatewayExtension
  components/ide/jetbrains/toolbox/src/main/resources/dependencies.json
  components/ide/jetbrains/toolbox/src/main/resources/extension.json
  components/ide/jetbrains/toolbox/src/main/resources/icon.svg
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

Dev via Gitpod Flex
  .idea/misc.xml
  components/ide/jetbrains/toolbox/README.md
  components/ide/jetbrains/toolbox/build.gradle.kts
  components/ide/jetbrains/toolbox/flex-sync.sh
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

WIP: upgrade to latest version
  components/ide/jetbrains/toolbox/README.md
  components/ide/jetbrains/toolbox/build.gradle.kts
  components/ide/jetbrains/toolbox/gradle/libs.versions.toml
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/auth/GitpodAuthManager.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/auth/GitpodLoginPage.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/components/AbstractUiPage.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/components/Icon.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/gateway/GitpodRemoteProvider.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/gateway/GitpodRemoteProviderEnvironment.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/gateway/GitpodSSHEnvironmentContentsView.kt
  components/ide/jetbrains/toolbox/src/main/resources/extension.json
  components/ide/jetbrains/toolbox/src/main/resources/icon-colored.svg
  components/ide/jetbrains/toolbox/src/main/resources/icon.svg
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

Fix list keep show loading
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/gateway/GitpodRemoteProvider.kt
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

debug whitelist JetBrains
  components/server/src/user/user-service.ts
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

[code] update code image layers
  install/installer/pkg/components/ide-service/ide-configmap.json
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

[JetBrains] Update IDE images to new build version
  WORKSPACE.yaml
  components/ide/jetbrains/backend-plugin/gradle-stable.properties
  install/installer/pkg/components/ide-service/ide-configmap.json
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

Register hook in the cloned repo instead of under /etc/
  components/supervisor/pkg/supervisor/supervisor.go
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

don't override existing hooks
  components/supervisor/pkg/supervisor/supervisor.go
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

`gp git-commit-message-helper` to use `git interpret-trailers`
  components/gitpod-cli/cmd/git-commit-message-helper.go
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

[db, protocol] Introduce DBOrgEnvVar
  components/gitpod-db/src/team-db.ts
  components/gitpod-db/src/typeorm/entity/db-org-env-var.ts
  components/gitpod-db/src/typeorm/migration/1737449780009-OrgEnvVars.ts
  components/gitpod-db/src/typeorm/project-db-impl.ts
  components/gitpod-db/src/typeorm/team-db-impl.ts
  components/gitpod-protocol/src/protocol.ts
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

Test it!
  components/gitpod-cli/cmd/git-commit-message-helper.go
  components/gitpod-cli/cmd/git-commit-message-helper_test.go
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

Address review comments
  components/node-labeler/cmd/run.go
Owners: @gitpod-io/team-engine, @gitpod-io/team-enterprise

Remove superflous log
  components/node-labeler/cmd/run.go
Owners: @gitpod-io/team-engine, @gitpod-io/team-enterprise

Auto-configure default JVM Xmx based on workspace resources
  components/ide/jetbrains/launcher/main.go
  components/ws-manager-mk2/controllers/create.go
  dev/preview/workflow/preview/deploy-gitpod.sh
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise, @gitpod-io/team-engine

Remove unneeded metrics and add cool log line
  components/node-labeler/cmd/metrics.go
  components/node-labeler/cmd/run.go
Owners: @gitpod-io/team-engine, @gitpod-io/team-enterprise

big yellow warning for a thing that should not happen
  components/node-labeler/cmd/run.go
Owners: @gitpod-io/team-engine, @gitpod-io/team-enterprise

[node-labeler] Introduce workspace count controller (#20509)
  components/node-labeler/BUILD.yaml
  components/node-labeler/cmd/root.go
  components/node-labeler/cmd/run.go
  components/node-labeler/cmd/run_test.go
  components/node-labeler/crd/workspace.gitpod.io_workspaces.yaml
  components/node-labeler/go.mod
  components/node-labeler/go.sum
  install/installer/pkg/components/node-labeler/role.go
Owners: @gitpod-io/team-engine, @gitpod-io/team-enterprise

[code] update code image layers
  install/installer/pkg/components/ide-service/ide-configmap.json
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

Add max xmx and unit tests
  components/ide/jetbrains/launcher/main.go
  components/ide/jetbrains/launcher/main_test.go
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

[server, spicedb] Introduce and integrate org env vars into internal services
  components/gitpod-protocol/src/protocol.ts
  components/server/src/api/envvar-service-api.ts
  components/server/src/authorization/definitions.ts
  components/server/src/user/env-var-service.spec.db.ts
  components/server/src/user/env-var-service.ts
  components/server/src/workspace/gitpod-server-impl.ts
  components/server/src/workspace/workspace-starter.ts
  components/spicedb/schema/schema.yaml
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

[server, public-api] Added API for org-level environment variables
  components/public-api/gitpod/v1/envvar.proto
  components/public-api/go/v1/envvar.pb.go
  components/public-api/go/v1/envvar_grpc.pb.go
  components/public-api/go/v1/v1connect/envvar.connect.go
  components/public-api/go/v1/v1connect/envvar.proxy.connect.go
  components/public-api/java/src/main/java/io/gitpod/publicapi/v1/EnvironmentVariableServiceClient.kt
  components/public-api/java/src/main/java/io/gitpod/publicapi/v1/EnvironmentVariableServiceClientInterface.kt
  components/public-api/java/src/main/java/io/gitpod/publicapi/v1/Envvar.java
  components/public-api/typescript-common/src/public-api-converter.ts
  components/public-api/typescript/src/gitpod/v1/envvar_connect.ts
  components/public-api/typescript/src/gitpod/v1/envvar_pb.ts
  components/server/src/api/envvar-service-api.ts
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

Auto-configure default JVM Xmx based on workspace resources (#20536)
  components/ide/jetbrains/launcher/main.go
  components/ide/jetbrains/launcher/main_test.go
  components/ws-manager-mk2/controllers/create.go
  dev/preview/workflow/preview/deploy-gitpod.sh
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise, @gitpod-io/team-engine

[code] update code image layers (#20534)
  install/installer/pkg/components/ide-service/ide-configmap.json
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

TRY IT OUT
  .idea/misc.xml
  components/ide/jetbrains/backend-plugin/src/main/kotlin/io/gitpod/jetbrains/remote/GitpodCLIService.kt
  components/ide/jetbrains/backend-plugin/src/main/kotlin/io/gitpod/jetbrains/remote/GitpodGatewayClientCustomizationProvider.kt
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

Remove irrelevant code
  components/ide/jetbrains/backend-plugin/src/main/kotlin/io/gitpod/jetbrains/remote/GitpodGatewayClientCustomizationProvider.kt
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

update index
  components/blobserve/leeway.Dockerfile
  components/content-service/leeway.Dockerfile
  components/dashboard/leeway.Dockerfile
  components/ee/agent-smith/leeway.Dockerfile
  components/ide-metrics/leeway.Dockerfile
  components/ide-proxy/Dockerfile
  components/ide-service/leeway.Dockerfile
  components/ide/jetbrains/backend-plugin/leeway.Dockerfile
  components/ide/jetbrains/image/leeway.Dockerfile
  components/ide/jetbrains/launcher/leeway.Dockerfile
  components/image-builder-mk3/leeway.Dockerfile
  components/leeway.Dockerfile
  components/local-app/leeway.Dockerfile
  components/node-labeler/leeway.Dockerfile
  components/openvsx-proxy/leeway.Dockerfile
  components/proxy/Dockerfile
  components/public-api-server/leeway.Dockerfile
  components/registry-facade/leeway.Dockerfile
  components/service-waiter/leeway.Dockerfile
  components/usage/leeway.Dockerfile
  components/ws-daemon/leeway.Dockerfile
  components/ws-daemon/seccomp-profile-installer/leeway.Dockerfile
  components/ws-manager-mk2/leeway.Dockerfile
  components/ws-proxy/leeway.Dockerfile
  dev/changelog/leeway.Dockerfile
  install/installer/leeway.Dockerfile
  install/installer/pkg/components/redis/constants.go
  test/leeway.Dockerfile
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise, @gitpod-io/team-engine

[dashboard] Add UI for setting/removing GITPOD_IMAGE_AUTH to "Organization Settings"
  components/dashboard/src/data/organizations/org-envvar-queries.ts
  components/dashboard/src/service/json-rpc-envvar-client.ts
  components/dashboard/src/teams/TeamSettings.tsx
  components/dashboard/src/teams/variables/NamedOrganizationEnvvarItem.tsx
  components/dashboard/src/teams/variables/OrganizationRemoveEnvvarModal.tsx
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

[JetBrains] wait for the file to be closed before returning (#20540)
  .idea/misc.xml
  components/ide/jetbrains/backend-plugin/src/main/kotlin/io/gitpod/jetbrains/remote/GitpodCLIService.kt
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

update index (#20524)
  components/blobserve/leeway.Dockerfile
  components/content-service/leeway.Dockerfile
  components/dashboard/leeway.Dockerfile
  components/ee/agent-smith/leeway.Dockerfile
  components/ide-metrics/leeway.Dockerfile
  components/ide-proxy/Dockerfile
  components/ide-service/leeway.Dockerfile
  components/ide/jetbrains/backend-plugin/leeway.Dockerfile
  components/ide/jetbrains/image/leeway.Dockerfile
  components/ide/jetbrains/launcher/leeway.Dockerfile
  components/image-builder-mk3/leeway.Dockerfile
  components/leeway.Dockerfile
  components/local-app/leeway.Dockerfile
  components/node-labeler/leeway.Dockerfile
  components/openvsx-proxy/leeway.Dockerfile
  components/proxy/Dockerfile
  components/public-api-server/leeway.Dockerfile
  components/registry-facade/leeway.Dockerfile
  components/service-waiter/leeway.Dockerfile
  components/usage/leeway.Dockerfile
  components/ws-daemon/leeway.Dockerfile
  components/ws-daemon/seccomp-profile-installer/leeway.Dockerfile
  components/ws-manager-mk2/leeway.Dockerfile
  components/ws-proxy/leeway.Dockerfile
  dev/changelog/leeway.Dockerfile
  install/installer/leeway.Dockerfile
  install/installer/pkg/components/redis/constants.go
  test/leeway.Dockerfile
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise, @gitpod-io/team-engine

[db, server] Fix DB queries, mapping to image-build args and fixed tests
  components/dashboard/src/teams/TeamSettings.tsx
  components/gitpod-db/src/project-db.ts
  components/gitpod-db/src/team-db.ts
  components/gitpod-db/src/typeorm/project-db-impl.ts
  components/gitpod-db/src/typeorm/team-db-impl.ts
  components/gitpod-protocol/src/protocol.ts
  components/server/src/user/env-var-service.spec.db.ts
  components/server/src/user/env-var-service.ts
  components/server/src/workspace/gitpod-server-impl.ts
  components/server/src/workspace/workspace-starter.ts
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

[dashboard] Review comment "icon spacing"
  components/dashboard/src/teams/variables/NamedOrganizationEnvvarItem.tsx
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

[dashboard] Review comment superfluous key
  components/dashboard/src/teams/TeamSettings.tsx
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

[dashboard] more spacing
  components/dashboard/src/teams/variables/NamedOrganizationEnvvarItem.tsx
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

[dashboard] Copyright year
  components/dashboard/src/teams/variables/OrganizationRemoveEnvvarModal.tsx
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

[public-api] Add converter test case
  components/public-api/typescript-common/fixtures/toOrganizationEnvironmentVariable_1.golden
  components/public-api/typescript-common/fixtures/toOrganizationEnvironmentVariable_1.json
  components/public-api/typescript-common/src/public-api-converter.spec.ts
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

🧹 indeed
  components/server/src/workspace/workspace-starter.ts
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

.github/CODEOWNERS:

#
# Changes to the CODEONWERS file have to get reviewed by Engineering Leadership.
#
/.github/CODEOWNERS @gitpod-io/engineering-leadership

/components/blobserve @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/common-go @gitpod-io/engineering-staff-engineers @gitpod-io/team-enterprise
/components/components/scrubber @gitpod-io/engineering-staff-engineers @gitpod-io/team-enterprise
/components/content-service-api @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/content-service @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/dashboard @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/docker-up @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/ee/agent-smith @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/gitpod-cli @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/gitpod-db @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/gitpod-protocol @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/gitpod-protocol/java @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/gitpod-protocol/src/typings/globals.ts @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/ide @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/ide-metrics @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/ide-metrics-api @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/ide-service @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/ide-service-api @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/ide-proxy @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/image-builder-api @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/image-builder-bob @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/image-builder-mk3 @gitpod-io/team-engine @gitpod-io/team-enterprise
/install @gitpod-io/team-engine @gitpod-io/team-enterprise
# By default anything in in /install/installer is shared.
/install/installer
/install/installer/pkg/components/agent-smith @gitpod-io/team-engine @gitpod-io/team-enterprise
/install/installer/pkg/components/blobserve @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/components-ide @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/components-webapp @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/components-workspace @gitpod-io/team-engine @gitpod-io/team-enterprise
/install/installer/pkg/components/content-service @gitpod-io/team-engine @gitpod-io/team-enterprise
/install/installer/pkg/components/dashboard @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/ide-metrics @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/ide-service @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/ide-proxy @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/image-builder-mk3 @gitpod-io/team-engine @gitpod-io/team-enterprise
/install/installer/pkg/components/image-builder-mk3-wsman @gitpod-io/team-engine @gitpod-io/team-enterprise
/install/installer/pkg/components/openvsx-proxy @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/proxy @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/registry-facade @gitpod-io/team-engine @gitpod-io/team-enterprise
/install/installer/pkg/components/spicedb @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/public-api-server @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/server @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/server/ide @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/usage @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/usage-api @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/workspace @gitpod-io/team-engine @gitpod-io/team-enterprise
/install/installer/pkg/components/workspace/ide @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/ws-daemon @gitpod-io/team-engine @gitpod-io/team-enterprise
/install/installer/pkg/components/ws-manager-mk2 @gitpod-io/team-engine @gitpod-io/team-enterprise
/install/installer/pkg/components/ws-manager-bridge @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/ws-proxy @gitpod-io/team-engine @gitpod-io/team-enterprise
/install/installer/pkg/config/versions @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/local-app-api @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/local-app @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/openvsx-proxy @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/proxy @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/public-api @gitpod-io/team-experience @gitpod-io/team-enterprise
# Any team can make changes to the experimental package
/components/public-api/gitpod/experimental @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/public-api-server @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/registry-facade-api @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/registry-facade @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/server @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/server/src/ide-service.* @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/service-waiter @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/supervisor-api/*.proto @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/supervisor @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/usage @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/usage-api @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/workspacekit @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/ws-daemon-api @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/ws-daemon @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/ws-manager-api @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/ws-manager-bridge-api @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/ws-manager-bridge @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/ws-manager-mk2 @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/ws-proxy @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/node-labeler @gitpod-io/team-engine @gitpod-io/team-enterprise
/install/installer/pkg/components/node-labeler @gitpod-io/team-engine @gitpod-io/team-enterprise
/dev/gpctl @gitpod-io/team-engine @gitpod-io/team-enterprise
/dev/gpctl/api/ @gitpod-io/team-experience @gitpod-io/team-enterprise
/dev/loadgen @gitpod-io/team-engine @gitpod-io/team-enterprise

# Preview is shared between all teams.
/dev/preview

# Operations is shared between all teams
/operations
/operations/observability/mixins/IDE @gitpod-io/team-experience @gitpod-io/team-enterprise
/operations/observability/mixins/meta @gitpod-io/team-experience @gitpod-io/team-enterprise
/operations/observability/mixins/workspace @gitpod-io/team-engine @gitpod-io/team-enterprise
# a single review should be enough
/operations/observability/mixins/cross-teams

.github/workflows/ide-*.yml @gitpod-io/team-experience @gitpod-io/team-enterprise
.github/workflows/jetbrains-*.yml @gitpod-io/team-experience @gitpod-io/team-enterprise
.github/workflows/code-nightly.yml @gitpod-io/team-experience @gitpod-io/team-enterprise
.github/workflows/workspace-*.yml @gitpod-io/team-engine @gitpod-io/team-enterprise

#
# Automation
# The following files are updated automatically so we don't want to have a specific code-owner
# A single review is enough. Usually the review will be done by RoboQuat but we don't want to add
# that user as an owner in case we need to manually approve changes
#
/CHANGELOG.md
/components/ide/jetbrains/backend-plugin/gradle-latest.properties
/components/ide/jetbrains/gateway-plugin/gradle-latest.properties

#
# Add so that teams assert we're not breaking each other's integration tests
/test/pkg/agent @gitpod-io/team-engine @gitpod-io/team-enterprise
/test/pkg/integration @gitpod-io/team-experience @gitpod-io/team-engine @gitpod-io/team-enterprise
/test/pkg/report @gitpod-io/team-engine @gitpod-io/team-enterprise
/test/tests/workspace @gitpod-io/team-engine @gitpod-io/team-enterprise
/test/tests/smoke-test @gitpod-io/team-experience @gitpod-io/team-engine @gitpod-io/team-enterprise
/test/tests/ide @gitpod-io/team-experience @gitpod-io/team-enterprise
/test/tests/components/content-service @gitpod-io/team-engine @gitpod-io/team-enterprise
/test/tests/components/database @gitpod-io/team-experience @gitpod-io/team-enterprise
/test/tests/components/image-builder @gitpod-io/team-engine @gitpod-io/team-enterprise
/test/tests/components/server @gitpod-io/team-experience @gitpod-io/team-enterprise
/test/tests/components/ws-daemon @gitpod-io/team-engine @gitpod-io/team-enterprise
