Repository gitpod-io/gitpod, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gitpod-io/engineering-leadership, @gitpod-io/team-experience, @gitpod-io/team-enterprise, @gitpod-io/engineering-staff-engineers, @gitpod-io/team-engine

Fix use-latest checkbox not working
  .github/workflows/jetbrains-update-plugin-platform-template.yml
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

[server] Guard project.settings.enableDockerdAuthentication by org write_settings permission
  components/server/src/projects/projects-service.ts
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

review comments with cleanup + small fixes
  components/dashboard/src/repositories/detail/variables/EnableDockerdAuthentication.tsx
  components/server/src/workspace/workspace-starter.ts
  components/supervisor/pkg/supervisor/docker.go
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

[docker-up] Auto-login dockerd if GITPOD_IMAGE_AUTH is set (#20586)
  components/dashboard/src/repositories/detail/variables/ConfigurationVariableList.tsx
  components/dashboard/src/repositories/detail/variables/EnableDockerdAuthentication.tsx
  components/docker-up/BUILD.yaml
  components/docker-up/docker-up/main.go
  components/docker-up/dockerd/args.go
  components/docker-up/dockerd/args_test.go
  components/docker-up/go.mod
  components/docker-up/go.sum
  components/gitpod-protocol/src/protocol.ts
  components/gitpod-protocol/src/teams-projects-protocol.ts
  components/image-builder-bob/cmd/proxy.go
  components/image-builder-bob/pkg/proxy/auth.go
  components/image-builder-bob/pkg/proxy/auth_test.go
  components/public-api/gitpod/v1/configuration.proto
  components/public-api/go/v1/configuration.pb.go
  components/public-api/java/src/main/java/io/gitpod/publicapi/v1/ConfigurationOuterClass.java
  components/public-api/typescript-common/src/public-api-converter.ts
  components/public-api/typescript/src/gitpod/v1/configuration_pb.ts
  components/server/src/api/configuration-service-api.ts
  components/server/src/projects/projects-service.ts
  components/server/src/user/env-var-service.spec.db.ts
  components/server/src/user/env-var-service.ts
  components/server/src/workspace/workspace-starter.ts
  components/supervisor/pkg/supervisor/config.go
  components/supervisor/pkg/supervisor/docker.go
  components/supervisor/pkg/supervisor/docker_test.go
  components/ws-manager-mk2/controllers/create.go
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise, @gitpod-io/team-engine

Update Platform Version of JetBrains Gateway Plugin (EAP) to
  components/ide/jetbrains/gateway-plugin/gradle-latest.properties
Owners: none

Update Platform Version of JetBrains Gateway Plugin (EAP) to (#20368)
  components/ide/jetbrains/gateway-plugin/gradle-latest.properties
Owners: none

[dashboard] Remove shutdown notice
  components/dashboard/src/Login.tsx
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

[dashboard] Remove shutdown notice (#20600)
  components/dashboard/src/Login.tsx
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

Fix main build
  components/public-api/typescript-common/fixtures/fromPartialConfiguration_2.golden
  components/public-api/typescript-common/fixtures/fromPartialConfiguration_3.golden
  components/public-api/typescript-common/fixtures/toConfiguration_1.golden
  components/public-api/typescript-common/fixtures/toConfiguration_2.golden
  components/public-api/typescript-common/fixtures/toWorkspaceSettings_1.golden
  components/public-api/typescript-common/fixtures/toWorkspaceSettings_2.golden
  components/public-api/typescript-common/fixtures/toWorkspaceSettings_3.golden
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

squashed (- oidc/newUser)
  components/dashboard/package.json
  components/dashboard/src/components/forms/InputField.tsx
  components/dashboard/src/components/podkit/forms/TextArea.tsx
  components/dashboard/src/data/organizations/update-org-settings-mutation.ts
  components/dashboard/src/index.css
  components/dashboard/src/login/SSOLoginForm.tsx
  components/dashboard/src/repositories/detail/general/ManageRepoSuggestion.tsx
  components/dashboard/src/start/StartWorkspace.tsx
  components/dashboard/src/teams/TeamOnboarding.tsx
  components/dashboard/src/teams/onboarding/OrgMemberAvatarInput.tsx
  components/dashboard/src/teams/onboarding/OrganizationJoinModal.tsx
  components/dashboard/src/teams/onboarding/WelcomeMessageConfigurationField.tsx
  components/dashboard/src/teams/onboarding/WelcomeMessageEditor.tsx
  components/dashboard/src/teams/onboarding/WelcomeMessagePreview.tsx
  components/dashboard/src/workspaces/Workspaces.tsx
  components/gitpod-protocol/src/teams-projects-protocol.ts
  components/public-api/gitpod/v1/organization.proto
  components/public-api/go/v1/organization.pb.go
  components/public-api/java/src/main/java/io/gitpod/publicapi/v1/OrganizationOuterClass.java
  components/public-api/typescript-common/src/public-api-converter.ts
  components/public-api/typescript/src/gitpod/v1/organization_pb.ts
  components/server/package.json
  components/server/src/api/organization-service-api.ts
  components/server/src/orgs/organization-service.ts
  yarn.lock
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

update index
  components/blobserve/leeway.Dockerfile
  components/content-service/leeway.Dockerfile
  components/dashboard/leeway.Dockerfile
  components/ee/agent-smith/leeway.Dockerfile
  components/ide-metrics/leeway.Dockerfile
  components/ide-proxy/Dockerfile
  components/ide-service/leeway.Dockerfile
  components/ide/jetbrains/backend-plugin/leeway.Dockerfile
  components/ide/jetbrains/image/leeway.Dockerfile
  components/ide/jetbrains/launcher/leeway.Dockerfile
  components/image-builder-mk3/leeway.Dockerfile
  components/leeway.Dockerfile
  components/local-app/leeway.Dockerfile
  components/node-labeler/leeway.Dockerfile
  components/openvsx-proxy/leeway.Dockerfile
  components/proxy/Dockerfile
  components/public-api-server/leeway.Dockerfile
  components/registry-facade/leeway.Dockerfile
  components/service-waiter/leeway.Dockerfile
  components/usage/leeway.Dockerfile
  components/ws-daemon/leeway.Dockerfile
  components/ws-daemon/seccomp-profile-installer/leeway.Dockerfile
  components/ws-manager-mk2/leeway.Dockerfile
  components/ws-proxy/leeway.Dockerfile
  dev/changelog/leeway.Dockerfile
  install/installer/leeway.Dockerfile
  install/installer/pkg/components/redis/constants.go
  test/leeway.Dockerfile
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise, @gitpod-io/team-engine

Fix main build (#20601)
  components/public-api/typescript-common/fixtures/fromPartialConfiguration_2.golden
  components/public-api/typescript-common/fixtures/fromPartialConfiguration_3.golden
  components/public-api/typescript-common/fixtures/toConfiguration_1.golden
  components/public-api/typescript-common/fixtures/toConfiguration_2.golden
  components/public-api/typescript-common/fixtures/toWorkspaceSettings_1.golden
  components/public-api/typescript-common/fixtures/toWorkspaceSettings_2.golden
  components/public-api/typescript-common/fixtures/toWorkspaceSettings_3.golden
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

Make JetBrains backend plugin compatible with `2025.1` (#20549)
  .github/workflows/jetbrains-update-plugin-platform-template.yml
  components/ide/jetbrains/backend-plugin/gradle-latest.properties
  components/ide/jetbrains/backend-plugin/src/main/kotlin/io/gitpod/jetbrains/remote/GitpodClientProjectSessionTracker.kt
  components/ide/jetbrains/backend-plugin/src/main/kotlin/io/gitpod/jetbrains/remote/latest/GitpodClientProjectSessionTracker.kt
  components/ide/jetbrains/backend-plugin/src/main/kotlin/io/gitpod/jetbrains/remote/stable/GitpodClientProjectSessionTracker.kt
  components/ide/jetbrains/backend-plugin/src/main/resources-latest/META-INF/extensions.xml
  components/ide/jetbrains/backend-plugin/src/main/resources-stable/META-INF/extensions.xml
  components/ide/jetbrains/backend-plugin/src/main/resources/META-INF/plugin.xml
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

update index (#20592)
  components/blobserve/leeway.Dockerfile
  components/content-service/leeway.Dockerfile
  components/dashboard/leeway.Dockerfile
  components/ee/agent-smith/leeway.Dockerfile
  components/ide-metrics/leeway.Dockerfile
  components/ide-proxy/Dockerfile
  components/ide-service/leeway.Dockerfile
  components/ide/jetbrains/backend-plugin/leeway.Dockerfile
  components/ide/jetbrains/image/leeway.Dockerfile
  components/ide/jetbrains/launcher/leeway.Dockerfile
  components/image-builder-mk3/leeway.Dockerfile
  components/leeway.Dockerfile
  components/local-app/leeway.Dockerfile
  components/node-labeler/leeway.Dockerfile
  components/openvsx-proxy/leeway.Dockerfile
  components/proxy/Dockerfile
  components/public-api-server/leeway.Dockerfile
  components/registry-facade/leeway.Dockerfile
  components/service-waiter/leeway.Dockerfile
  components/usage/leeway.Dockerfile
  components/ws-daemon/leeway.Dockerfile
  components/ws-daemon/seccomp-profile-installer/leeway.Dockerfile
  components/ws-manager-mk2/leeway.Dockerfile
  components/ws-proxy/leeway.Dockerfile
  dev/changelog/leeway.Dockerfile
  install/installer/leeway.Dockerfile
  install/installer/pkg/components/redis/constants.go
  test/leeway.Dockerfile
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise, @gitpod-io/team-engine

[server, db] Cleanup UpdateOrgSettings API handling
  components/gitpod-db/package.json
  components/gitpod-db/src/team-db.ts
  components/gitpod-db/src/typeorm/team-db-impl.ts
  components/gitpod-protocol/src/teams-projects-protocol.ts
  components/public-api/typescript-common/src/public-api-converter.ts
  components/server/src/api/organization-service-api.ts
  components/server/src/orgs/organization-service.ts
  components/server/src/projects/projects-service.spec.db.ts
  components/server/src/projects/projects-service.ts
  yarn.lock
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

[dashboard] Render WelcomeMessage based on a) user.createdAt and b) localStorage
  components/dashboard/src/teams/onboarding/OrganizationJoinModal.tsx
  components/dashboard/src/workspaces/Workspaces.tsx
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

[api, server] Add missing update_allowed_workspace_classes field
  components/public-api/gitpod/v1/organization.proto
  components/public-api/go/v1/organization.pb.go
  components/public-api/java/src/main/java/io/gitpod/publicapi/v1/OrganizationOuterClass.java
  components/public-api/typescript/src/gitpod/v1/organization_pb.ts
  components/server/src/api/organization-service-api.ts
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

[dashboard] Fix updateOrgSettings API usage
  components/dashboard/src/data/organizations/update-org-settings-mutation.ts
  components/dashboard/src/teams/TeamPolicies.tsx
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

[dashboard, server] Fix duration handling/conversion
  components/dashboard/src/service/json-rpc-organization-client.ts
  components/dashboard/src/teams/TeamPolicies.tsx
  components/dashboard/src/user-settings/Preferences.tsx
  components/public-api/typescript-common/src/public-api-converter.ts
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

Organization onboarding welcome message (#20577)
  components/dashboard/package.json
  components/dashboard/src/components/forms/InputField.tsx
  components/dashboard/src/components/podkit/forms/TextArea.tsx
  components/dashboard/src/data/organizations/update-org-settings-mutation.ts
  components/dashboard/src/index.css
  components/dashboard/src/login/SSOLoginForm.tsx
  components/dashboard/src/repositories/detail/general/ManageRepoSuggestion.tsx
  components/dashboard/src/service/json-rpc-organization-client.ts
  components/dashboard/src/start/StartWorkspace.tsx
  components/dashboard/src/teams/TeamOnboarding.tsx
  components/dashboard/src/teams/TeamPolicies.tsx
  components/dashboard/src/teams/onboarding/OrgMemberAvatarInput.tsx
  components/dashboard/src/teams/onboarding/OrganizationJoinModal.tsx
  components/dashboard/src/teams/onboarding/WelcomeMessageConfigurationField.tsx
  components/dashboard/src/teams/onboarding/WelcomeMessageEditor.tsx
  components/dashboard/src/teams/onboarding/WelcomeMessagePreview.tsx
  components/dashboard/src/user-settings/Preferences.tsx
  components/dashboard/src/workspaces/Workspaces.tsx
  components/gitpod-db/package.json
  components/gitpod-db/src/team-db.ts
  components/gitpod-db/src/typeorm/team-db-impl.ts
  components/gitpod-protocol/src/teams-projects-protocol.ts
  components/public-api/gitpod/v1/organization.proto
  components/public-api/go/v1/organization.pb.go
  components/public-api/java/src/main/java/io/gitpod/publicapi/v1/OrganizationOuterClass.java
  components/public-api/typescript-common/src/public-api-converter.ts
  components/public-api/typescript/src/gitpod/v1/organization_pb.ts
  components/server/package.json
  components/server/src/api/organization-service-api.ts
  components/server/src/orgs/organization-service.ts
  components/server/src/projects/projects-service.spec.db.ts
  components/server/src/projects/projects-service.ts
  yarn.lock
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

[code] update code image layers
  install/installer/pkg/components/ide-service/ide-configmap.json
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

[JetBrains] Update IDE images to new build version
  WORKSPACE.yaml
  components/ide/jetbrains/backend-plugin/gradle-stable.properties
  install/installer/pkg/components/ide-service/ide-configmap.json
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

[api, server, dashboard] Cleanup UpdateOrganizationSettings API
  components/dashboard/src/data/organizations/update-org-settings-mutation.ts
  components/dashboard/src/service/json-rpc-organization-client.ts
  components/dashboard/src/teams/TeamOnboarding.tsx
  components/gitpod-db/src/typeorm/entity/db-team-settings.ts
  components/gitpod-protocol/src/teams-projects-protocol.ts
  components/public-api/gitpod/v1/organization.proto
  components/public-api/go/v1/organization.pb.go
  components/public-api/java/src/main/java/io/gitpod/publicapi/v1/OrganizationOuterClass.java
  components/public-api/typescript-common/src/public-api-converter.ts
  components/public-api/typescript/src/gitpod/v1/organization_pb.ts
  components/server/src/api/organization-service-api.ts
  components/server/src/orgs/organization-service.spec.db.ts
  components/server/src/orgs/organization-service.ts
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

update index
  install/installer/leeway.Dockerfile
Owners: none

Update Platform Version of JetBrains Gateway Plugin (EAP) to
  components/ide/jetbrains/gateway-plugin/gradle-latest.properties
Owners: none

fixup! [ws-manager, ws-daemon] Store initializer metrics in workspace.Status.InitializerMetrics
  components/ws-daemon/pkg/controller/workspace_controller_test.go
Owners: @gitpod-io/team-engine, @gitpod-io/team-enterprise

fixup! [db] Introduce DBWorkspaceInstanceMetrics and persist all metrics from ws-manager-api into it
  components/gitpod-db/src/typeorm/entity/db-workspace-instance-metrics.ts
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

[api] Expose session.Metrics.InitializerMetrics
  components/gitpod-db/src/typeorm/workspace-db-impl.ts
  components/gitpod-protocol/src/protocol.ts
  components/gitpod-protocol/src/workspace-instance.ts
  components/public-api/gitpod/v1/workspace.proto
  components/public-api/go/v1/workspace.pb.go
  components/public-api/java/src/main/java/io/gitpod/publicapi/v1/WorkspaceOuterClass.java
  components/public-api/typescript-common/src/public-api-converter.ts
  components/public-api/typescript/src/gitpod/v1/workspace_pb.ts
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

add feature flags for spicedb client options
  components/server/src/authorization/spicedb.ts
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

[code] update code image layers (#20585)
  install/installer/pkg/components/ide-service/ide-configmap.json
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

update index (#20611)
  install/installer/leeway.Dockerfile
Owners: none

[JetBrains] Update IDE images to new build version
  WORKSPACE.yaml
  components/ide/jetbrains/backend-plugin/gradle-stable.properties
  install/installer/pkg/components/ide-service/ide-configmap.json
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

Revert gradle properties changes
  components/ide/jetbrains/gateway-plugin/gradle-latest.properties
Owners: none

Revert gradle properties changes
  components/ide/jetbrains/backend-plugin/gradle-stable.properties
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

[JetBrains] Update IDE images to new build version (#20530)
  WORKSPACE.yaml
  components/ide/jetbrains/backend-plugin/gradle-stable.properties
  install/installer/pkg/components/ide-service/ide-configmap.json
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

[JetBrains] Update Platform Version from JetBrains Gateway Plugin (EAP) (#20612)
  components/ide/jetbrains/gateway-plugin/gradle-latest.properties
Owners: none

[JetBrains] Update IDE images to new build version
  components/ide/jetbrains/backend-plugin/gradle-stable.properties
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

update index
  components/blobserve/leeway.Dockerfile
  components/content-service/leeway.Dockerfile
  components/dashboard/leeway.Dockerfile
  components/ee/agent-smith/leeway.Dockerfile
  components/ide-metrics/leeway.Dockerfile
  components/ide-proxy/Dockerfile
  components/ide-service/leeway.Dockerfile
  components/ide/jetbrains/backend-plugin/leeway.Dockerfile
  components/ide/jetbrains/image/leeway.Dockerfile
  components/ide/jetbrains/launcher/leeway.Dockerfile
  components/image-builder-mk3/leeway.Dockerfile
  components/leeway.Dockerfile
  components/local-app/leeway.Dockerfile
  components/node-labeler/leeway.Dockerfile
  components/openvsx-proxy/leeway.Dockerfile
  components/proxy/Dockerfile
  components/public-api-server/leeway.Dockerfile
  components/registry-facade/leeway.Dockerfile
  components/service-waiter/leeway.Dockerfile
  components/usage/leeway.Dockerfile
  components/ws-daemon/leeway.Dockerfile
  components/ws-daemon/seccomp-profile-installer/leeway.Dockerfile
  components/ws-manager-mk2/leeway.Dockerfile
  components/ws-proxy/leeway.Dockerfile
  dev/changelog/leeway.Dockerfile
  install/installer/pkg/components/redis/constants.go
  test/leeway.Dockerfile
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise, @gitpod-io/team-engine

Add comments
  components/server/src/authorization/spicedb.ts
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

fixup
  components/server/src/authorization/spicedb.ts
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

.github/CODEOWNERS:

#
# Changes to the CODEONWERS file have to get reviewed by Engineering Leadership.
#
/.github/CODEOWNERS @gitpod-io/engineering-leadership

/components/blobserve @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/common-go @gitpod-io/engineering-staff-engineers @gitpod-io/team-enterprise
/components/components/scrubber @gitpod-io/engineering-staff-engineers @gitpod-io/team-enterprise
/components/content-service-api @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/content-service @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/dashboard @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/docker-up @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/ee/agent-smith @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/gitpod-cli @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/gitpod-db @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/gitpod-protocol @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/gitpod-protocol/java @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/gitpod-protocol/src/typings/globals.ts @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/ide @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/ide-metrics @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/ide-metrics-api @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/ide-service @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/ide-service-api @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/ide-proxy @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/image-builder-api @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/image-builder-bob @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/image-builder-mk3 @gitpod-io/team-engine @gitpod-io/team-enterprise
/install @gitpod-io/team-engine @gitpod-io/team-enterprise
# By default anything in in /install/installer is shared.
/install/installer
/install/installer/pkg/components/agent-smith @gitpod-io/team-engine @gitpod-io/team-enterprise
/install/installer/pkg/components/blobserve @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/components-ide @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/components-webapp @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/components-workspace @gitpod-io/team-engine @gitpod-io/team-enterprise
/install/installer/pkg/components/content-service @gitpod-io/team-engine @gitpod-io/team-enterprise
/install/installer/pkg/components/dashboard @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/ide-metrics @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/ide-service @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/ide-proxy @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/image-builder-mk3 @gitpod-io/team-engine @gitpod-io/team-enterprise
/install/installer/pkg/components/image-builder-mk3-wsman @gitpod-io/team-engine @gitpod-io/team-enterprise
/install/installer/pkg/components/openvsx-proxy @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/proxy @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/registry-facade @gitpod-io/team-engine @gitpod-io/team-enterprise
/install/installer/pkg/components/spicedb @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/public-api-server @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/server @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/server/ide @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/usage @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/usage-api @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/workspace @gitpod-io/team-engine @gitpod-io/team-enterprise
/install/installer/pkg/components/workspace/ide @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/ws-daemon @gitpod-io/team-engine @gitpod-io/team-enterprise
/install/installer/pkg/components/ws-manager-mk2 @gitpod-io/team-engine @gitpod-io/team-enterprise
/install/installer/pkg/components/ws-manager-bridge @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/ws-proxy @gitpod-io/team-engine @gitpod-io/team-enterprise
/install/installer/pkg/config/versions @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/local-app-api @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/local-app @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/openvsx-proxy @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/proxy @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/public-api @gitpod-io/team-experience @gitpod-io/team-enterprise
# Any team can make changes to the experimental package
/components/public-api/gitpod/experimental @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/public-api-server @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/registry-facade-api @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/registry-facade @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/server @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/server/src/ide-service.* @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/service-waiter @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/supervisor-api/*.proto @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/supervisor @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/usage @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/usage-api @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/workspacekit @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/ws-daemon-api @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/ws-daemon @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/ws-manager-api @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/ws-manager-bridge-api @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/ws-manager-bridge @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/ws-manager-mk2 @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/ws-proxy @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/node-labeler @gitpod-io/team-engine @gitpod-io/team-enterprise
/install/installer/pkg/components/node-labeler @gitpod-io/team-engine @gitpod-io/team-enterprise
/dev/gpctl @gitpod-io/team-engine @gitpod-io/team-enterprise
/dev/gpctl/api/ @gitpod-io/team-experience @gitpod-io/team-enterprise
/dev/loadgen @gitpod-io/team-engine @gitpod-io/team-enterprise

# Preview is shared between all teams.
/dev/preview

# Operations is shared between all teams
/operations
/operations/observability/mixins/IDE @gitpod-io/team-experience @gitpod-io/team-enterprise
/operations/observability/mixins/meta @gitpod-io/team-experience @gitpod-io/team-enterprise
/operations/observability/mixins/workspace @gitpod-io/team-engine @gitpod-io/team-enterprise
# a single review should be enough
/operations/observability/mixins/cross-teams

.github/workflows/ide-*.yml @gitpod-io/team-experience @gitpod-io/team-enterprise
.github/workflows/jetbrains-*.yml @gitpod-io/team-experience @gitpod-io/team-enterprise
.github/workflows/code-nightly.yml @gitpod-io/team-experience @gitpod-io/team-enterprise
.github/workflows/workspace-*.yml @gitpod-io/team-engine @gitpod-io/team-enterprise

#
# Automation
# The following files are updated automatically so we don't want to have a specific code-owner
# A single review is enough. Usually the review will be done by RoboQuat but we don't want to add
# that user as an owner in case we need to manually approve changes
#
/CHANGELOG.md
/components/ide/jetbrains/backend-plugin/gradle-latest.properties
/components/ide/jetbrains/gateway-plugin/gradle-latest.properties

#
# Add so that teams assert we're not breaking each other's integration tests
/test/pkg/agent @gitpod-io/team-engine @gitpod-io/team-enterprise
/test/pkg/integration @gitpod-io/team-experience @gitpod-io/team-engine @gitpod-io/team-enterprise
/test/pkg/report @gitpod-io/team-engine @gitpod-io/team-enterprise
/test/tests/workspace @gitpod-io/team-engine @gitpod-io/team-enterprise
/test/tests/smoke-test @gitpod-io/team-experience @gitpod-io/team-engine @gitpod-io/team-enterprise
/test/tests/ide @gitpod-io/team-experience @gitpod-io/team-enterprise
/test/tests/components/content-service @gitpod-io/team-engine @gitpod-io/team-enterprise
/test/tests/components/database @gitpod-io/team-experience @gitpod-io/team-enterprise
/test/tests/components/image-builder @gitpod-io/team-engine @gitpod-io/team-enterprise
/test/tests/components/server @gitpod-io/team-experience @gitpod-io/team-enterprise
/test/tests/components/ws-daemon @gitpod-io/team-engine @gitpod-io/team-enterprise
