Repository gitpod-io/gitpod, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gitpod-io/engineering-leadership, @gitpod-io/team-experience, @gitpod-io/team-enterprise, @gitpod-io/engineering-staff-engineers, @gitpod-io/team-engine

[JetBrains] Update IDE images to new build version
  WORKSPACE.yaml
  components/ide/jetbrains/backend-plugin/gradle-stable.properties
  install/installer/pkg/components/ide-service/ide-configmap.json
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

update copy
  components/dashboard/src/teams/TeamOnboarding.tsx
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

Update Platform Version of JetBrains Gateway Plugin (EAP) to
  components/ide/jetbrains/gateway-plugin/gradle-latest.properties
Owners: none

Update Platform Version of JetBrains Backend Plugin (EAP) to
  components/ide/jetbrains/backend-plugin/gradle-latest.properties
Owners: none

Update Platform Version of JetBrains Gateway Plugin (Stable) to
  components/ide/jetbrains/gateway-plugin/gradle-stable.properties
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

Get rid of debug fluff
  components/dashboard/src/workspaces/Workspaces.tsx
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

Fix onboarding page heading
  components/dashboard/src/teams/TeamOnboarding.tsx
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

update index (#20543)
  components/blobserve/leeway.Dockerfile
  components/content-service/leeway.Dockerfile
  components/dashboard/leeway.Dockerfile
  components/ee/agent-smith/leeway.Dockerfile
  components/ide-metrics/leeway.Dockerfile
  components/ide-proxy/Dockerfile
  components/ide-service/leeway.Dockerfile
  components/ide/jetbrains/backend-plugin/leeway.Dockerfile
  components/ide/jetbrains/image/leeway.Dockerfile
  components/ide/jetbrains/launcher/leeway.Dockerfile
  components/image-builder-mk3/leeway.Dockerfile
  components/leeway.Dockerfile
  components/local-app/leeway.Dockerfile
  components/node-labeler/leeway.Dockerfile
  components/openvsx-proxy/leeway.Dockerfile
  components/proxy/Dockerfile
  components/public-api-server/leeway.Dockerfile
  components/registry-facade/leeway.Dockerfile
  components/service-waiter/leeway.Dockerfile
  components/usage/leeway.Dockerfile
  components/ws-daemon/leeway.Dockerfile
  components/ws-daemon/seccomp-profile-installer/leeway.Dockerfile
  components/ws-manager-mk2/leeway.Dockerfile
  components/ws-proxy/leeway.Dockerfile
  dev/changelog/leeway.Dockerfile
  install/installer/leeway.Dockerfile
  install/installer/pkg/components/redis/constants.go
  test/leeway.Dockerfile
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise, @gitpod-io/team-engine

[server] Add organization image auth context to workspace image validation
  components/server/src/container-module.ts
  components/server/src/orgs/default-workspace-image-validator.ts
  components/server/src/orgs/organization-service.ts
  components/server/src/workspace/workspace-service.ts
  components/server/src/workspace/workspace-starter.ts
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

minor nitfix
  components/dashboard/src/teams/TeamOnboarding.tsx
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

Introduce `listOrgEnvVarsWithValues`
  components/server/src/user/env-var-service.ts
  components/server/src/workspace/workspace-starter.ts
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

[server] Add organization image auth context to workspace image validation (#20560)
  components/server/src/container-module.ts
  components/server/src/orgs/default-workspace-image-validator.ts
  components/server/src/orgs/organization-service.ts
  components/server/src/user/env-var-service.ts
  components/server/src/workspace/workspace-service.ts
  components/server/src/workspace/workspace-starter.ts
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

Update README.md
  dev/jetbrains-test/README.md
Owners: none

[server] make gRPC clients viable in non-HTTP/2-compatible environments
  components/dashboard/src/service/public-api.ts
  components/dashboard/src/service/service.tsx
  components/gitpod-db/src/redis/publisher.ts
  components/gitpod-protocol/src/redis.ts
  components/server/src/messaging/redis-subscriber.ts
  components/server/src/prebuilds/prebuild-manager.ts
  components/server/src/workspace/gitpod-server-impl.ts
  components/server/src/workspace/workspace-starter.ts
  components/spicedb/schema/schema.yaml
  components/ws-manager-bridge/src/prebuild-updater.ts
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

Update jetbrains-update-plugin-platform-template.yml
  .github/workflows/jetbrains-update-plugin-platform-template.yml
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

Update meta-overview.json
  operations/observability/mixins/meta/dashboards/components/meta-overview.json
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

Cascade project deletions to repo recommendations
  components/server/src/projects/projects-service.ts
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

Fix db tests
  components/server/src/projects/projects-service.spec.db.ts
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

Fix docs link
  components/dashboard/src/repositories/list/RepoListItem.tsx
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

Address review comments
  components/dashboard/src/service/public-api.ts
  components/server/src/workspace/gitpod-server-impl.ts
  components/spicedb/schema/schema.yaml
  components/ws-manager-bridge/src/prebuild-updater.ts
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

[server] make gRPC clients viable in non-HTTP/2-compatible environments (#20565)
  components/dashboard/src/service/public-api.ts
  components/dashboard/src/service/service.tsx
  components/gitpod-db/src/redis/publisher.ts
  components/gitpod-protocol/src/redis.ts
  components/server/src/messaging/redis-subscriber.ts
  components/server/src/prebuilds/prebuild-manager.ts
  components/server/src/workspace/gitpod-server-impl.ts
  components/server/src/workspace/workspace-starter.ts
  components/ws-manager-bridge/src/prebuild-updater.ts
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

add db test
  components/server/src/projects/projects-service.spec.db.ts
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

[docker-up] Extend parsing of DOCKERD_ARGS by "proxies" and contained fields, add tests
  components/docker-up/docker-up/main.go
  components/docker-up/dockerd/args.go
  components/docker-up/dockerd/args_test.go
Owners: @gitpod-io/team-engine, @gitpod-io/team-enterprise

[server] Don't block soft deletion rewinds in `updateDeletionEligibilityTime`
  components/server/src/workspace/workspace-service.ts
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

[JetBrains] display workspace name on the navbar (#20544)
  components/dashboard/src/workspaces/RenameWorkspaceModal.tsx
  components/gitpod-protocol/src/protocol.ts
  components/ide/jetbrains/backend-plugin/src/main/kotlin/io/gitpod/jetbrains/remote/GitpodGatewayClientCustomizationProvider.kt
  components/server/src/workspace/workspace-starter.ts
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

Add status bar widget
  components/ide/jetbrains/backend-plugin/src/main/kotlin/io/gitpod/jetbrains/remote/GitpodSystemMetricsFactory.kt
  components/ide/jetbrains/backend-plugin/src/main/kotlin/io/gitpod/jetbrains/remote/GitpodSystemMetricsWidget.kt
  components/ide/jetbrains/backend-plugin/src/main/resources/META-INF/plugin.xml
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

threshold
  components/ide/jetbrains/backend-plugin/src/main/kotlin/io/gitpod/jetbrains/remote/GitpodSystemMetricsWidget.kt
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

[image-builder-bob] Introduced forward-proxy and extended MapAuthorizer
  components/image-builder-bob/BUILD.yaml
  components/image-builder-bob/cmd/proxy.go
  components/image-builder-bob/pkg/proxy/auth.go
  components/image-builder-bob/pkg/proxy/auth_test.go
  components/image-builder-bob/pkg/proxy/forward_proxy.go
  components/image-builder-bob/pkg/proxy/proxy.go
Owners: @gitpod-io/team-engine, @gitpod-io/team-enterprise

[supervisor] Introduce subcommand "dockerd-proxy" and GITPOD_DOCKERD_PROXY_ENABLED for control
  components/supervisor/BUILD.yaml
  components/supervisor/cmd/dockerd-proxy.go
  components/supervisor/go.mod
  components/supervisor/go.sum
  components/supervisor/pkg/dockerd/certs.go
  components/supervisor/pkg/dockerd/mitm_proxy.go
  components/supervisor/pkg/supervisor/config.go
  components/supervisor/pkg/supervisor/docker.go
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

[ws-manager] Introduce GITPOD_DOCKERD_PROXY_ENABLED and if set, run docker-proxy in enclave and have supervisor configure dockerd for it
  components/ws-manager-mk2/controllers/create.go
  components/ws-manager-mk2/service/manager.go
Owners: @gitpod-io/team-engine, @gitpod-io/team-enterprise

[server] Add DOCKERD_PROXY_ENABLED if feature flag "dockerd_proxy_enabled" is true
  components/server/src/workspace/workspace-starter.ts
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

Fix showing suggested repos even with no user contributions
  components/dashboard/src/workspaces/Workspaces.tsx
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

Use ISO date strings for comparison
  components/server/src/workspace/workspace-service.ts
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

[server] Don't block soft deletion rewinds in `updateDeletionEligibilityTime` (#20569)
  components/server/src/workspace/workspace-service.ts
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

Add organization suggested repositories to RepositoryFinder
  components/dashboard/src/components/RepositoryFinder.tsx
  components/dashboard/src/data/git-providers/predefined-repos.ts
  components/dashboard/src/workspaces/Workspaces.tsx
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

Don't add recommended repos to workspace list for now
  components/dashboard/src/workspaces/Workspaces.tsx
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

Regular repo icon for org-suggested repos
  components/dashboard/src/components/RepositoryFinder.tsx
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

Organization-recommended repositories (#20559)
  components/dashboard/package.json
  components/dashboard/src/components/RepositoryFinder.tsx
  components/dashboard/src/components/podkit/dropdown/DropDown.tsx
  components/dashboard/src/data/git-providers/predefined-repos.ts
  components/dashboard/src/data/organizations/suggested-repositories-query.ts
  components/dashboard/src/data/organizations/update-org-settings-mutation.ts
  components/dashboard/src/repositories/list/RepoListItem.tsx
  components/dashboard/src/repositories/list/RepositoryTable.tsx
  components/dashboard/src/teams/TeamOnboarding.tsx
  components/dashboard/src/workspaces/Workspaces.tsx
  components/gitpod-protocol/src/teams-projects-protocol.ts
  components/public-api/gitpod/v1/organization.proto
  components/public-api/go/v1/organization.pb.go
  components/public-api/java/src/main/java/io/gitpod/publicapi/v1/OrganizationOuterClass.java
  components/public-api/typescript-common/src/public-api-converter.ts
  components/public-api/typescript/src/gitpod/v1/organization_pb.ts
  components/server/src/api/organization-service-api.ts
  components/server/src/projects/projects-service.spec.db.ts
  components/server/src/projects/projects-service.ts
  yarn.lock
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

use latest Configcat GHA
  .github/workflows/configcat.yml
Owners: none

update index
  components/blobserve/leeway.Dockerfile
  components/content-service/leeway.Dockerfile
  components/dashboard/leeway.Dockerfile
  components/ee/agent-smith/leeway.Dockerfile
  components/ide-metrics/leeway.Dockerfile
  components/ide-proxy/Dockerfile
  components/ide-service/leeway.Dockerfile
  components/ide/jetbrains/backend-plugin/leeway.Dockerfile
  components/ide/jetbrains/image/leeway.Dockerfile
  components/ide/jetbrains/launcher/leeway.Dockerfile
  components/image-builder-mk3/leeway.Dockerfile
  components/leeway.Dockerfile
  components/local-app/leeway.Dockerfile
  components/node-labeler/leeway.Dockerfile
  components/openvsx-proxy/leeway.Dockerfile
  components/proxy/Dockerfile
  components/public-api-server/leeway.Dockerfile
  components/registry-facade/leeway.Dockerfile
  components/service-waiter/leeway.Dockerfile
  components/usage/leeway.Dockerfile
  components/ws-daemon/leeway.Dockerfile
  components/ws-daemon/seccomp-profile-installer/leeway.Dockerfile
  components/ws-manager-mk2/leeway.Dockerfile
  components/ws-proxy/leeway.Dockerfile
  dev/changelog/leeway.Dockerfile
  install/installer/pkg/components/redis/constants.go
  test/leeway.Dockerfile
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise, @gitpod-io/team-engine

.github/CODEOWNERS:

#
# Changes to the CODEONWERS file have to get reviewed by Engineering Leadership.
#
/.github/CODEOWNERS @gitpod-io/engineering-leadership

/components/blobserve @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/common-go @gitpod-io/engineering-staff-engineers @gitpod-io/team-enterprise
/components/components/scrubber @gitpod-io/engineering-staff-engineers @gitpod-io/team-enterprise
/components/content-service-api @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/content-service @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/dashboard @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/docker-up @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/ee/agent-smith @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/gitpod-cli @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/gitpod-db @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/gitpod-protocol @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/gitpod-protocol/java @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/gitpod-protocol/src/typings/globals.ts @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/ide @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/ide-metrics @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/ide-metrics-api @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/ide-service @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/ide-service-api @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/ide-proxy @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/image-builder-api @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/image-builder-bob @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/image-builder-mk3 @gitpod-io/team-engine @gitpod-io/team-enterprise
/install @gitpod-io/team-engine @gitpod-io/team-enterprise
# By default anything in in /install/installer is shared.
/install/installer
/install/installer/pkg/components/agent-smith @gitpod-io/team-engine @gitpod-io/team-enterprise
/install/installer/pkg/components/blobserve @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/components-ide @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/components-webapp @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/components-workspace @gitpod-io/team-engine @gitpod-io/team-enterprise
/install/installer/pkg/components/content-service @gitpod-io/team-engine @gitpod-io/team-enterprise
/install/installer/pkg/components/dashboard @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/ide-metrics @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/ide-service @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/ide-proxy @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/image-builder-mk3 @gitpod-io/team-engine @gitpod-io/team-enterprise
/install/installer/pkg/components/image-builder-mk3-wsman @gitpod-io/team-engine @gitpod-io/team-enterprise
/install/installer/pkg/components/openvsx-proxy @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/proxy @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/registry-facade @gitpod-io/team-engine @gitpod-io/team-enterprise
/install/installer/pkg/components/spicedb @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/public-api-server @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/server @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/server/ide @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/usage @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/usage-api @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/workspace @gitpod-io/team-engine @gitpod-io/team-enterprise
/install/installer/pkg/components/workspace/ide @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/ws-daemon @gitpod-io/team-engine @gitpod-io/team-enterprise
/install/installer/pkg/components/ws-manager-mk2 @gitpod-io/team-engine @gitpod-io/team-enterprise
/install/installer/pkg/components/ws-manager-bridge @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/ws-proxy @gitpod-io/team-engine @gitpod-io/team-enterprise
/install/installer/pkg/config/versions @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/local-app-api @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/local-app @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/openvsx-proxy @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/proxy @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/public-api @gitpod-io/team-experience @gitpod-io/team-enterprise
# Any team can make changes to the experimental package
/components/public-api/gitpod/experimental @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/public-api-server @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/registry-facade-api @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/registry-facade @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/server @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/server/src/ide-service.* @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/service-waiter @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/supervisor-api/*.proto @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/supervisor @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/usage @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/usage-api @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/workspacekit @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/ws-daemon-api @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/ws-daemon @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/ws-manager-api @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/ws-manager-bridge-api @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/ws-manager-bridge @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/ws-manager-mk2 @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/ws-proxy @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/node-labeler @gitpod-io/team-engine @gitpod-io/team-enterprise
/install/installer/pkg/components/node-labeler @gitpod-io/team-engine @gitpod-io/team-enterprise
/dev/gpctl @gitpod-io/team-engine @gitpod-io/team-enterprise
/dev/gpctl/api/ @gitpod-io/team-experience @gitpod-io/team-enterprise
/dev/loadgen @gitpod-io/team-engine @gitpod-io/team-enterprise

# Preview is shared between all teams.
/dev/preview

# Operations is shared between all teams
/operations
/operations/observability/mixins/IDE @gitpod-io/team-experience @gitpod-io/team-enterprise
/operations/observability/mixins/meta @gitpod-io/team-experience @gitpod-io/team-enterprise
/operations/observability/mixins/workspace @gitpod-io/team-engine @gitpod-io/team-enterprise
# a single review should be enough
/operations/observability/mixins/cross-teams

.github/workflows/ide-*.yml @gitpod-io/team-experience @gitpod-io/team-enterprise
.github/workflows/jetbrains-*.yml @gitpod-io/team-experience @gitpod-io/team-enterprise
.github/workflows/code-nightly.yml @gitpod-io/team-experience @gitpod-io/team-enterprise
.github/workflows/workspace-*.yml @gitpod-io/team-engine @gitpod-io/team-enterprise

#
# Automation
# The following files are updated automatically so we don't want to have a specific code-owner
# A single review is enough. Usually the review will be done by RoboQuat but we don't want to add
# that user as an owner in case we need to manually approve changes
#
/CHANGELOG.md
/components/ide/jetbrains/backend-plugin/gradle-latest.properties
/components/ide/jetbrains/gateway-plugin/gradle-latest.properties

#
# Add so that teams assert we're not breaking each other's integration tests
/test/pkg/agent @gitpod-io/team-engine @gitpod-io/team-enterprise
/test/pkg/integration @gitpod-io/team-experience @gitpod-io/team-engine @gitpod-io/team-enterprise
/test/pkg/report @gitpod-io/team-engine @gitpod-io/team-enterprise
/test/tests/workspace @gitpod-io/team-engine @gitpod-io/team-enterprise
/test/tests/smoke-test @gitpod-io/team-experience @gitpod-io/team-engine @gitpod-io/team-enterprise
/test/tests/ide @gitpod-io/team-experience @gitpod-io/team-enterprise
/test/tests/components/content-service @gitpod-io/team-engine @gitpod-io/team-enterprise
/test/tests/components/database @gitpod-io/team-experience @gitpod-io/team-enterprise
/test/tests/components/image-builder @gitpod-io/team-engine @gitpod-io/team-enterprise
/test/tests/components/server @gitpod-io/team-experience @gitpod-io/team-enterprise
/test/tests/components/ws-daemon @gitpod-io/team-engine @gitpod-io/team-enterprise
