Repository gitpod-io/gitpod, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gitpod-io/engineering-leadership, @gitpod-io/team-experience, @gitpod-io/team-enterprise, @gitpod-io/engineering-staff-engineers, @gitpod-io/team-engine

.github/CODEOWNERS:

#
# Changes to the CODEONWERS file have to get reviewed by Engineering Leadership.
#
/.github/CODEOWNERS @gitpod-io/engineering-leadership

/components/blobserve @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/common-go @gitpod-io/engineering-staff-engineers @gitpod-io/team-enterprise
/components/components/scrubber @gitpod-io/engineering-staff-engineers @gitpod-io/team-enterprise
/components/content-service-api @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/content-service @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/dashboard @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/docker-up @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/ee/agent-smith @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/gitpod-cli @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/gitpod-db @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/gitpod-protocol @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/gitpod-protocol/java @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/gitpod-protocol/src/typings/globals.ts @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/ide @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/ide-metrics @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/ide-metrics-api @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/ide-service @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/ide-service-api @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/ide-proxy @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/image-builder-api @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/image-builder-bob @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/image-builder-mk3 @gitpod-io/team-engine @gitpod-io/team-enterprise
/install @gitpod-io/team-engine @gitpod-io/team-enterprise
# By default anything in in /install/installer is shared.
/install/installer
/install/installer/pkg/components/agent-smith @gitpod-io/team-engine @gitpod-io/team-enterprise
/install/installer/pkg/components/blobserve @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/components-ide @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/components-webapp @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/components-workspace @gitpod-io/team-engine @gitpod-io/team-enterprise
/install/installer/pkg/components/content-service @gitpod-io/team-engine @gitpod-io/team-enterprise
/install/installer/pkg/components/dashboard @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/ide-metrics @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/ide-service @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/ide-proxy @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/image-builder-mk3 @gitpod-io/team-engine @gitpod-io/team-enterprise
/install/installer/pkg/components/image-builder-mk3-wsman @gitpod-io/team-engine @gitpod-io/team-enterprise
/install/installer/pkg/components/openvsx-proxy @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/proxy @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/registry-facade @gitpod-io/team-engine @gitpod-io/team-enterprise
/install/installer/pkg/components/spicedb @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/public-api-server @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/server @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/server/ide @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/usage @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/usage-api @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/workspace @gitpod-io/team-engine @gitpod-io/team-enterprise
/install/installer/pkg/components/workspace/ide @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/ws-daemon @gitpod-io/team-engine @gitpod-io/team-enterprise
/install/installer/pkg/components/ws-manager-mk2 @gitpod-io/team-engine @gitpod-io/team-enterprise
/install/installer/pkg/components/ws-manager-bridge @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/ws-proxy @gitpod-io/team-engine @gitpod-io/team-enterprise
/install/installer/pkg/config/versions @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/local-app-api @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/local-app @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/openvsx-proxy @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/proxy @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/public-api @gitpod-io/team-experience @gitpod-io/team-enterprise
# Any team can make changes to the experimental package
/components/public-api/gitpod/experimental @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/public-api-server @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/registry-facade-api @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/registry-facade @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/server @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/server/src/ide-service.* @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/service-waiter @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/supervisor-api/*.proto @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/supervisor @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/usage @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/usage-api @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/workspacekit @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/ws-daemon-api @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/ws-daemon @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/ws-manager-api @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/ws-manager-bridge-api @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/ws-manager-bridge @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/ws-manager-mk2 @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/ws-proxy @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/node-labeler @gitpod-io/team-engine @gitpod-io/team-enterprise
/install/installer/pkg/components/node-labeler @gitpod-io/team-engine @gitpod-io/team-enterprise
/dev/gpctl @gitpod-io/team-engine @gitpod-io/team-enterprise
/dev/gpctl/api/ @gitpod-io/team-experience @gitpod-io/team-enterprise
/dev/loadgen @gitpod-io/team-engine @gitpod-io/team-enterprise

# Preview is shared between all teams.
/dev/preview

# Operations is shared between all teams
/operations
/operations/observability/mixins/IDE @gitpod-io/team-experience @gitpod-io/team-enterprise
/operations/observability/mixins/meta @gitpod-io/team-experience @gitpod-io/team-enterprise
/operations/observability/mixins/workspace @gitpod-io/team-engine @gitpod-io/team-enterprise
# a single review should be enough
/operations/observability/mixins/cross-teams

.github/workflows/ide-*.yml @gitpod-io/team-experience @gitpod-io/team-enterprise
.github/workflows/jetbrains-*.yml @gitpod-io/team-experience @gitpod-io/team-enterprise
.github/workflows/code-nightly.yml @gitpod-io/team-experience @gitpod-io/team-enterprise
.github/workflows/workspace-*.yml @gitpod-io/team-engine @gitpod-io/team-enterprise

#
# Automation
# The following files are updated automatically so we don't want to have a specific code-owner
# A single review is enough. Usually the review will be done by RoboQuat but we don't want to add
# that user as an owner in case we need to manually approve changes
#
/CHANGELOG.md
/components/ide/jetbrains/backend-plugin/gradle-latest.properties
/components/ide/jetbrains/gateway-plugin/gradle-latest.properties

#
# Add so that teams assert we're not breaking each other's integration tests
/test/pkg/agent @gitpod-io/team-engine @gitpod-io/team-enterprise
/test/pkg/integration @gitpod-io/team-experience @gitpod-io/team-engine @gitpod-io/team-enterprise
/test/pkg/report @gitpod-io/team-engine @gitpod-io/team-enterprise
/test/tests/workspace @gitpod-io/team-engine @gitpod-io/team-enterprise
/test/tests/smoke-test @gitpod-io/team-experience @gitpod-io/team-engine @gitpod-io/team-enterprise
/test/tests/ide @gitpod-io/team-experience @gitpod-io/team-enterprise
/test/tests/components/content-service @gitpod-io/team-engine @gitpod-io/team-enterprise
/test/tests/components/database @gitpod-io/team-experience @gitpod-io/team-enterprise
/test/tests/components/image-builder @gitpod-io/team-engine @gitpod-io/team-enterprise
/test/tests/components/server @gitpod-io/team-experience @gitpod-io/team-enterprise
/test/tests/components/ws-daemon @gitpod-io/team-engine @gitpod-io/team-enterprise

Introduce org-level GITPOD_IMAGE_AUTH (#20538)
  components/dashboard/src/data/organizations/org-envvar-queries.ts
  components/dashboard/src/service/json-rpc-envvar-client.ts
  components/dashboard/src/teams/TeamSettings.tsx
  components/dashboard/src/teams/variables/NamedOrganizationEnvvarItem.tsx
  components/dashboard/src/teams/variables/OrganizationRemoveEnvvarModal.tsx
  components/gitpod-db/src/project-db.ts
  components/gitpod-db/src/team-db.ts
  components/gitpod-db/src/typeorm/entity/db-org-env-var.ts
  components/gitpod-db/src/typeorm/migration/1737449780009-OrgEnvVars.ts
  components/gitpod-db/src/typeorm/project-db-impl.ts
  components/gitpod-db/src/typeorm/team-db-impl.ts
  components/gitpod-protocol/src/protocol.ts
  components/public-api/gitpod/v1/envvar.proto
  components/public-api/go/v1/envvar.pb.go
  components/public-api/go/v1/envvar_grpc.pb.go
  components/public-api/go/v1/v1connect/envvar.connect.go
  components/public-api/go/v1/v1connect/envvar.proxy.connect.go
  components/public-api/java/src/main/java/io/gitpod/publicapi/v1/EnvironmentVariableServiceClient.kt
  components/public-api/java/src/main/java/io/gitpod/publicapi/v1/EnvironmentVariableServiceClientInterface.kt
  components/public-api/java/src/main/java/io/gitpod/publicapi/v1/Envvar.java
  components/public-api/typescript-common/fixtures/toOrganizationEnvironmentVariable_1.golden
  components/public-api/typescript-common/fixtures/toOrganizationEnvironmentVariable_1.json
  components/public-api/typescript-common/src/public-api-converter.spec.ts
  components/public-api/typescript-common/src/public-api-converter.ts
  components/public-api/typescript/src/gitpod/v1/envvar_connect.ts
  components/public-api/typescript/src/gitpod/v1/envvar_pb.ts
  components/server/src/api/envvar-service-api.ts
  components/server/src/authorization/definitions.ts
  components/server/src/user/env-var-service.spec.db.ts
  components/server/src/user/env-var-service.ts
  components/server/src/workspace/gitpod-server-impl.ts
  components/server/src/workspace/workspace-starter.ts
  components/spicedb/schema/schema.yaml
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

Update timestamp of DB migration
  components/gitpod-db/src/typeorm/migration/1737714449389-AddOrgSettingsCommitAnnotation.ts
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

Update Platform Version of JetBrains Backend Plugin (EAP) to
  components/ide/jetbrains/backend-plugin/gradle-latest.properties
Owners: none

Add optional, org-wide Gitpod commit annotation (#20525)
  components/dashboard/src/data/featureflag-query.ts
  components/dashboard/src/data/organizations/update-org-settings-mutation.ts
  components/dashboard/src/teams/TeamSettings.tsx
  components/gitpod-cli/cmd/git-commit-message-helper.go
  components/gitpod-cli/cmd/git-commit-message-helper_test.go
  components/gitpod-db/src/typeorm/entity/db-team-settings.ts
  components/gitpod-db/src/typeorm/migration/1737714449389-AddOrgSettingsCommitAnnotation.ts
  components/gitpod-db/src/typeorm/team-db-impl.ts
  components/gitpod-protocol/src/teams-projects-protocol.ts
  components/public-api/gitpod/v1/organization.proto
  components/public-api/go/v1/organization.pb.go
  components/public-api/java/src/main/java/io/gitpod/publicapi/v1/OrganizationOuterClass.java
  components/public-api/typescript-common/src/public-api-converter.ts
  components/public-api/typescript/src/gitpod/v1/organization_pb.ts
  components/server/src/api/organization-service-api.ts
  components/server/src/orgs/organization-service.ts
  components/server/src/workspace/workspace-starter.ts
  components/supervisor/pkg/supervisor/config.go
  components/supervisor/pkg/supervisor/supervisor.go
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

[JetBrains] display workspace name on the remote navbar
  components/ide/jetbrains/backend-plugin/src/main/kotlin/io/gitpod/jetbrains/remote/GitpodGatewayClientCustomizationProvider.kt
  components/server/src/workspace/workspace-starter.ts
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

debug whitelist JetBrains
  components/server/src/user/user-service.ts
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

[JetBrains] try it out
  .idea/gradle.xml
  .idea/misc.xml
  components/ide/jetbrains/toolbox/.gitattributes
  components/ide/jetbrains/toolbox/.gitignore
  components/ide/jetbrains/toolbox/README.md
  components/ide/jetbrains/toolbox/build.gradle.kts
  components/ide/jetbrains/toolbox/gradle.properties
  components/ide/jetbrains/toolbox/gradle/libs.versions.toml
  components/ide/jetbrains/toolbox/gradle/wrapper/gradle-wrapper.jar
  components/ide/jetbrains/toolbox/gradle/wrapper/gradle-wrapper.properties
  components/ide/jetbrains/toolbox/gradlew
  components/ide/jetbrains/toolbox/gradlew.bat
  components/ide/jetbrains/toolbox/settings.gradle.kts
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/auth/GitpodAuthManager.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/auth/GitpodLoginPage.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/components/AbstractUiPage.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/components/Button.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/components/Icon.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/gateway/GitpodGatewayExtension.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/gateway/GitpodRemoteProvider.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/gateway/GitpodRemoteProviderEnvironment.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/gateway/GitpodSSHEnvironmentContentsView.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/gateway/GitpodSettings.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/gateway/GitpodUriHandler.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/service/DataManager.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/service/GitpodConnectionProvider.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/service/GitpodPublicApiManager.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/service/GitpodWebSocketTunnelServer.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/service/Utils.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/utils/GitpodLogger.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/utils/await.kt
  components/ide/jetbrains/toolbox/src/main/resources/META-INF/services/com.jetbrains.toolbox.gateway.GatewayExtension
  components/ide/jetbrains/toolbox/src/main/resources/dependencies.json
  components/ide/jetbrains/toolbox/src/main/resources/extension.json
  components/ide/jetbrains/toolbox/src/main/resources/icon.svg
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

WIP: upgrade to latest version
  components/ide/jetbrains/toolbox/README.md
  components/ide/jetbrains/toolbox/build.gradle.kts
  components/ide/jetbrains/toolbox/gradle/libs.versions.toml
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/auth/GitpodAuthManager.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/auth/GitpodLoginPage.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/components/AbstractUiPage.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/components/Icon.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/gateway/GitpodRemoteProvider.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/gateway/GitpodRemoteProviderEnvironment.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/gateway/GitpodSSHEnvironmentContentsView.kt
  components/ide/jetbrains/toolbox/src/main/resources/extension.json
  components/ide/jetbrains/toolbox/src/main/resources/icon-colored.svg
  components/ide/jetbrains/toolbox/src/main/resources/icon.svg
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

Add TODO
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/gateway/GitpodRemoteProviderEnvironment.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/gateway/GitpodSSHEnvironmentContentsView.kt
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

Upgrade Kotlin to 2
  components/ide/jetbrains/toolbox/build.gradle.kts
  components/ide/jetbrains/toolbox/gradle/libs.versions.toml
  components/public-api/java/build.gradle.kts
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

TODO
  components/ide/jetbrains/toolbox/build.gradle.kts
  components/ide/jetbrains/toolbox/gradle/libs.versions.toml
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/auth/GitpodAuthManager.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/auth/GitpodLoginPage.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/gateway/GitpodRemoteEnvironment.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/gateway/GitpodRemoteProvider.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/gateway/GitpodSettings.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/gateway/GitpodUriHandler.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/service/GitpodPublicApiManager.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/service/GitpodWebSocketTunnelServer.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/service/Utils.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/utils/GitpodLogger.kt
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

Dev via Gitpod Flex
  .idea/misc.xml
  components/ide/jetbrains/toolbox/README.md
  components/ide/jetbrains/toolbox/build.gradle.kts
  components/ide/jetbrains/toolbox/flex-sync.sh
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

Migrate to `2.6.0.35616`
  components/ide/jetbrains/toolbox/BUILD.yaml
  components/ide/jetbrains/toolbox/build.gradle.kts
  components/ide/jetbrains/toolbox/build.sh
  components/ide/jetbrains/toolbox/gradle.properties
  components/ide/jetbrains/toolbox/gradle/libs.versions.toml
  components/ide/jetbrains/toolbox/gradle/wrapper/gradle-wrapper.properties
  components/ide/jetbrains/toolbox/settings.gradle.kts
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/auth/GitpodAuthManager.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/auth/GitpodLoginPage.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/components/AbstractUiPage.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/components/Button.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/components/Icon.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/gateway/GitpodGatewayExtension.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/gateway/GitpodRemoteEnvironment.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/gateway/GitpodRemoteEnvironmentContentsView.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/gateway/GitpodRemoteProvider.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/gateway/GitpodUriHandler.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/service/Data.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/service/GitpodConnectionProvider.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/service/GitpodPublicApiManager.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/service/GitpodWebSocketTunnelServer.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/service/Utils.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/utils/GitpodLogger.kt
  components/ide/jetbrains/toolbox/src/main/resources/META-INF/services/com.jetbrains.toolbox.api.remoteDev.RemoteDevExtension
  components/ide/jetbrains/toolbox/src/main/resources/extension.json
  components/ide/jetbrains/toolbox/src/main/resources/icon-colored.svg
  components/ide/jetbrains/toolbox/src/main/resources/icon-gray.svg
  components/ide/jetbrains/toolbox/src/main/resources/icon.svg
  components/public-api/java/build.gradle.kts
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

1
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/gateway/GitpodRemoteEnvironment.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/gateway/GitpodRemoteProvider.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/service/GitpodPublicApiManager.kt
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

Fix list keep show loading
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/gateway/GitpodRemoteProvider.kt
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

Reuse the same tunnel for an environment
  components/ide/jetbrains/toolbox/gradle/wrapper/gradle-wrapper.properties
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/auth/GitpodAuthManager.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/components/AbstractUiPage.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/gateway/GitpodRemoteEnvironment.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/gateway/GitpodRemoteEnvironmentContentsView.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/gateway/GitpodRemoteProvider.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/gateway/GitpodSSHEnvironmentContentsView.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/service/DataManager.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/service/GitpodConnectionProvider.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/service/GitpodPublicApiManager.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/service/GitpodWebSocketTunnelServer.kt
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

[ws-manager-mk2] Don't filter GITPOD_IMAGE_AUTH from env if it's set
  components/ws-manager-mk2/controllers/create.go
Owners: @gitpod-io/team-engine, @gitpod-io/team-enterprise

[docker-up] Read GITPOD_IMAGE_AUTH, and if set, call "docker login" for each host/credentials pair
  components/docker-up/docker-up/main.go
Owners: @gitpod-io/team-engine, @gitpod-io/team-enterprise

Remove unused Dashboard components and hooks
  components/dashboard/src/components/Card.tsx
  components/dashboard/src/components/RepositoryURL.tsx
  components/dashboard/src/components/SolidCard.tsx
  components/dashboard/src/data/auth-providers/get-auth-provider-query.ts
  components/dashboard/src/data/current-user/authenticated-user-query.ts
  components/dashboard/src/data/prebuilds/latest-project-prebuild-query.ts
  components/dashboard/src/data/projects/project-queries.ts
  components/dashboard/src/data/projects/set-project-env-var-mutation.ts
  components/dashboard/src/hooks/use-local-storage.ts
  components/dashboard/src/icons/GitpodEngraved.tsx
  components/dashboard/src/icons/IconEarlyAccess.tsx
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

[dashboard] team setting design polish + more consistent color use
  components/dashboard/src/components/ContextMenu.tsx
  components/dashboard/src/components/EmptyMessage.tsx
  components/dashboard/src/components/ItemsList.tsx
  components/dashboard/src/components/PrebuildLogs.tsx
  components/dashboard/src/components/UsageBasedBillingConfig.tsx
  components/dashboard/src/components/typography/headings.tsx
  components/dashboard/src/feedback-form/FeedbackComponent.tsx
  components/dashboard/src/index.css
  components/dashboard/src/menu/OrganizationSelector.tsx
  components/dashboard/src/onboarding/LinkedInBanner.tsx
  components/dashboard/src/prebuilds/list/PrebuildListEmptyState.tsx
  components/dashboard/src/prebuilds/list/PrebuildTable.tsx
  components/dashboard/src/repositories/list/RepoListEmptyState.tsx
  components/dashboard/src/repositories/list/RepositoryTable.tsx
  components/dashboard/src/start/StartWorkspace.tsx
  components/dashboard/src/teams/NewTeam.tsx
  components/dashboard/src/teams/TeamOnboarding.tsx
  components/dashboard/src/teams/TeamSettings.tsx
  components/dashboard/src/teams/variables/NamedOrganizationEnvvarItem.tsx
  components/dashboard/src/usage/UsageView.tsx
  components/dashboard/src/user-settings/EnvironmentVariables.tsx
  components/dashboard/src/user-settings/Integrations.tsx
  components/dashboard/src/user-settings/PersonalAccessTokens.tsx
  components/dashboard/src/user-settings/ShowTokenModal.tsx
  components/dashboard/src/workspaces/Workspaces.tsx
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

revert a debugging leftover
  components/dashboard/src/workspaces/Workspaces.tsx
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

[supervisor] Pass GITPOD_IMAGE_AUTH to docker-up
  components/supervisor/pkg/supervisor/config.go
  components/supervisor/pkg/supervisor/docker.go
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

Remove unused Dashboard components and hooks (#20546)
  components/dashboard/src/components/Card.tsx
  components/dashboard/src/components/RepositoryURL.tsx
  components/dashboard/src/components/SolidCard.tsx
  components/dashboard/src/data/auth-providers/get-auth-provider-query.ts
  components/dashboard/src/data/current-user/authenticated-user-query.ts
  components/dashboard/src/data/prebuilds/latest-project-prebuild-query.ts
  components/dashboard/src/data/projects/project-queries.ts
  components/dashboard/src/data/projects/set-project-env-var-mutation.ts
  components/dashboard/src/hooks/use-local-storage.ts
  components/dashboard/src/icons/GitpodEngraved.tsx
  components/dashboard/src/icons/IconEarlyAccess.tsx
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

[dashboard] team setting design polish + more consistent color use (#20547)
  components/dashboard/src/components/ContextMenu.tsx
  components/dashboard/src/components/EmptyMessage.tsx
  components/dashboard/src/components/ItemsList.tsx
  components/dashboard/src/components/PrebuildLogs.tsx
  components/dashboard/src/components/UsageBasedBillingConfig.tsx
  components/dashboard/src/components/typography/headings.tsx
  components/dashboard/src/feedback-form/FeedbackComponent.tsx
  components/dashboard/src/index.css
  components/dashboard/src/menu/OrganizationSelector.tsx
  components/dashboard/src/onboarding/LinkedInBanner.tsx
  components/dashboard/src/prebuilds/list/PrebuildListEmptyState.tsx
  components/dashboard/src/prebuilds/list/PrebuildTable.tsx
  components/dashboard/src/repositories/list/RepoListEmptyState.tsx
  components/dashboard/src/repositories/list/RepositoryTable.tsx
  components/dashboard/src/start/StartWorkspace.tsx
  components/dashboard/src/teams/NewTeam.tsx
  components/dashboard/src/teams/TeamOnboarding.tsx
  components/dashboard/src/teams/TeamSettings.tsx
  components/dashboard/src/teams/variables/NamedOrganizationEnvvarItem.tsx
  components/dashboard/src/usage/UsageView.tsx
  components/dashboard/src/user-settings/EnvironmentVariables.tsx
  components/dashboard/src/user-settings/Integrations.tsx
  components/dashboard/src/user-settings/PersonalAccessTokens.tsx
  components/dashboard/src/user-settings/ShowTokenModal.tsx
  components/dashboard/src/workspaces/Workspaces.tsx
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

Use workspace name
  components/dashboard/src/workspaces/RenameWorkspaceModal.tsx
  components/gitpod-protocol/src/protocol.ts
  components/server/src/workspace/workspace-starter.ts
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

[supervisor] Don't install git msg annotation hook in headless workspaces
  components/supervisor/pkg/supervisor/supervisor.go
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

chown hooks to gitpod user
  components/supervisor/pkg/supervisor/supervisor.go
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

Add user ID a query
  .idea/gradle.xml
  components/ide/jetbrains/launcher/main.go
  components/ide/jetbrains/toolbox/README.md
  components/ide/jetbrains/toolbox/sync-classic.sh
  components/ide/jetbrains/toolbox/sync-flex.sh
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

Make it build
  components/ide/jetbrains/backend-plugin/src/main/kotlin/io/gitpod/jetbrains/remote/GitpodClientProjectSessionTracker.kt
  components/ide/jetbrains/backend-plugin/src/main/kotlin/io/gitpod/jetbrains/remote/latest/GitpodClientProjectSessionTracker.kt
  components/ide/jetbrains/backend-plugin/src/main/kotlin/io/gitpod/jetbrains/remote/stable/GitpodClientProjectSessionTracker.kt
  components/ide/jetbrains/backend-plugin/src/main/resources-latest/META-INF/extensions.xml
  components/ide/jetbrains/backend-plugin/src/main/resources-stable/META-INF/extensions.xml
  components/ide/jetbrains/backend-plugin/src/main/resources/META-INF/plugin.xml
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

Fix rider
  components/ide/jetbrains/backend-plugin/src/main/kotlin/io/gitpod/jetbrains/remote/GitpodClientProjectSessionTracker.kt
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

Wait for content ready with git commit hooks
  components/supervisor/pkg/supervisor/supervisor.go
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

Move hook setup back inside `configureGit`
  components/supervisor/pkg/supervisor/supervisor.go
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

Clean up chowns
  components/supervisor/pkg/supervisor/supervisor.go
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

[supervisor] Don't install git msg annotation hook in headless workspaces (#20548)
  components/supervisor/pkg/supervisor/supervisor.go
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

[dashboard] re-order org docker auth config
  components/dashboard/src/dedicated-setup/SetupLayout.tsx
  components/dashboard/src/teams/TeamSettings.tsx
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

[server] implement `recommendedRepositories` API field
  components/gitpod-protocol/src/teams-projects-protocol.ts
  components/public-api/gitpod/v1/organization.proto
  components/public-api/go/v1/organization.pb.go
  components/public-api/java/src/main/java/io/gitpod/publicapi/v1/OrganizationOuterClass.java
  components/public-api/typescript-common/src/public-api-converter.ts
  components/public-api/typescript/src/gitpod/v1/organization_pb.ts
  components/server/src/api/organization-service-api.ts
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

update index
  components/blobserve/leeway.Dockerfile
  components/content-service/leeway.Dockerfile
  components/dashboard/leeway.Dockerfile
  components/ee/agent-smith/leeway.Dockerfile
  components/ide-metrics/leeway.Dockerfile
  components/ide-proxy/Dockerfile
  components/ide-service/leeway.Dockerfile
  components/ide/jetbrains/backend-plugin/leeway.Dockerfile
  components/ide/jetbrains/image/leeway.Dockerfile
  components/ide/jetbrains/launcher/leeway.Dockerfile
  components/image-builder-mk3/leeway.Dockerfile
  components/leeway.Dockerfile
  components/local-app/leeway.Dockerfile
  components/node-labeler/leeway.Dockerfile
  components/openvsx-proxy/leeway.Dockerfile
  components/proxy/Dockerfile
  components/public-api-server/leeway.Dockerfile
  components/registry-facade/leeway.Dockerfile
  components/service-waiter/leeway.Dockerfile
  components/usage/leeway.Dockerfile
  components/ws-daemon/leeway.Dockerfile
  components/ws-daemon/seccomp-profile-installer/leeway.Dockerfile
  components/ws-manager-mk2/leeway.Dockerfile
  components/ws-proxy/leeway.Dockerfile
  dev/changelog/leeway.Dockerfile
  install/installer/leeway.Dockerfile
  install/installer/pkg/components/redis/constants.go
  test/leeway.Dockerfile
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise, @gitpod-io/team-engine

[dashboard] implement org-suggested repositories
  components/dashboard/package.json
  components/dashboard/src/components/podkit/dropdown/DropDown.tsx
  components/dashboard/src/data/organizations/suggested-repositories-query.ts
  components/dashboard/src/data/organizations/update-org-settings-mutation.ts
  components/dashboard/src/repositories/list/RepoListItem.tsx
  components/dashboard/src/repositories/list/RepositoryTable.tsx
  components/dashboard/src/teams/TeamOnboarding.tsx
  components/dashboard/src/workspaces/Workspaces.tsx
  yarn.lock
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

[dashboard] Spacing and pill labels
  components/dashboard/src/repositories/list/RepoListItem.tsx
  components/dashboard/src/repositories/list/RepositoryTable.tsx
  components/dashboard/src/teams/TeamOnboarding.tsx
  components/server/src/api/organization-service-api.ts
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

[dashboard] re-order org docker auth config (#20555)
  components/dashboard/src/dedicated-setup/SetupLayout.tsx
  components/dashboard/src/teams/TeamSettings.tsx
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise
