Repository gitpod-io/gitpod, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gitpod-io/engineering-leadership, @gitpod-io/team-experience, @gitpod-io/team-enterprise, @gitpod-io/engineering-staff-engineers, @gitpod-io/team-engine

[scrubber] Changes to allow to extend scrubber (for scrubbing of genie data)) (#20377)
  components/scrubber/scrubber.go
Owners: none

[code] update code image layers
  install/installer/pkg/components/ide-service/ide-configmap.json
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

[code] update code image layers (#20376)
  install/installer/pkg/components/ide-service/ide-configmap.json
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

Add note about GitLab search
  components/server/src/gitlab/gitlab-repository-provider.ts
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

Update GHA
  .github/workflows/build.yml
Owners: none

Add ADO token definition
  .github/workflows/build.yml
Owners: none

Fix SCM integration tests and run them on build (#20379)
  .github/workflows/build.yml
  components/server/src/bitbucket-server/bitbucket-server-api.spec.ts
  components/server/src/bitbucket-server/bitbucket-server-api.ts
  components/server/src/bitbucket/bitbucket-repository-provider.spec.ts
  components/server/src/bitbucket/bitbucket-repository-provider.ts
  components/server/src/github/github-repository-provider.ts
  components/server/src/gitlab/gitlab-context-parser.spec.ts
  components/server/src/gitlab/gitlab-repository-provider.ts
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

[supervisor] init: Add logging around termination
  components/supervisor/cmd/init.go
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

Fix middot for VS Code desktop in IDE selector
  components/dashboard/src/components/SelectIDEComponent.tsx
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

Fix middot for VS Code desktop in IDE selector (#20381)
  components/dashboard/src/components/SelectIDEComponent.tsx
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

update index
  components/blobserve/leeway.Dockerfile
  components/content-service/leeway.Dockerfile
  components/dashboard/leeway.Dockerfile
  components/ee/agent-smith/leeway.Dockerfile
  components/ide-metrics/leeway.Dockerfile
  components/ide-proxy/Dockerfile
  components/ide-service/leeway.Dockerfile
  components/ide/jetbrains/backend-plugin/leeway.Dockerfile
  components/ide/jetbrains/image/leeway.Dockerfile
  components/ide/jetbrains/launcher/leeway.Dockerfile
  components/image-builder-mk3/leeway.Dockerfile
  components/leeway.Dockerfile
  components/local-app/leeway.Dockerfile
  components/node-labeler/leeway.Dockerfile
  components/openvsx-proxy/leeway.Dockerfile
  components/proxy/Dockerfile
  components/public-api-server/leeway.Dockerfile
  components/registry-facade/leeway.Dockerfile
  components/service-waiter/leeway.Dockerfile
  components/usage/leeway.Dockerfile
  components/ws-daemon/leeway.Dockerfile
  components/ws-daemon/seccomp-profile-installer/leeway.Dockerfile
  components/ws-manager-mk2/leeway.Dockerfile
  components/ws-proxy/leeway.Dockerfile
  dev/changelog/leeway.Dockerfile
  test/leeway.Dockerfile
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise, @gitpod-io/team-engine

Fix gitpod-web dockerfile
  components/ide/code/gitpod-web-extension/leeway.Dockerfile
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

[supervisor] init: Add logging around termination (#20380)
  components/supervisor/cmd/init.go
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

Update gitpod-web extension commit
  WORKSPACE.yaml
Owners: none

[code] Fix gitpod-web dockerfile (#20384)
  WORKSPACE.yaml
  components/ide/code/gitpod-web-extension/leeway.Dockerfile
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

[code] update code image layers
  install/installer/pkg/components/ide-service/ide-configmap.json
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

Update web extension for historic versions
  install/installer/pkg/components/ide-service/ide-configmap.json
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

[code] update code image layers (#20385)
  install/installer/pkg/components/ide-service/ide-configmap.json
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

update index (#20383)
  components/blobserve/leeway.Dockerfile
  components/content-service/leeway.Dockerfile
  components/dashboard/leeway.Dockerfile
  components/ee/agent-smith/leeway.Dockerfile
  components/ide-metrics/leeway.Dockerfile
  components/ide-proxy/Dockerfile
  components/ide-service/leeway.Dockerfile
  components/ide/jetbrains/backend-plugin/leeway.Dockerfile
  components/ide/jetbrains/image/leeway.Dockerfile
  components/ide/jetbrains/launcher/leeway.Dockerfile
  components/image-builder-mk3/leeway.Dockerfile
  components/leeway.Dockerfile
  components/local-app/leeway.Dockerfile
  components/node-labeler/leeway.Dockerfile
  components/openvsx-proxy/leeway.Dockerfile
  components/proxy/Dockerfile
  components/public-api-server/leeway.Dockerfile
  components/registry-facade/leeway.Dockerfile
  components/service-waiter/leeway.Dockerfile
  components/usage/leeway.Dockerfile
  components/ws-daemon/leeway.Dockerfile
  components/ws-daemon/seccomp-profile-installer/leeway.Dockerfile
  components/ws-manager-mk2/leeway.Dockerfile
  components/ws-proxy/leeway.Dockerfile
  dev/changelog/leeway.Dockerfile
  test/leeway.Dockerfile
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise, @gitpod-io/team-engine

Add files via upload
  Monitor Branch Protection Changes.yml
Owners: none

[ws-daemon] start backup even pod still report the container is running after 5 minutes
  components/workspacekit/cmd/rings.go
  components/ws-daemon/pkg/container/container.go
  components/ws-daemon/pkg/container/containerd.go
  components/ws-daemon/pkg/controller/workspace_controller.go
  components/ws-manager-api/go/crd/v1/workspace_types.go
  components/ws-manager-api/go/crd/v1/zz_generated.deepcopy.go
  components/ws-manager-mk2/config/crd/bases/workspace.gitpod.io_workspaces.yaml
  components/ws-manager-mk2/controllers/status.go
Owners: @gitpod-io/team-engine, @gitpod-io/team-enterprise

[ws-daemon] start backup even pod still report the container is running after 5 minutes (#20382)
  components/workspacekit/cmd/rings.go
  components/ws-daemon/pkg/container/container.go
  components/ws-daemon/pkg/container/containerd.go
  components/ws-daemon/pkg/controller/workspace_controller.go
  components/ws-manager-api/go/crd/v1/workspace_types.go
  components/ws-manager-api/go/crd/v1/zz_generated.deepcopy.go
  components/ws-manager-mk2/config/crd/bases/workspace.gitpod.io_workspaces.yaml
  components/ws-manager-mk2/controllers/status.go
Owners: @gitpod-io/team-engine, @gitpod-io/team-enterprise

refactor(Login): update layout and messaging for Gitpod Classic users
  components/dashboard/src/Login.tsx
  components/dashboard/src/images/gitpod-classic-card.png
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

Update permissions
  components/spicedb/schema/schema.yaml
Owners: none

Fix prebuild checks
  components/server/src/prebuilds/prebuild-manager.ts
  components/server/src/workspace/workspace-service.ts
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

Change names around
  components/server/src/prebuilds/prebuild-manager.ts
  components/server/src/workspace/workspace-service.ts
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

Enable collaborators (#20353)
  components/dashboard/src/data/git-providers/unified-repositories-search-query.ts
  components/dashboard/src/prebuilds/detail/PrebuildDetailPage.tsx
  components/server/src/prebuilds/prebuild-manager.ts
  components/server/src/projects/projects-service.ts
  components/server/src/workspace/context-service.ts
  components/server/src/workspace/suggested-repos-sorter.ts
  components/server/src/workspace/workspace-service.ts
  components/server/src/workspace/workspace-starter.ts
  components/spicedb/schema/schema.yaml
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

refactor(Login): update layout and messaging for Gitpod Classic users (#20388)
  components/dashboard/src/Login.tsx
  components/dashboard/src/images/gitpod-classic-card.png
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

[JetBrains] Update IDE images to new build version
  WORKSPACE.yaml
  install/installer/pkg/components/ide-service/ide-configmap.json
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

[server config] Introduce isDedicatedInstallation, and use it to replace isSIngleOrgInstallation
  components/gitpod-protocol/go/gitpod-service.go
  components/gitpod-protocol/src/protocol.ts
  components/server/src/auth/verification-service.ts
  components/server/src/config.ts
  components/server/src/workspace/gitpod-server-impl.ts
  dev/preview/workflow/preview/deploy-gitpod.sh
  install/installer/pkg/components/server/configmap.go
  install/installer/pkg/components/server/types.go
  install/installer/pkg/config/v1/experimental/experimental.go
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

Update Monitor Branch Protection Changes.yml
  Monitor Branch Protection Changes.yml
Owners: none

[server, dashboard] Remove enableDedicatedOnboardingFlow feature flag and replace is with getInstallationConfiguration.IsDedicatedInstallation
  components/dashboard/src/data/featureflag-query.ts
  components/dashboard/src/data/installation/default-workspace-image-query.ts
  components/dashboard/src/dedicated-setup/use-needs-setup.ts
  components/dashboard/src/dedicated-setup/use-show-dedicated-setup.ts
  components/dashboard/src/menu/OrganizationSelector.tsx
  components/dashboard/src/service/json-rpc-installation-client.ts
  components/public-api/gitpod/v1/installation.proto
  components/public-api/go/v1/installation.pb.go
  components/public-api/go/v1/installation_grpc.pb.go
  components/public-api/go/v1/v1connect/installation.connect.go
  components/public-api/go/v1/v1connect/installation.proxy.connect.go
  components/public-api/java/src/main/java/io/gitpod/publicapi/v1/Installation.java
  components/public-api/java/src/main/java/io/gitpod/publicapi/v1/InstallationServiceClient.kt
  components/public-api/java/src/main/java/io/gitpod/publicapi/v1/InstallationServiceClientInterface.kt
  components/public-api/typescript-common/src/public-api-converter.ts
  components/public-api/typescript/src/gitpod/v1/installation_connect.ts
  components/public-api/typescript/src/gitpod/v1/installation_pb.ts
  components/server/src/api/installation-service-api.ts
  components/server/src/auth/installation-service.ts
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

[dashboard, server] Remove "sinlgeOrgMode"
  components/dashboard/src/Login.tsx
  components/dashboard/src/dedicated-setup/use-needs-setup.ts
  components/dashboard/src/login/SSOLoginForm.tsx
  components/gitpod-db/src/team-db.ts
  components/gitpod-db/src/typeorm/team-db-impl.ts
  components/gitpod-protocol/src/gitpod-service.ts
  components/public-api/gitpod/v1/installation.proto
  components/public-api/go/v1/installation.pb.go
  components/public-api/java/src/main/java/io/gitpod/publicapi/v1/Installation.java
  components/public-api/typescript-common/src/public-api-converter.spec.ts
  components/public-api/typescript-common/src/public-api-converter.ts
  components/public-api/typescript/src/gitpod/v1/installation_pb.ts
  components/server/src/auth/installation-service.ts
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

[server] OrganizationService: block createTeam consistently for org-owned users
  components/server/src/orgs/organization-service.ts
  components/server/src/workspace/gitpod-server-impl.ts
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

Rename Monitor Branch Protection Changes.yml to .github/workflows/Monitor Branch Protection Changes.yml
  .github/workflows/Monitor Branch Protection Changes.yml
Owners: none

Update README.md
  README.md
Owners: none

Remove `JetBrainsPluginImagePrevious`
  dev/preview/workflow/preview/patch-ide-configmap.js
  install/installer/pkg/components/ide-service/ide-configmap.json
  install/installer/pkg/components/ide-service/ide_config_configmap.go
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

[JetBrains] Update IDE images to new build version (#20387)
  WORKSPACE.yaml
  dev/preview/workflow/preview/patch-ide-configmap.js
  install/installer/pkg/components/ide-service/ide-configmap.json
  install/installer/pkg/components/ide-service/ide_config_configmap.go
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

[server] move getToken api to separate group
  components/server/src/auth/rate-limiter.ts
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

[server] move getToken api to separate group (#20391)
  components/server/src/auth/rate-limiter.ts
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

.github/CODEOWNERS:

#
# Changes to the CODEONWERS file have to get reviewed by Engineering Leadership.
#
/.github/CODEOWNERS @gitpod-io/engineering-leadership

/components/blobserve @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/common-go @gitpod-io/engineering-staff-engineers @gitpod-io/team-enterprise
/components/components/scrubber @gitpod-io/engineering-staff-engineers @gitpod-io/team-enterprise
/components/content-service-api @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/content-service @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/dashboard @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/docker-up @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/ee/agent-smith @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/gitpod-cli @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/gitpod-db @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/gitpod-protocol @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/gitpod-protocol/java @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/gitpod-protocol/src/typings/globals.ts @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/ide @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/ide-metrics @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/ide-metrics-api @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/ide-service @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/ide-service-api @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/ide-proxy @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/image-builder-api @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/image-builder-bob @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/image-builder-mk3 @gitpod-io/team-engine @gitpod-io/team-enterprise
/install @gitpod-io/team-engine @gitpod-io/team-enterprise
# By default anything in in /install/installer is shared.
/install/installer
/install/installer/pkg/components/agent-smith @gitpod-io/team-engine @gitpod-io/team-enterprise
/install/installer/pkg/components/blobserve @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/components-ide @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/components-webapp @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/components-workspace @gitpod-io/team-engine @gitpod-io/team-enterprise
/install/installer/pkg/components/content-service @gitpod-io/team-engine @gitpod-io/team-enterprise
/install/installer/pkg/components/dashboard @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/ide-metrics @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/ide-service @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/ide-proxy @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/image-builder-mk3 @gitpod-io/team-engine @gitpod-io/team-enterprise
/install/installer/pkg/components/image-builder-mk3-wsman @gitpod-io/team-engine @gitpod-io/team-enterprise
/install/installer/pkg/components/openvsx-proxy @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/proxy @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/registry-facade @gitpod-io/team-engine @gitpod-io/team-enterprise
/install/installer/pkg/components/spicedb @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/public-api-server @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/server @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/server/ide @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/usage @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/usage-api @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/workspace @gitpod-io/team-engine @gitpod-io/team-enterprise
/install/installer/pkg/components/workspace/ide @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/ws-daemon @gitpod-io/team-engine @gitpod-io/team-enterprise
/install/installer/pkg/components/ws-manager-mk2 @gitpod-io/team-engine @gitpod-io/team-enterprise
/install/installer/pkg/components/ws-manager-bridge @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/ws-proxy @gitpod-io/team-engine @gitpod-io/team-enterprise
/install/installer/pkg/config/versions @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/local-app-api @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/local-app @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/openvsx-proxy @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/proxy @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/public-api @gitpod-io/team-experience @gitpod-io/team-enterprise
# Any team can make changes to the experimental package
/components/public-api/gitpod/experimental @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/public-api-server @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/registry-facade-api @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/registry-facade @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/server @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/server/src/ide-service.* @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/service-waiter @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/supervisor-api/*.proto @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/supervisor @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/usage @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/usage-api @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/workspacekit @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/ws-daemon-api @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/ws-daemon @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/ws-manager-api @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/ws-manager-bridge-api @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/ws-manager-bridge @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/ws-manager-mk2 @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/ws-proxy @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/node-labeler @gitpod-io/team-engine @gitpod-io/team-enterprise
/install/installer/pkg/components/node-labeler @gitpod-io/team-engine @gitpod-io/team-enterprise
/dev/gpctl @gitpod-io/team-engine @gitpod-io/team-enterprise
/dev/gpctl/api/ @gitpod-io/team-experience @gitpod-io/team-enterprise
/dev/loadgen @gitpod-io/team-engine @gitpod-io/team-enterprise

# Preview is shared between all teams.
/dev/preview

# Operations is shared between all teams
/operations
/operations/observability/mixins/IDE @gitpod-io/team-experience @gitpod-io/team-enterprise
/operations/observability/mixins/meta @gitpod-io/team-experience @gitpod-io/team-enterprise
/operations/observability/mixins/workspace @gitpod-io/team-engine @gitpod-io/team-enterprise
# a single review should be enough
/operations/observability/mixins/cross-teams

.github/workflows/ide-*.yml @gitpod-io/team-experience @gitpod-io/team-enterprise
.github/workflows/jetbrains-*.yml @gitpod-io/team-experience @gitpod-io/team-enterprise
.github/workflows/code-nightly.yml @gitpod-io/team-experience @gitpod-io/team-enterprise
.github/workflows/workspace-*.yml @gitpod-io/team-engine @gitpod-io/team-enterprise

#
# Automation
# The following files are updated automatically so we don't want to have a specific code-owner
# A single review is enough. Usually the review will be done by RoboQuat but we don't want to add
# that user as an owner in case we need to manually approve changes
#
/CHANGELOG.md
/components/ide/jetbrains/backend-plugin/gradle-latest.properties
/components/ide/jetbrains/gateway-plugin/gradle-latest.properties

#
# Add so that teams assert we're not breaking each other's integration tests
/test/pkg/agent @gitpod-io/team-engine @gitpod-io/team-enterprise
/test/pkg/integration @gitpod-io/team-experience @gitpod-io/team-engine @gitpod-io/team-enterprise
/test/pkg/report @gitpod-io/team-engine @gitpod-io/team-enterprise
/test/tests/workspace @gitpod-io/team-engine @gitpod-io/team-enterprise
/test/tests/smoke-test @gitpod-io/team-experience @gitpod-io/team-engine @gitpod-io/team-enterprise
/test/tests/ide @gitpod-io/team-experience @gitpod-io/team-enterprise
/test/tests/components/content-service @gitpod-io/team-engine @gitpod-io/team-enterprise
/test/tests/components/database @gitpod-io/team-experience @gitpod-io/team-enterprise
/test/tests/components/image-builder @gitpod-io/team-engine @gitpod-io/team-enterprise
/test/tests/components/server @gitpod-io/team-experience @gitpod-io/team-enterprise
/test/tests/components/ws-daemon @gitpod-io/team-engine @gitpod-io/team-enterprise
