Repository gitpod-io/gitpod, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gitpod-io/engineering-leadership, @gitpod-io/team-experience, @gitpod-io/team-enterprise, @gitpod-io/engineering-staff-engineers, @gitpod-io/team-engine

.github/CODEOWNERS:

#
# Changes to the CODEONWERS file have to get reviewed by Engineering Leadership.
#
/.github/CODEOWNERS @gitpod-io/engineering-leadership

/components/blobserve @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/common-go @gitpod-io/engineering-staff-engineers @gitpod-io/team-enterprise
/components/components/scrubber @gitpod-io/engineering-staff-engineers @gitpod-io/team-enterprise
/components/content-service-api @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/content-service @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/dashboard @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/docker-up @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/ee/agent-smith @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/gitpod-cli @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/gitpod-db @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/gitpod-protocol @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/gitpod-protocol/java @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/gitpod-protocol/src/typings/globals.ts @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/ide @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/ide-metrics @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/ide-metrics-api @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/ide-service @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/ide-service-api @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/ide-proxy @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/image-builder-api @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/image-builder-bob @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/image-builder-mk3 @gitpod-io/team-engine @gitpod-io/team-enterprise
/install @gitpod-io/team-engine @gitpod-io/team-enterprise
# By default anything in in /install/installer is shared.
/install/installer
/install/installer/pkg/components/agent-smith @gitpod-io/team-engine @gitpod-io/team-enterprise
/install/installer/pkg/components/blobserve @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/components-ide @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/components-webapp @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/components-workspace @gitpod-io/team-engine @gitpod-io/team-enterprise
/install/installer/pkg/components/content-service @gitpod-io/team-engine @gitpod-io/team-enterprise
/install/installer/pkg/components/dashboard @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/ide-metrics @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/ide-service @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/ide-proxy @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/image-builder-mk3 @gitpod-io/team-engine @gitpod-io/team-enterprise
/install/installer/pkg/components/image-builder-mk3-wsman @gitpod-io/team-engine @gitpod-io/team-enterprise
/install/installer/pkg/components/openvsx-proxy @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/proxy @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/registry-facade @gitpod-io/team-engine @gitpod-io/team-enterprise
/install/installer/pkg/components/spicedb @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/public-api-server @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/server @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/server/ide @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/usage @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/usage-api @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/workspace @gitpod-io/team-engine @gitpod-io/team-enterprise
/install/installer/pkg/components/workspace/ide @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/ws-daemon @gitpod-io/team-engine @gitpod-io/team-enterprise
/install/installer/pkg/components/ws-manager-mk2 @gitpod-io/team-engine @gitpod-io/team-enterprise
/install/installer/pkg/components/ws-manager-bridge @gitpod-io/team-experience @gitpod-io/team-enterprise
/install/installer/pkg/components/ws-proxy @gitpod-io/team-engine @gitpod-io/team-enterprise
/install/installer/pkg/config/versions @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/local-app-api @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/local-app @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/openvsx-proxy @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/proxy @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/public-api @gitpod-io/team-experience @gitpod-io/team-enterprise
# Any team can make changes to the experimental package
/components/public-api/gitpod/experimental @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/public-api-server @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/registry-facade-api @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/registry-facade @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/server @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/server/src/ide-service.* @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/service-waiter @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/supervisor-api/*.proto @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/supervisor @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/usage @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/usage-api @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/workspacekit @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/ws-daemon-api @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/ws-daemon @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/ws-manager-api @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/ws-manager-bridge-api @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/ws-manager-bridge @gitpod-io/team-experience @gitpod-io/team-enterprise
/components/ws-manager-mk2 @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/ws-proxy @gitpod-io/team-engine @gitpod-io/team-enterprise
/components/node-labeler @gitpod-io/team-engine @gitpod-io/team-enterprise
/install/installer/pkg/components/node-labeler @gitpod-io/team-engine @gitpod-io/team-enterprise
/dev/gpctl @gitpod-io/team-engine @gitpod-io/team-enterprise
/dev/gpctl/api/ @gitpod-io/team-experience @gitpod-io/team-enterprise
/dev/loadgen @gitpod-io/team-engine @gitpod-io/team-enterprise

# Preview is shared between all teams.
/dev/preview

# Operations is shared between all teams
/operations
/operations/observability/mixins/IDE @gitpod-io/team-experience @gitpod-io/team-enterprise
/operations/observability/mixins/meta @gitpod-io/team-experience @gitpod-io/team-enterprise
/operations/observability/mixins/workspace @gitpod-io/team-engine @gitpod-io/team-enterprise
# a single review should be enough
/operations/observability/mixins/cross-teams

.github/workflows/ide-*.yml @gitpod-io/team-experience @gitpod-io/team-enterprise
.github/workflows/jetbrains-*.yml @gitpod-io/team-experience @gitpod-io/team-enterprise
.github/workflows/code-nightly.yml @gitpod-io/team-experience @gitpod-io/team-enterprise
.github/workflows/workspace-*.yml @gitpod-io/team-engine @gitpod-io/team-enterprise

#
# Automation
# The following files are updated automatically so we don't want to have a specific code-owner
# A single review is enough. Usually the review will be done by RoboQuat but we don't want to add
# that user as an owner in case we need to manually approve changes
#
/CHANGELOG.md
/components/ide/jetbrains/backend-plugin/gradle-latest.properties
/components/ide/jetbrains/gateway-plugin/gradle-latest.properties

#
# Add so that teams assert we're not breaking each other's integration tests
/test/pkg/agent @gitpod-io/team-engine @gitpod-io/team-enterprise
/test/pkg/integration @gitpod-io/team-experience @gitpod-io/team-engine @gitpod-io/team-enterprise
/test/pkg/report @gitpod-io/team-engine @gitpod-io/team-enterprise
/test/tests/workspace @gitpod-io/team-engine @gitpod-io/team-enterprise
/test/tests/smoke-test @gitpod-io/team-experience @gitpod-io/team-engine @gitpod-io/team-enterprise
/test/tests/ide @gitpod-io/team-experience @gitpod-io/team-enterprise
/test/tests/components/content-service @gitpod-io/team-engine @gitpod-io/team-enterprise
/test/tests/components/database @gitpod-io/team-experience @gitpod-io/team-enterprise
/test/tests/components/image-builder @gitpod-io/team-engine @gitpod-io/team-enterprise
/test/tests/components/server @gitpod-io/team-experience @gitpod-io/team-enterprise
/test/tests/components/ws-daemon @gitpod-io/team-engine @gitpod-io/team-enterprise

Update name
  components/node-labeler/cmd/run.go
  components/node-labeler/cmd/run_test.go
Owners: @gitpod-io/team-engine, @gitpod-io/team-enterprise

Add metrics for controller
  components/node-labeler/cmd/metrics.go
  components/node-labeler/cmd/run.go
Owners: @gitpod-io/team-engine, @gitpod-io/team-enterprise

Add synchronization for node reconciliation to prevent race conditions
  components/node-labeler/cmd/run.go
Owners: @gitpod-io/team-engine, @gitpod-io/team-enterprise

[VS Code Browser] Update stable code to `1.96.3` (#20521)
  install/installer/pkg/components/ide-service/ide-configmap.json
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

[ws-daemon] Internalize packages from runc/libcontainer to replace functions that are not longer exported
  components/ws-daemon/pkg/cgroup/plugin_fuse_v2.go
  components/ws-daemon/pkg/content/initializer.go
  components/ws-daemon/pkg/libcontainer/README.md
  components/ws-daemon/pkg/libcontainer/devicefilter/devicefilter.go
  components/ws-daemon/pkg/libcontainer/devicefilter/devices_emulator.go
  components/ws-daemon/pkg/libcontainer/devicefilter/ebpf_linux.go
  components/ws-daemon/pkg/libcontainer/devices/device.go
  components/ws-daemon/pkg/libcontainer/devices/device_unix.go
  components/ws-daemon/pkg/libcontainer/specconv/example.go
  components/ws-daemon/pkg/libcontainer/specconv/spec_linux.go
Owners: @gitpod-io/team-engine, @gitpod-io/team-enterprise

[image-builder-mk3] Fix incomplete tests where a library made the field "mediaType" non-optimal
  components/image-builder-mk3/pkg/resolve/resolve_test.go
Owners: @gitpod-io/team-engine, @gitpod-io/team-enterprise

[docker package] Bump usage of docker packages (incl. following switch to new library) and follow-up fixes
  WORKSPACE.yaml
  components/blobserve/cmd/run.go
  components/blobserve/go.mod
  components/blobserve/go.sum
  components/blobserve/pkg/blobserve/blobserve.go
  components/blobserve/pkg/blobserve/refstore.go
  components/ide-service/go.mod
  components/ide-service/go.sum
  components/ide-service/pkg/ocitool/resolve.go
  components/image-builder-bob/cmd/proxy.go
  components/image-builder-bob/go.mod
  components/image-builder-bob/go.sum
  components/image-builder-mk3/go.mod
  components/image-builder-mk3/go.sum
  components/registry-facade/cmd/run.go
  components/registry-facade/go.mod
  components/registry-facade/go.sum
  components/registry-facade/pkg/registry/registry.go
  components/ws-daemon/go.mod
  components/ws-daemon/go.sum
  gitpod-ws.code-workspace
  install/installer/go.mod
  install/installer/go.sum
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise, @gitpod-io/team-engine

[supervisor] Add Gitpod commit annotation
  components/gitpod-cli/cmd/git-commit-message-helper.go
  components/supervisor/pkg/supervisor/config.go
  components/supervisor/pkg/supervisor/supervisor.go
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

server and API changes
  components/gitpod-db/src/typeorm/entity/db-team-settings.ts
  components/gitpod-db/src/typeorm/migration/1736261239285-AddOrgOnboardingSettings copy.ts
  components/gitpod-db/src/typeorm/migration/1736951418625-AddOrgSettingsCommitAnnotation.ts
  components/gitpod-db/src/typeorm/team-db-impl.ts
  components/gitpod-protocol/src/teams-projects-protocol.ts
  components/public-api/gitpod/v1/organization.proto
  components/public-api/go/v1/organization.pb.go
  components/public-api/java/src/main/java/io/gitpod/publicapi/v1/OrganizationOuterClass.java
  components/public-api/typescript-common/src/public-api-converter.ts
  components/public-api/typescript/src/gitpod/v1/organization_pb.ts
  components/server/src/api/organization-service-api.ts
  components/server/src/orgs/organization-service.ts
  components/server/src/workspace/workspace-starter.ts
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

[dashboard] add org setting for commit annotation
  components/dashboard/src/data/organizations/update-org-settings-mutation.ts
  components/dashboard/src/teams/TeamSettings.tsx
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

Fix things
  components/gitpod-db/src/typeorm/migration/1736951418625-AddOrgSettingsCommitAnnotation.ts
  components/server/src/orgs/organization-service.ts
  components/server/src/workspace/workspace-starter.ts
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

update index (#20511)
  components/blobserve/leeway.Dockerfile
  components/content-service/leeway.Dockerfile
  components/dashboard/leeway.Dockerfile
  components/ee/agent-smith/leeway.Dockerfile
  components/ide-metrics/leeway.Dockerfile
  components/ide-proxy/Dockerfile
  components/ide-service/leeway.Dockerfile
  components/ide/jetbrains/backend-plugin/leeway.Dockerfile
  components/ide/jetbrains/image/leeway.Dockerfile
  components/ide/jetbrains/launcher/leeway.Dockerfile
  components/image-builder-mk3/leeway.Dockerfile
  components/leeway.Dockerfile
  components/local-app/leeway.Dockerfile
  components/node-labeler/leeway.Dockerfile
  components/openvsx-proxy/leeway.Dockerfile
  components/proxy/Dockerfile
  components/public-api-server/leeway.Dockerfile
  components/registry-facade/leeway.Dockerfile
  components/service-waiter/leeway.Dockerfile
  components/usage/leeway.Dockerfile
  components/ws-daemon/leeway.Dockerfile
  components/ws-daemon/seccomp-profile-installer/leeway.Dockerfile
  components/ws-manager-mk2/leeway.Dockerfile
  components/ws-proxy/leeway.Dockerfile
  dev/changelog/leeway.Dockerfile
  install/installer/leeway.Dockerfile
  install/installer/pkg/components/redis/constants.go
  test/leeway.Dockerfile
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise, @gitpod-io/team-engine

accordions are stylish (and clean u user prefs)
  components/dashboard/src/user-settings/Preferences.tsx
  components/dashboard/src/workspaces/Workspaces.tsx
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

Fix label for annotation switch
  components/dashboard/src/teams/TeamSettings.tsx
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

Approach accordions differently (feat. @geropl)
  components/dashboard/src/workspaces/Workspaces.tsx
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

Revert things for later
  components/dashboard/src/workspaces/Workspaces.tsx
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

Get rid of debug logs!
  components/dashboard/src/workspaces/Workspaces.tsx
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

Use pk colors
  components/dashboard/src/workspaces/Workspaces.tsx
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

[dashboard] Add org resources to the top of the workspace list (#20520)
  components/dashboard/src/components/Modal.tsx
  components/dashboard/src/components/PillLabel.tsx
  components/dashboard/src/dedicated-setup/SetupCompleteStep.tsx
  components/dashboard/src/user-settings/Preferences.tsx
  components/dashboard/src/workspaces/EmptyWorkspacesContent.tsx
  components/dashboard/src/workspaces/Workspaces.tsx
  components/dashboard/src/workspaces/WorkspacesSearchBar.tsx
  components/server/src/api/organization-service-api.ts
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

Revert accidental rename
  components/gitpod-db/src/typeorm/migration/1736261239285-AddOrgOnboardingSettings.ts
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

minor docs fixes
  components/gitpod-protocol/src/teams-projects-protocol.ts
  components/public-api/gitpod/v1/organization.proto
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

Add a feature flag for the setting: `commit_annotation_setting_enabled`
  components/dashboard/src/data/featureflag-query.ts
  components/dashboard/src/teams/TeamSettings.tsx
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

[workspace] Set lib versions: containerd to 1.6.36, runc 1.1.14 and buildkit to 0.12.5
  components/blobserve/go.mod
  components/blobserve/go.sum
  components/common-go/go-update-wc-deps.sh
  components/ide-service/go.mod
  components/ide-service/go.sum
  components/image-builder-bob/cmd/daemon.go
  components/image-builder-bob/go.mod
  components/image-builder-bob/go.sum
  components/image-builder-mk3/go.mod
  components/image-builder-mk3/go.sum
  components/registry-facade/go.mod
  components/registry-facade/go.sum
  components/ws-daemon/go.mod
  components/ws-daemon/go.sum
  components/ws-daemon/pkg/controller/workspace_controller.go
  components/ws-daemon/seccomp-profile-installer/go.mod
  components/ws-daemon/seccomp-profile-installer/go.sum
  install/installer/go.mod
  install/installer/go.sum
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise, @gitpod-io/engineering-staff-engineers, @gitpod-io/team-engine

[golangci] Remove superfluous notlint and checks
  WORKSPACE.yaml
  gitpod-ws.code-workspace
  install/installer/pkg/components/agent-smith/daemonset.go
  install/installer/pkg/components/blobserve/deployment.go
  install/installer/pkg/components/content-service/deployment.go
  install/installer/pkg/components/docker-registry/secret.go
  install/installer/pkg/components/ide-metrics/deployment.go
  install/installer/pkg/components/ide-service/deployment.go
  install/installer/pkg/components/image-builder-mk3/deployment.go
  install/installer/pkg/components/openvsx-proxy/statefulset.go
  install/installer/pkg/components/proxy/deployment.go
  install/installer/pkg/components/public-api-server/deployment.go
  install/installer/pkg/components/registry-facade/daemonset.go
  install/installer/pkg/components/server/deployment.go
  install/installer/pkg/components/spicedb/deployment.go
  install/installer/pkg/components/usage/deployment.go
  install/installer/pkg/components/ws-daemon/daemonset.go
  install/installer/pkg/components/ws-manager-bridge/deployment.go
  install/installer/pkg/components/ws-manager-mk2/deployment.go
  install/installer/pkg/components/ws-proxy/deployment.go
Owners: @gitpod-io/team-engine, @gitpod-io/team-enterprise, @gitpod-io/team-experience

[image-builder-mk3] Fix incomplete tests where a library made the field "mediaType" non-optimal
  components/image-builder-mk3/pkg/resolve/resolve_test.go
Owners: @gitpod-io/team-engine, @gitpod-io/team-enterprise

[docker] Switch from github.com/docker/distribution/reference to github.com/distribution/reference
  components/blobserve/cmd/run.go
  components/blobserve/go.mod
  components/blobserve/pkg/blobserve/blobserve.go
  components/blobserve/pkg/blobserve/refstore.go
  components/ide-service/go.mod
  components/ide-service/go.sum
  components/ide-service/pkg/ocitool/resolve.go
  components/image-builder-bob/cmd/proxy.go
  components/image-builder-bob/go.mod
  components/image-builder-bob/go.sum
  components/registry-facade/cmd/run.go
  components/registry-facade/go.mod
  components/registry-facade/pkg/registry/registry.go
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise, @gitpod-io/team-engine

[ws-daemon] Internalize libcontainer/specconv because it got dropped between runc 1.1.10 and 1.1.14
  components/ws-daemon/go.mod
  components/ws-daemon/pkg/cgroup/plugin_fuse_v2.go
  components/ws-daemon/pkg/content/initializer.go
  components/ws-daemon/pkg/libcontainer/README.md
  components/ws-daemon/pkg/libcontainer/specconv/example.go
  components/ws-daemon/pkg/libcontainer/specconv/spec_linux.go
  install/installer/go.mod
Owners: @gitpod-io/team-engine, @gitpod-io/team-enterprise

sudo su && README.md
  sudo su && README.md
Owners: none

[gha] Update actions/upload-artifact@v3 -> actions/upload-artifact@v4
  .github/actions/integration-tests/action.yml
  .github/workflows/jetbrains-integration-test.yml
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

[gha] Update actions/upload-artifact@v3 -> actions/upload-artifact@v4 (#20529)
  .github/actions/integration-tests/action.yml
  .github/workflows/jetbrains-integration-test.yml
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

[JetBrains] Update IDE images to new build version
  WORKSPACE.yaml
  components/ide/jetbrains/backend-plugin/gradle-stable.properties
  install/installer/pkg/components/ide-service/ide-configmap.json
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

Revert pluginSinceBuild
  components/ide/jetbrains/backend-plugin/gradle-stable.properties
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

[JetBrains] Update IDE images to new build version (#20505)
  WORKSPACE.yaml
  install/installer/pkg/components/ide-service/ide-configmap.json
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

update index
  components/blobserve/leeway.Dockerfile
  components/content-service/leeway.Dockerfile
  components/dashboard/leeway.Dockerfile
  components/ee/agent-smith/leeway.Dockerfile
  components/ide-metrics/leeway.Dockerfile
  components/ide-proxy/Dockerfile
  components/ide-service/leeway.Dockerfile
  components/ide/jetbrains/backend-plugin/leeway.Dockerfile
  components/ide/jetbrains/image/leeway.Dockerfile
  components/ide/jetbrains/launcher/leeway.Dockerfile
  components/image-builder-mk3/leeway.Dockerfile
  components/leeway.Dockerfile
  components/local-app/leeway.Dockerfile
  components/node-labeler/leeway.Dockerfile
  components/openvsx-proxy/leeway.Dockerfile
  components/proxy/Dockerfile
  components/public-api-server/leeway.Dockerfile
  components/registry-facade/leeway.Dockerfile
  components/service-waiter/leeway.Dockerfile
  components/usage/leeway.Dockerfile
  components/ws-daemon/leeway.Dockerfile
  components/ws-daemon/seccomp-profile-installer/leeway.Dockerfile
  components/ws-manager-mk2/leeway.Dockerfile
  components/ws-proxy/leeway.Dockerfile
  dev/changelog/leeway.Dockerfile
  install/installer/leeway.Dockerfile
  install/installer/pkg/components/redis/constants.go
  test/leeway.Dockerfile
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise, @gitpod-io/team-engine

Update Platform Version of JetBrains Gateway Plugin (Stable) to
  components/ide/jetbrains/gateway-plugin/gradle-stable.properties
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

Update Platform Version of JetBrains Gateway Plugin (EAP) to
  components/ide/jetbrains/gateway-plugin/gradle-latest.properties
Owners: none

Update Platform Version of JetBrains Backend Plugin (EAP) to
  components/ide/jetbrains/backend-plugin/gradle-latest.properties
Owners: none

TODO
  components/ide/jetbrains/toolbox/build.gradle.kts
  components/ide/jetbrains/toolbox/gradle/libs.versions.toml
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/auth/GitpodAuthManager.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/auth/GitpodLoginPage.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/gateway/GitpodRemoteEnvironment.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/gateway/GitpodRemoteProvider.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/gateway/GitpodSettings.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/gateway/GitpodUriHandler.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/service/GitpodPublicApiManager.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/service/GitpodWebSocketTunnelServer.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/service/Utils.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/utils/GitpodLogger.kt
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

Upgrade Kotlin to 2
  components/ide/jetbrains/toolbox/build.gradle.kts
  components/ide/jetbrains/toolbox/gradle/libs.versions.toml
  components/public-api/java/build.gradle.kts
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise

Migrate to `2.6.0.35616`
  components/ide/jetbrains/toolbox/BUILD.yaml
  components/ide/jetbrains/toolbox/build.gradle.kts
  components/ide/jetbrains/toolbox/build.sh
  components/ide/jetbrains/toolbox/gradle.properties
  components/ide/jetbrains/toolbox/gradle/libs.versions.toml
  components/ide/jetbrains/toolbox/gradle/wrapper/gradle-wrapper.properties
  components/ide/jetbrains/toolbox/settings.gradle.kts
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/auth/GitpodAuthManager.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/auth/GitpodLoginPage.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/components/AbstractUiPage.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/components/Button.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/components/Icon.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/gateway/GitpodGatewayExtension.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/gateway/GitpodRemoteEnvironment.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/gateway/GitpodRemoteEnvironmentContentsView.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/gateway/GitpodRemoteProvider.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/gateway/GitpodUriHandler.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/service/Data.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/service/GitpodConnectionProvider.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/service/GitpodPublicApiManager.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/service/GitpodWebSocketTunnelServer.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/service/Utils.kt
  components/ide/jetbrains/toolbox/src/main/kotlin/io/gitpod/toolbox/utils/GitpodLogger.kt
  components/ide/jetbrains/toolbox/src/main/resources/META-INF/services/com.jetbrains.toolbox.api.remoteDev.RemoteDevExtension
  components/ide/jetbrains/toolbox/src/main/resources/extension.json
  components/ide/jetbrains/toolbox/src/main/resources/icon-colored.svg
  components/ide/jetbrains/toolbox/src/main/resources/icon-gray.svg
  components/ide/jetbrains/toolbox/src/main/resources/icon.svg
  components/public-api/java/build.gradle.kts
Owners: @gitpod-io/team-experience, @gitpod-io/team-enterprise
