Repository gitpod-io/gitpod, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gitpod-io/engineering-ide, @gitpod-io/engineering-staff-engineers, @gitpod-io/engineering-workspace, @gitpod-io/engineering-webapp, @gtsiolis, @gitpod-io/engineering-security-infrastructure-and-delivery, @csweichel, @akosyakov

.github/CODEOWNERS:

#
# For the CODEONWERS file we don't want to have a specific CODEOWNER.
# A single review from anyone who is allowed to review PRs is sufficent.
#
/.github/CODEOWNERS

/components/blobserve @gitpod-io/engineering-ide
/components/common-go @gitpod-io/engineering-staff-engineers
/components/components/scrubber @gitpod-io/engineering-staff-engineers
/components/content-service-api @gitpod-io/engineering-workspace
/components/content-service @gitpod-io/engineering-workspace
/components/dashboard @gitpod-io/engineering-webapp @gtsiolis
/components/docker-up @gitpod-io/engineering-workspace
/components/ee/agent-smith @gitpod-io/engineering-workspace
/components/gitpod-cli @gitpod-io/engineering-ide
/components/gitpod-db @gitpod-io/engineering-webapp
/components/gitpod-messagebus @gitpod-io/engineering-webapp
/components/gitpod-protocol @gitpod-io/engineering-webapp
/components/gitpod-protocol/java @gitpod-io/engineering-ide
/components/gitpod-protocol/src/typings/globals.ts @gitpod-io/engineering-ide
/components/ide @gitpod-io/engineering-ide
/components/ide-metrics @gitpod-io/engineering-ide
/components/ide-metrics-api @gitpod-io/engineering-ide
/components/ide-service @gitpod-io/engineering-ide
/components/ide-service-api @gitpod-io/engineering-ide
/components/ide-proxy @gitpod-io/engineering-ide
/components/image-builder-api @gitpod-io/engineering-workspace
/components/image-builder-bob @gitpod-io/engineering-workspace
/components/image-builder-mk3 @gitpod-io/engineering-workspace
/components/installation-telemetry @gitpod-io/engineering-security-infrastructure-and-delivery
/components/kots-config-check @gitpod-io/engineering-security-infrastructure-and-delivery
/install @gitpod-io/engineering-security-infrastructure-and-delivery
# By default anything in in /install/installer is shared.
/install/installer
/install/installer/pkg/components/agent-smith @gitpod-io/engineering-workspace
/install/installer/pkg/components/blobserve @gitpod-io/engineering-ide
/install/installer/pkg/components/components-ide @gitpod-io/engineering-ide
/install/installer/pkg/components/components-webapp @gitpod-io/engineering-webapp
/install/installer/pkg/components/components-workspace @gitpod-io/engineering-workspace
/install/installer/pkg/components/content-service @gitpod-io/engineering-workspace
/install/installer/pkg/components/dashboard @gitpod-io/engineering-webapp
/install/installer/pkg/components/ide-metrics @gitpod-io/engineering-ide
/install/installer/pkg/components/ide-service @gitpod-io/engineering-ide
/install/installer/pkg/components/ide-proxy @gitpod-io/engineering-ide
/install/installer/pkg/components/image-builder-mk3 @gitpod-io/engineering-workspace
/install/installer/pkg/components/image-builder-mk3-wsman @gitpod-io/engineering-workspace
/install/installer/pkg/components/openvsx-proxy @gitpod-io/engineering-ide
/install/installer/pkg/components/proxy @gitpod-io/engineering-webapp
/install/installer/pkg/components/registry-facade @gitpod-io/engineering-workspace
/install/installer/pkg/components/spicedb @gitpod-io/engineering-webapp
/install/installer/pkg/components/public-api-server @gitpod-io/engineering-webapp
/install/installer/pkg/components/server @gitpod-io/engineering-webapp
/install/installer/pkg/components/server/ide @gitpod-io/engineering-ide
/install/installer/pkg/components/usage @gitpod-io/engineering-webapp
/install/installer/pkg/components/usage-api @gitpod-io/engineering-webapp
/install/installer/pkg/components/workspace @gitpod-io/engineering-workspace
/install/installer/pkg/components/workspace/ide @gitpod-io/engineering-ide
/install/installer/pkg/components/ws-daemon @gitpod-io/engineering-workspace
/install/installer/pkg/components/ws-manager @gitpod-io/engineering-workspace
/install/installer/pkg/components/ws-manager-mk2 @gitpod-io/engineering-workspace
/install/installer/pkg/components/ws-manager-bridge @gitpod-io/engineering-webapp
/install/installer/pkg/components/ws-proxy @gitpod-io/engineering-workspace
/install/installer/pkg/config/versions @gitpod-io/engineering-ide
/components/local-app-api @csweichel @akosyakov
/components/local-app @gitpod-io/engineering-ide
/components/openvsx-proxy @gitpod-io/engineering-ide
/components/proxy @gitpod-io/engineering-webapp
/components/public-api @gitpod-io/engineering-webapp
# Any team can make changes to the experimental package
/components/public-api/gitpod/experimental @gitpod-io/engineering-webapp
/components/public-api-server @gitpod-io/engineering-webapp
/components/registry-facade-api @gitpod-io/engineering-workspace
/components/registry-facade @gitpod-io/engineering-workspace
/components/server @gitpod-io/engineering-webapp
/components/server/src/ide-service.* @gitpod-io/engineering-ide
/components/service-waiter @gitpod-io/engineering-webapp
/components/supervisor-api/*.proto @csweichel @akosyakov
/components/supervisor @gitpod-io/engineering-ide
/components/usage @gitpod-io/engineering-webapp
/components/usage-api @gitpod-io/engineering-webapp
/components/workspace-rollout-job @gitpod-io/engineering-workspace
/components/workspacekit @gitpod-io/engineering-workspace
/components/ws-daemon-api @gitpod-io/engineering-workspace
/components/ws-daemon @gitpod-io/engineering-workspace
/components/ws-manager-api @gitpod-io/engineering-workspace
/components/ws-manager-bridge-api @gitpod-io/engineering-webapp
/components/ws-manager-bridge @gitpod-io/engineering-webapp
/components/ws-manager @gitpod-io/engineering-workspace
/components/ws-manager-mk2 @gitpod-io/engineering-workspace
/components/ws-proxy @gitpod-io/engineering-workspace
/components/node-labeler @gitpod-io/engineering-workspace
/install/installer/pkg/components/node-labeler @gitpod-io/engineering-workspace
/dev/gpctl @gitpod-io/engineering-workspace
/dev/gpctl/api/ @gitpod-io/engineering-webapp
/dev/loadgen @gitpod-io/engineering-workspace

# Preview is shared between all teams.
/dev/preview

# Operations is shared between all teams
/operations
/operations/observability/mixins/IDE @gitpod-io/engineering-ide
/operations/observability/mixins/meta @gitpod-io/engineering-webapp
/operations/observability/mixins/workspace @gitpod-io/engineering-workspace
# a single review should be enough
/operations/observability/mixins/cross-teams

# werft is shared between all teams
/.werft
/.werft/ide-* @gitpod-io/engineering-ide
/.werft/platform-* @gitpod-io/engineering-security-infrastructure-and-delivery
/.werft/webapp-* @gitpod-io/engineering-webapp
/.werft/workspace-* @gitpod-io/engineering-workspace
/.werft/self-hosted-* @gitpod-io/engineering-security-infrastructure-and-delivery
/.werft/*installer-tests* @gitpod-io/engineering-security-infrastructure-and-delivery
/.werft/jobs/build/self-hosted-* @gitpod-io/engineering-security-infrastructure-and-delivery

.github/workflows/ide-*.yml @gitpod-io/engineering-ide
.github/workflows/jetbrains-*.yml @gitpod-io/engineering-ide
.github/workflows/code-nightly.yml @gitpod-io/engineering-ide
.github/workflows/workspace-*.yml @gitpod-io/engineering-workspace

#
# Automation
# The following files are updated automatically so we don't want to have a specific code-owner
# A single review is enough. Usually the review will be done by RoboQuat but we don't want to add
# that user as an owner in case we need to manually approve changes
#
/CHANGELOG.md
/components/ide/jetbrains/backend-plugin/gradle-latest.properties
/components/ide/jetbrains/gateway-plugin/gradle-latest.properties

#
# Add so that teams assert we're not breaking each other's integration tests
/test/pkg/agent @gitpod-io/engineering-workspace
/test/pkg/integration @gitpod-io/engineering-ide @gitpod-io/engineering-workspace
/test/pkg/report @gitpod-io/engineering-workspace
/test/tests/workspace @gitpod-io/engineering-workspace
/test/tests/smoke-test @gitpod-io/engineering-ide @gitpod-io/engineering-workspace
/test/tests/ide @gitpod-io/engineering-ide
/test/tests/components/content-service @gitpod-io/engineering-workspace
/test/tests/components/database @gitpod-io/engineering-webapp
/test/tests/components/image-builder @gitpod-io/engineering-workspace
/test/tests/components/server @gitpod-io/engineering-webapp
/test/tests/components/ws-daemon @gitpod-io/engineering-workspace
/test/tests/components/ws-manager @gitpod-io/engineering-workspace

Fix string map value issue
  components/scrubber/scrubber.go
  components/scrubber/scrubber_test.go
Owners: none

Add contextURL to the list of hashed keys
  components/scrubber/config.go
Owners: none

Show migration message after migration
  components/dashboard/src/data/featureflag-query.ts
  components/dashboard/src/whatsnew/MigrationPage.tsx
  components/gitpod-protocol/src/gitpod-service.ts
  components/gitpod-protocol/src/protocol.ts
  components/server/src/auth/rate-limiter.ts
  components/server/src/migration/user-to-team-migration-service.spec.db.ts
  components/server/src/migration/user-to-team-migration-service.ts
  components/server/src/user/user-service.ts
  components/server/src/workspace/gitpod-server-impl.ts
Owners: @gitpod-io/engineering-webapp, @gtsiolis

Update Platform Version of JetBrains Gateway Plugin (EAP) to 232.6095-EAP-CANDIDATE-SNAPSHOT
  components/ide/jetbrains/gateway-plugin/gradle-latest.properties
Owners: none

Update Platform Version of JetBrains Backend Plugin (EAP) to 232.6095-EAP-CANDIDATE-SNAPSHOT
  components/ide/jetbrains/backend-plugin/gradle-latest.properties
Owners: none

[idp] Add email to ID token
  components/public-api-server/pkg/apiv1/identityprovider.go
  components/public-api-server/pkg/apiv1/identityprovider_test.go
Owners: @gitpod-io/engineering-webapp

[installer] default the FSShiftMethod to ShiftFS (#17657)
  install/installer/pkg/config/v1/config.go
Owners: none

Update PR template
  .github/pull_request_template.md
Owners: none

[ws-manager-mk2] support storage quotas (#17606)
  components/ws-daemon/pkg/content/hooks.go
  components/ws-daemon/pkg/controller/mock.go
  components/ws-daemon/pkg/controller/mocks.go
  components/ws-daemon/pkg/controller/workspace_controller.go
  components/ws-daemon/pkg/controller/workspace_operations.go
  components/ws-manager-api/go/crd/v1/workspace_types.go
  components/ws-manager-mk2/config/crd/bases/workspace.gitpod.io_workspaces.yaml
  components/ws-manager-mk2/service/manager.go
  dev/preview/workflow/preview/deploy-gitpod.sh
  test/pkg/integration/disk-client.go
  test/tests/workspace/disk_test.go
Owners: @gitpod-io/engineering-workspace, @gitpod-io/engineering-ide

[idp] Claim that the email is verified
  components/public-api-server/pkg/apiv1/identityprovider.go
  components/public-api-server/pkg/apiv1/identityprovider_test.go
Owners: @gitpod-io/engineering-webapp

Incorporate review feedback
  components/public-api-server/pkg/apiv1/identityprovider_test.go
Owners: @gitpod-io/engineering-webapp

[idp] Add email to ID token (#17678)
  components/public-api-server/pkg/apiv1/identityprovider.go
  components/public-api-server/pkg/apiv1/identityprovider_test.go
Owners: @gitpod-io/engineering-webapp

Add dropdown2 shadow
  components/dashboard/src/components/DropDown2.tsx
Owners: @gitpod-io/engineering-webapp, @gtsiolis

fixing case
  components/dashboard/src/teams/git-integrations/GitIntegrationListItem.tsx
Owners: @gitpod-io/engineering-webapp, @gtsiolis

Consistency between Org Git Providers and User Authorizations (#17643)
  components/dashboard/src/teams/OrgSettingsPage.tsx
  components/dashboard/src/teams/git-integrations/GitIntegrationListItem.tsx
  components/dashboard/src/teams/git-integrations/GitIntegrationModal.tsx
  components/dashboard/src/teams/git-integrations/GitIntegrationsList.tsx
  components/dashboard/src/user-settings/Integrations.tsx
  components/dashboard/src/user-settings/PageWithSettingsSubMenu.tsx
Owners: @gitpod-io/engineering-webapp, @gtsiolis

Fix focusing for `<ContextMenu>`
  components/dashboard/src/components/ContextMenu.tsx
Owners: @gitpod-io/engineering-webapp, @gtsiolis

Text align start for reset buttons
  components/dashboard/src/index.css
Owners: @gitpod-io/engineering-webapp, @gtsiolis

Use a `<button>`
  components/dashboard/src/components/ContextMenu.tsx
Owners: @gitpod-io/engineering-webapp, @gtsiolis

Actions as semantic buttons
  components/dashboard/src/components/ContextMenu.tsx
  components/dashboard/src/index.css
Owners: @gitpod-io/engineering-webapp, @gtsiolis

feedback tweaks
  components/dashboard/src/teams/sso/OIDCClients.tsx
Owners: @gitpod-io/engineering-webapp, @gtsiolis

dropping todo
  components/dashboard/src/provider-utils.tsx
Owners: @gitpod-io/engineering-webapp, @gtsiolis

Correctly infer branch names
  components/server/src/workspace/context-parser.ts
Owners: @gitpod-io/engineering-webapp

Add startWorkspace api
  components/public-api-server/pkg/apiv1/workspace.go
  components/public-api-server/pkg/apiv1/workspace_test.go
  components/public-api/gitpod/experimental/v1/workspaces.proto
  components/public-api/go/experimental/v1/v1connect/workspaces.connect.go
  components/public-api/go/experimental/v1/v1connect/workspaces.proxy.connect.go
  components/public-api/go/experimental/v1/workspaces.pb.go
  components/public-api/go/experimental/v1/workspaces_grpc.pb.go
  components/public-api/typescript/src/gitpod/experimental/v1/workspaces_connectweb.ts
  components/public-api/typescript/src/gitpod/experimental/v1/workspaces_pb.ts
  components/server/src/api/workspaces.ts
Owners: @gitpod-io/engineering-webapp

[changelog] updated changelog
  CHANGELOG.md
Owners: none

Add new scopes to vscode client
  components/server/src/oauth-server/db.ts
Owners: @gitpod-io/engineering-webapp

Fix
  components/public-api-server/pkg/apiv1/workspace.go
Owners: @gitpod-io/engineering-webapp

Fix
  components/public-api-server/pkg/apiv1/workspace_test.go
Owners: @gitpod-io/engineering-webapp

[changelog] updated changelog
  CHANGELOG.md
Owners: none

Revert "Add support to forward https protocol port (#17644)"
  components/gitpod-protocol/data/gitpod-schema.json
  components/gitpod-protocol/go/gitpod-config-types.go
  components/gitpod-protocol/go/gitpod-service.go
  components/gitpod-protocol/src/protocol.ts
  components/gitpod-protocol/src/workspace-instance.ts
  components/public-api-server/pkg/apiv1/workspace.go
  components/public-api-server/pkg/apiv1/workspace_test.go
  components/public-api/gitpod/experimental/v1/workspaces.proto
  components/public-api/go/experimental/v1/workspaces.pb.go
  components/public-api/typescript/src/gitpod/experimental/v1/workspaces_pb.ts
  components/server/src/workspace/gitpod-server-impl.ts
  components/server/src/workspace/workspace-starter.ts
  components/supervisor-api/go/status.pb.go
  components/supervisor-api/status.proto
  components/supervisor/go.mod
  components/supervisor/go.sum
  components/supervisor/pkg/ports/exposed-ports.go
  components/supervisor/pkg/ports/ports-config.go
  components/supervisor/pkg/ports/ports.go
  components/supervisor/pkg/ports/ports_test.go
  components/supervisor/pkg/serverapi/publicapi.go
  components/ws-manager-api/core.proto
  components/ws-manager-api/go/core.pb.go
  components/ws-manager-api/go/crd/v1/workspace_types.go
  components/ws-manager-api/typescript/src/core_pb.d.ts
  components/ws-manager-api/typescript/src/core_pb.js
  components/ws-manager-bridge/src/bridge.ts
  components/ws-manager-mk2/config/crd/bases/workspace.gitpod.io_workspaces.yaml
  components/ws-manager-mk2/service/manager.go
  components/ws-manager/pkg/manager/manager.go
  components/ws-proxy/pkg/proxy/infoprovider.go
  components/ws-proxy/pkg/proxy/routes.go
Owners: @gitpod-io/engineering-webapp, @csweichel, @akosyakov, @gitpod-io/engineering-ide, @gitpod-io/engineering-workspace

Revert "use nftPortForwarder"
  components/supervisor/go.mod
  components/supervisor/go.sum
  components/supervisor/pkg/ports/ports.go
Owners: @gitpod-io/engineering-ide

[changelog] updated changelog
  CHANGELOG.md
Owners: none

Update Platform Version of JetBrains Backend Plugin (EAP) to 232.6095-EAP-CANDIDATE-SNAPSHOT (#17676)
  components/ide/jetbrains/backend-plugin/gradle-latest.properties
Owners: none

[server] install job for orgonly migration
  components/server/.vscode/launch.json
  components/server/src/container-module.ts
  components/server/src/jobs/org-only-migration-job.spec.db.ts
  components/server/src/jobs/org-only-migration-job.ts
  components/server/src/jobs/runner.ts
Owners: @gitpod-io/engineering-webapp

[ws-manager-mk2] Remove maintenance CM from installer
  components/ws-manager-mk2/controllers/maintenance_controller.go
  components/ws-manager-mk2/controllers/status.go
  components/ws-manager-mk2/controllers/suite_test.go
  components/ws-manager-mk2/controllers/timeout_controller.go
  components/ws-manager-mk2/pkg/maintenance/maintenance.go
  components/ws-manager-mk2/service/manager.go
  install/installer/pkg/components/ws-manager-mk2/configmap.go
  install/installer/pkg/components/ws-manager-mk2/constants.go
Owners: @gitpod-io/engineering-workspace

[server] delete duplicate auth provider (#17651)
  components/gitpod-db/src/auth-provider-entry.spec.db.ts
  components/gitpod-db/src/typeorm/migration/1684328022688-AuthProviderUniqueHostName.ts
  components/server/src/auth/auth-provider-service.ts
Owners: @gitpod-io/engineering-webapp

Revert "use nftPortForwarder" (#17690)
  components/supervisor/go.mod
  components/supervisor/go.sum
  components/supervisor/pkg/ports/ports.go
Owners: @gitpod-io/engineering-ide

Update Platform Version of JetBrains Gateway Plugin (EAP) to 232.6095-EAP-CANDIDATE-SNAPSHOT (#17675)
  components/ide/jetbrains/gateway-plugin/gradle-latest.properties
Owners: none

[server] update OIDC users on sign-in (email) – WEB-370 (#17633)
  components/server/src/iam/iam-session-app.spec.ts
  components/server/src/iam/iam-session-app.ts
  components/server/src/user/user-service.ts
Owners: @gitpod-io/engineering-webapp

[dashboard] handle no orgs
  components/dashboard/src/app/AppBlockingFlows.tsx
Owners: @gitpod-io/engineering-webapp, @gtsiolis

fix: add test for record not found
  components/public-api-server/pkg/apiv1/oidc.go
  components/public-api-server/pkg/apiv1/oidc_test.go
Owners: @gitpod-io/engineering-webapp
