Repository gitpod-io/gitpod, pull requests merged in 2021-06, with the labels that each got.

#4364 [dashboard] on 404 redirect to www
  components/dashboard/src/App.tsx
Labels: component: dashboard

#4410 [dashboard] Fix workspaces list dark text colors
  CHANGELOG.md
  components/dashboard/src/components/PendingChangesDropdown.tsx
  components/dashboard/src/workspaces/WorkspaceEntry.tsx
Labels: component: dashboard

#4111 Extend admin workspace search
  components/dashboard/src/admin/WorkspacesSearch.tsx
  components/gitpod-db/src/typeorm/workspace-db-impl.ts
  components/gitpod-db/src/workspace-db.spec.db.ts
Labels: component: admin-dashboard, feature: admin dashboard

#4462 [dashboard] Update GitLab integration settings URL
  components/dashboard/src/settings/Integrations.tsx
Labels: component: dashboard

#4463 dashboard(robotstxt): exclude from-referrer
  components/dashboard/public/robots.txt
Labels: component: dashboard, documentation

#4287 Modify the "New Git Integration" experience to align with provider terminology
  components/dashboard/src/settings/Integrations.tsx
Labels: community-contribution, component: dashboard

#4288 Removing secondary class from the main CTA button to give proper weight.
  components/dashboard/src/start/CreateWorkspace.tsx
Labels: community-contribution, component: dashboard

#4378 [dashboard] Add workspace status indicator color red for failed status
  components/dashboard/src/workspaces/WorkspaceEntry.tsx
  components/gitpod-protocol/src/workspace-instance.ts
Labels: component: dashboard

#4417 [dashboard] Remove margin-bottom from PageWithSubMenu
  components/dashboard/src/components/PageWithSubMenu.tsx
Labels: component: dashboard

#4447 feat(db): update examples in the dashboard
  components/gitpod-db/src/typeorm/migration/1623220362199-UpdateExamples.ts
Labels: changelog, component: dashboard

#4443 New Project > Select Repository
  components/dashboard/src/App.tsx
  components/dashboard/src/Menu.tsx
  components/dashboard/src/icons/Plus.svg
  components/dashboard/src/icons/Switch.svg
  components/dashboard/src/icons/search.svg
  components/dashboard/src/projects/NewProject.tsx
  components/dashboard/src/projects/Prebuilds.tsx
  components/dashboard/src/projects/Project.tsx
  components/dashboard/src/projects/Projects.tsx
  components/dashboard/src/projects/Settings.tsx
  components/dashboard/src/provider-utils.tsx
  components/gitpod-db/src/project-db.ts
  components/gitpod-db/src/typeorm/entity/db-project.ts
  components/gitpod-db/src/typeorm/migration/1622468446118-TeamsAndProjects.ts
  components/gitpod-db/src/typeorm/project-db-impl.ts
  components/gitpod-protocol/src/gitpod-service.ts
  components/gitpod-protocol/src/protocol.ts
  components/server/ee/src/container-module.ts
  components/server/ee/src/github/github-app-support.ts
  components/server/ee/src/prebuilds/github-app.ts
  components/server/ee/src/workspace/gitpod-server-impl.ts
  components/server/src/auth/rate-limiter.ts
  components/server/src/workspace/gitpod-server-impl.ts
Labels: component: dashboard, roadmap item: teams & projects

#4589 Add dodo to animals
  components/gitpod-protocol/src/util/generate-workspace-id.ts
Labels: community-contribution

#4614 [dashboard] Add Theia deprecation warning
  components/dashboard/src/settings/Preferences.tsx
Labels: component: dashboard

#4618 [dashboard] Fix monospaced fonts in Tailwind
  components/dashboard/tailwind.config.js
Labels: component: dashboard, user experience

#4398 [dashboard] Show a tooltip with billing cycle dates when hovering over remaining hours
  components/dashboard/src/settings/Plans.tsx
Labels: component: dashboard, user experience
