Repository gitpod-io/gitpod, pull requests merged in 2021-05, with the labels that each got.

#4170 [dashboard] Hide 'stopping' & unpinned workspaces from 'Active'
  components/dashboard/src/workspaces/workspace-model.ts
Labels: component: dashboard, user experience

#4232 Update marketing notifications label
  components/dashboard/src/settings/Notifications.tsx
Labels: component: dashboard, user experience

#4216 [workspacekit] Refactor lift command
  components/workspacekit/cmd/rings.go
  components/workspacekit/pkg/lift/lift.go
  components/workspacekit/pkg/seccomp/notify.go
Labels: language: go

#4252 [dashboard] Typo in install GitHub app modal
  components/dashboard/src/prebuilds/InstallGitHubApp.tsx
Labels: component: dashboard

#4253 [proxy] Cleanup caddy plugin build
  components/proxy/Dockerfile
  components/proxy/plugins/cors_origin.go
  components/proxy/plugins/go.mod
  components/proxy/plugins/workspace/go.mod
  components/proxy/plugins/workspace_download.go
Labels: component: proxy, type: improvement

#4313 [dashboard] Fix page titles
  components/dashboard/public/index.html
  components/dashboard/src/components/PageWithSubMenu.tsx
  components/dashboard/src/start/StartPage.tsx
  components/dashboard/src/workspaces/Workspaces.tsx
Labels: component: dashboard, user experience
