Repository gitpod-io/gitpod, pull requests merged in 2021-04, with the labels that each got.

#3720 [dashboard] fix limit drop down
  components/dashboard/src/workspaces/Workspaces.tsx
  components/dashboard/src/workspaces/workspace-model.ts
Labels: component: dashboard

#3688 fix error message typo
  components/dashboard/src/start/StartPage.tsx
  components/dashboard/src/start/StartWorkspace.tsx
Labels: community-contribution

#3683 [dashboard] handle /from-referrer
  components/dashboard/src/App.tsx
  components/dashboard/src/FromReferrer.tsx
Labels: component: dashboard, roadmap item: new dashboard

#3730 Minor dashboard updates
  components/dashboard/src/App.tsx
  components/dashboard/src/settings/Account.tsx
  components/dashboard/src/settings/Preferences.tsx
Labels: component: dashboard, user experience

#3740 [example] replace flask example
  components/gitpod-db/src/typeorm/migration/1617617125217-UpdateFlask.ts
Labels: component: dashboard

#3768 fix workspace file extension
  .gitpod.yml
  components/gitpod-protocol/go/gitpod-config_test.go
  gitpod-ws.code-workspace
Labels: component: ide

#3846 Call `/ide/bin/code` explicitely instead of relying on `PATH`
  components/ide/code/leeway.Dockerfile
Labels: community-contribution

#3784 [dashboard] Don't show workspaces with zero instances as 'active'
  components/dashboard/src/workspaces/workspace-model.ts
Labels: component: dashboard

#3785 [dashboard] Redirect to /blocked when trying to create or start a workspace while blocked
  components/dashboard/src/start/CreateWorkspace.tsx
  components/dashboard/src/start/StartWorkspace.tsx
Labels: component: dashboard

#3890 [admin] Fix typo in user search page of admin
  components/dashboard/src/admin/UserSearch.tsx
Labels: component: admin-dashboard

#3905 [image-builder] Fix build volume error message
  components/image-builder/pkg/builder/builder.go
Labels: component: image-builder

#3897 Add Select Account Modal
  components/dashboard/public/flow-result/index.html
  components/dashboard/src/Login.tsx
  components/dashboard/src/prebuilds/InstallGitHubApp.tsx
  components/dashboard/src/provider-utils.tsx
  components/dashboard/src/settings/Integrations.tsx
  components/dashboard/src/settings/SelectAccountModal.tsx
  components/dashboard/src/start/CreateWorkspace.tsx
  components/server/src/auth/generic-auth-provider.ts
Labels: component: dashboard

#3950 Handle "Email address is taken" on Login page
  components/dashboard/public/complete-auth/index.html
  components/dashboard/src/Login.tsx
  components/dashboard/src/prebuilds/InstallGitHubApp.tsx
  components/dashboard/src/provider-utils.tsx
  components/dashboard/src/settings/Integrations.tsx
  components/server/src/auth/errors.ts
  components/server/src/auth/generic-auth-provider.ts
  components/server/src/container-module.ts
  components/server/src/user/select-account-cookie.ts
  components/server/src/user/user-service.ts
Labels: aspect: auth, component: dashboard, type: improvement

#3845 [dashboard] fixing layout issues
  components/dashboard/src/settings/Integrations.tsx
  components/dashboard/src/settings/Teams.tsx
Labels: component: dashboard

#4007 [dashboard] fix actions button placement
  components/dashboard/src/settings/Integrations.tsx
Labels: component: dashboard

#3873 [dashboard] Re-implement 'Cancel Downgrade' in Plans page
  components/dashboard/src/settings/Plans.tsx
Labels: component: dashboard

#4021 [dashboard] Update theme preference selector
  components/dashboard/src/settings/Preferences.tsx
Labels: component: dashboard

#3872 clean up tokens on deauthorize
  components/server/src/user/user-service.ts
Labels: component: dashboard

#4027 [docs][scripts] fix broken README.md weblinks and refactor protoc-generator.sh
  README.md
  scripts/protoc-generator.sh
Labels: community-contribution

#4043 [server] Fix the 'addComment' and 'addBadge' prebuild features in the Gitpod GitHub App
  components/server/ee/src/prebuilds/github-app.ts
Labels: changelog

#4051 [dashboard] Ask user for confirmation before deleting an env variable + validate duplicate name and scope
  components/dashboard/src/settings/EnvironmentVariables.tsx
Labels: component: dashboard

#4084 [dashboard] Change default theme from 'system' to 'light'
  components/dashboard/src/App.tsx
  components/dashboard/src/settings/Preferences.tsx
Labels: component: dashboard

#4091 [dashboard] fix images on Select Account modal
  components/dashboard/src/settings/SelectAccountModal.tsx
Labels: component: dashboard

#4078 [dashboard] Standardize PendingChangesDropdown component in workspaces list (replaces Modal) and stopped page (unchanged)
  components/dashboard/src/components/PendingChangesDropdown.tsx
  components/dashboard/src/start/StartWorkspace.tsx
  components/dashboard/src/workspaces/WorkspaceEntry.tsx
Labels: component: dashboard

#3995 [dashboard/self-hosted] add Setup page
  components/dashboard/src/App.tsx
  components/dashboard/src/Login.tsx
  components/dashboard/src/Setup.tsx
  components/dashboard/src/prebuilds/InstallGitHubApp.tsx
  components/dashboard/src/provider-utils.tsx
  components/dashboard/src/settings/Integrations.tsx
  components/server/src/workspace/gitpod-server-impl.ts
Labels: component: dashboard, self-hosted
