Repository gitpod-io/gitpod, pull requests merged in 2021-01, with the labels that each got.

#2549 Update README
  README.md
Labels: docs

#2638 [server] github: allow branch names with special characters
  components/server/src/github/github-context-parser.ts
Labels: community-contribution, feature: context awareness

#2552 [ws-scheduler] Make ghost workspaces more effective by integrating them with scheduler
  chart/templates/ws-scheduler-clusterrole.yaml
  components/common-go/go.mod
  components/common-go/go.sum
  components/common-go/kubernetes/kubernetes.go
  components/ee/ws-scheduler/.gitignore
  components/ee/ws-scheduler/cmd/test-cluster-scaleup.go
  components/ee/ws-scheduler/pkg/scheduler/scheduler.go
  components/ee/ws-scheduler/pkg/scheduler/scheduler_test.go
  components/ee/ws-scheduler/pkg/scheduler/state.go
  components/ee/ws-scheduler/pkg/scheduler/state_test.go
  components/ee/ws-scheduler/pkg/scheduler/strategy.go
  components/ee/ws-scheduler/pkg/scheduler/strategy_test.go
  components/ws-manager/pkg/manager/manager.go
Labels: component: ws-scheduler
