Repository gitpod-io/gitpod, pull requests merged in 2021-02, with the labels that each got.

#3122 Reconfigure Prometheus buckets for workspace startup time histograms
  components/ws-manager-bridge/src/prometheus-metrics-exporter.ts
  components/ws-manager/pkg/manager/metrics.go
Labels: component: ws-manager

#3165 Enable messagebus metrics collection
  chart/templates/messagebus-deployment.yaml
  chart/values.yaml
Labels: component: messagebus

#3123 [admin dashboard] Add latest instance ID to workspace view
  components/dashboard/ee/src/components/admin/workspace-view.tsx
Labels: feature: admin dashboard

#3140 [admin] Rename stop workspace button
  components/dashboard/ee/src/components/admin/workspace-view.tsx
Labels: feature: admin dashboard

#3158 [dashboard] Improve awareness for automatic workspace deletion due to garbage collection
  components/dashboard/src/components/workspaces.tsx
Labels: component: dashboard

#3203 Update help link in garbage collection alert
  components/dashboard/src/components/workspaces.tsx
Labels: component: dashboard, user experience

#3209 Enable ws-scheduler metrics collection
  chart/values.yaml
Labels: component: ws-scheduler

#3226 [ws-manager] Field metadata.namespace cannot be empty
  components/ws-manager/pkg/manager/manager_test.go
  components/ws-manager/pkg/manager/testdata/controlPort_changeTargetPort.nt.golden
  components/ws-manager/pkg/manager/testdata/controlPort_changeTargetPort.nt.json
  components/ws-manager/pkg/manager/testdata/controlPort_changeVisibility.golden
  components/ws-manager/pkg/manager/testdata/controlPort_changeVisibility.json
  components/ws-manager/pkg/manager/testdata/controlPort_createPrivate.golden
  components/ws-manager/pkg/manager/testdata/controlPort_firstClose.json
  components/ws-manager/pkg/manager/testdata/controlPort_firstOpen_withTargetPort.golden
  components/ws-manager/pkg/manager/testdata/controlPort_secondOpen_withTargetPort.golden
  components/ws-manager/pkg/manager/testdata/controlPort_secondOpen_withTargetPort.json
Labels: component: ws-manager

#3227 [ws-manager] Fix invalid Requests definitions
  components/ws-manager/pkg/manager/testdata/cdwp_admission.golden
  components/ws-manager/pkg/manager/testdata/cdwp_duplicate_featureflag.golden
  components/ws-manager/pkg/manager/testdata/cdwp_fixedresources.golden
  components/ws-manager/pkg/manager/testdata/cdwp_fullworkspacebackup.golden
  components/ws-manager/pkg/manager/testdata/cdwp_ghost.golden
  components/ws-manager/pkg/manager/testdata/cdwp_prebuild.golden
  components/ws-manager/pkg/manager/testdata/cdwp_prebuild_template.golden
  components/ws-manager/pkg/manager/testdata/cdwp_prebuild_template_override_resources.golden
  components/ws-manager/pkg/manager/testdata/cdwp_probe.golden
  components/ws-manager/pkg/manager/testdata/cdwp_readinessprobe.golden
  components/ws-manager/pkg/manager/testdata/cdwp_tasks.golden
  components/ws-manager/pkg/manager/testdata/cdwp_template.golden
  components/ws-manager/pkg/manager/testdata/cdwp_timeout.golden
  components/ws-manager/pkg/manager/testdata/cdwp_userns.golden
  components/ws-manager/pkg/manager/testing_test.go
Labels: component: ws-manager
