Repository gitpod-io/gitpod, pull requests merged in 2021-03, with the labels that each got.

#3317 Fix code example
  install/docker/README.md
Labels: community-contribution

#3354 [docs] Add the February 2021 changelog.
  docs/changelog/2021-02/README.md
Labels: documentation

#3435 Properly seed the random number generator
  install/installer/main.go
Labels: community-contribution

#3416 Initialize all $extra_cors_* variables
  chart/config/proxy/lib.cors-server.conf
Labels: community-contribution

#3459 security: move security.txt to website from gitpod-io/gitpod
  components/dashboard/conf/conf.d/server-80.conf
  components/dashboard/public/.well-known/security.txt
Labels: aspect: security, component: dashboard

#3460 security: add SECURITY.md and security issue template redirect
  .github/ISSUE_TEMPLATE/config.yml
  SECURITY.md
Labels: aspect: security, documentation

#3456 [dashboard] Merge Account and Settings pages into a single sub-menu
  components/dashboard/src/App.tsx
  components/dashboard/src/account/Subscriptions.tsx
  components/dashboard/src/account/account-menu.ts
  components/dashboard/src/components/Menu.tsx
  components/dashboard/src/settings/Account.tsx
  components/dashboard/src/settings/DefaultIDE.tsx
  components/dashboard/src/settings/EnvironmentVariables.tsx
  components/dashboard/src/settings/GitIntegration.tsx
  components/dashboard/src/settings/GitIntegrations.tsx
  components/dashboard/src/settings/Notifications.tsx
  components/dashboard/src/settings/Plans.tsx
  components/dashboard/src/settings/settings-menu.ts
Labels: component: dashboard, user experience

#3471 [helm] allow disabling network policies via installNetworkPolicies
  chart/templates/blobserve-networkpolicy.yaml
  chart/templates/content-service-networkpolicy.yaml
  chart/templates/dashboard-deny-all-allow-explicit-networkpolicy.yaml
  chart/templates/db-deny-all-allow-explicit-networkpolicy.yaml
  chart/templates/image-builder-networkpolicy.yaml
  chart/templates/messagebus-allow-all-networkpolicy.yaml
  chart/templates/proxy-deny-all-allow-explicit-networkpolicy.yaml
  chart/templates/registry-facade-allow-all-networkpolicy.yaml
  chart/templates/server-deny-all-allow-explicit-networkpolicy.yaml
  chart/templates/workspace-networkpolicy-default.yaml
  chart/templates/ws-daemon-networkpolicy.yaml
  chart/templates/ws-manager-networkpolicy.yaml
  chart/templates/ws-proxy-networkpolicy.yaml
  chart/templates/ws-scheduler-networkpolicy.yaml
  chart/values.yaml
Labels: community-contribution, component: install

#3490 [vscode] fix default theme
  components/ide/code/leeway.Dockerfile
Labels: component: ide, editor: code, user experience

#3491 [dashboard] avatar menu
  components/dashboard/src/components/ContextMenu.tsx
  components/dashboard/src/components/Menu.tsx
  components/dashboard/src/components/StartPage.tsx
  components/dashboard/src/workspaces/WorkspaceEntry.tsx
Labels: component: dashboard, user experience

#3468 Correct check for number of installed packages
  components/image-builder/workspace-image-layer/gitpod-layer/debian/gitpod/layer.sh
Labels: community-contribution

#3627 [dashboard] Improve and fix workspace details on workspace list
  components/dashboard/src/components/Tooltip.tsx
  components/dashboard/src/workspaces/WorkspaceEntry.tsx
Labels: component: dashboard

#3618 [dashboard] Welcome existing users to new updates
  components/dashboard/README.md
  components/dashboard/src/App.tsx
  components/dashboard/src/WhatsNew.tsx
  components/dashboard/src/start/CreateWorkspace.tsx
  components/gitpod-protocol/src/protocol.ts
Labels: component: dashboard, roadmap item: new dashboard

#3642 [Dashboard] Welcome Page
  components/dashboard/src/Login.tsx
  components/dashboard/src/images/welcome/automate.svg
  components/dashboard/src/images/welcome/code.svg
  components/dashboard/src/images/welcome/collaborate.svg
  components/dashboard/src/images/welcome/customize.svg
  components/dashboard/src/images/welcome/fresh.svg
  components/dashboard/src/images/welcome/prebuild.svg
Labels: component: dashboard, roadmap item: new dashboard

#3633 [docker-up] Do not assume container is ubuntu
  components/docker-up/.gitignore
  components/docker-up/BUILD.yaml
  components/docker-up/dependencies.sh
  components/docker-up/docker-up/main.go
Labels: feature: docker in workspaces
